*.env
.idea/
flink-jobs/target/
/flink-jobs/project/project/target/
/flink-jobs/project/target/
/data/gateway/tmp/
/data/gateway/*.txt
/data/gateway/*.json
/data/gateway/*.ts
/data/gateway/*.sqlite3
/data/grafana/*.db
/data/grafana/csv
/data/grafana/pdf
/data/grafana/plugins
/data/grafana/png
/data/kafka/_*/
/data/kafka/*-0*/
/data/kafka/*-1*/
/data/kafka/*-2*/
/data/kafka/.kafka_cleanshutdown
/data/kafka/bootstrap.checkpoint
/data/kafka/cleaner-offset-checkpoint
/data/kafka/log-start-offset-checkpoint
/data/kafka/meta.properties
/data/kafka/replication-offset-checkpoint
/data/kafka/recovery-point-offset-checkpoint
/data/clickhouse/access
/data/clickhouse/data
/data/clickhouse/flags
/data/clickhouse/format_schemas
/data/clickhouse/metadata
/data/clickhouse/metadata_dropped
/data/clickhouse/preprocessed_configs
/data/clickhouse/store
/data/clickhouse/tmp
/data/clickhouse/user_files
/data/clickhouse/status
/data/clickhouse/uuid
/data/minio/.minio.sys
/data/minio/livepeer-events
/data/minio/livepeer-metrics
data/minio/streaming-events/topics/streaming_events/partition=**
/data/flink/jars/classes/
/data/flink/jars/sync/
/data/flink/jars/update/
/data/flink/jars/zinc/
/data/flink/jars/*.jar
/data/flink/tmp/checkpoints/**/_metadata
/data/kafka/.lock
/flink-jobs/output/
/flink-jobs/dependency-reduced-pom.xml
/webapp/
/data/minio/streaming-events
data/flink/tmp/checkpoints/.gitkeep
data/flink/tmp/savepoints/.gitkeep
data/kafka/.gitkeep
