openapi: 3.0.3
info:
  title: NAAP Analytics API
  version: "1"
  description: |
    Read-only analytics API for the Livepeer AI network.
    Backed by ClickHouse materialized views fed from two Kafka topics:
    `network_events` (daydream org) and `streaming_events` (cloudspe org).

    **Rate limiting:** 100 req/s sustained, burst 200 per IP.
    Exceeded requests receive `429 Too Many Requests`.

    **Default time window:** last 24 hours when `start`/`end` are omitted.

    **WEI values** (payment amounts) are returned as decimal strings to avoid
    float64 precision loss (e.g. `"1234500000000000000"`).

servers:
  - url: https://naap-api.livepeer.cloud
    description: Production
  - url: http://localhost:8000
    description: Local development

tags:
  - name: Health
  - name: Network
    description: Orchestrator network state (R1)
  - name: Streams
    description: Stream activity (R2)
  - name: Performance
    description: FPS, latency, and WebRTC quality (R3)
  - name: Payments
    description: Micropayment economics (R4)
  - name: Reliability
    description: Failure rates and events (R5)
  - name: Leaderboard
    description: Composite-scored orchestrator ranking (R6)
  - name: Gateways
    description: Gateway listing and profiles (R7)
  - name: Pipelines
    description: Cross-cutting pipeline analytics (R10)
  - name: Pricing
    description: Orchestrator AI model pricing (R11)
  - name: Capacity
    description: GPU supply vs. stream demand (R15)
  - name: SLA
    description: SLA compliance metrics per orchestrator/pipeline (ported from leaderboard-serverless)
  - name: Demand
    description: Network demand metrics per gateway/pipeline (ported from leaderboard-serverless)
  - name: GPUMetrics
    description: GPU performance metrics per orchestrator/pipeline (ported from leaderboard-serverless)
  - name: AIBatch
    description: AI batch job analytics — fixed pipelines (text-to-image, llm, etc.) (R17)
  - name: BYOC
    description: BYOC job analytics — dynamic capabilities (openai-*, etc.) (R18)
  - name: Dashboard
    description: Pre-aggregated, UI-ready endpoints for the NAAP dashboard widgets (R16)

# ── Common parameter definitions ──────────────────────────────────────────────

components:
  parameters:
    org:
      name: org
      in: query
      description: Filter to a single organisation. Omit for all orgs.
      schema:
        type: string
        enum: [daydream]
    start:
      name: start
      in: query
      description: Window start (RFC3339). Defaults to 24 hours ago.
      schema:
        type: string
        format: date-time
        example: "2026-03-01T00:00:00Z"
    end:
      name: end
      in: query
      description: Window end (RFC3339). Defaults to now.
      schema:
        type: string
        format: date-time
        example: "2026-03-24T23:59:59Z"
    limit:
      name: limit
      in: query
      description: Maximum rows to return (1–1000).
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        default: 50
    offset:
      name: offset
      in: query
      description: Pagination offset.
      schema:
        type: integer
        minimum: 0
        default: 0
    pipeline:
      name: pipeline
      in: query
      description: Filter by pipeline name (e.g. `text-to-image`).
      schema:
        type: string
    orch_address:
      name: orch_address
      in: query
      description: Filter by orchestrator Ethereum address (lowercased).
      schema:
        type: string
        example: ""
    active_only:
      name: active_only
      in: query
      description: When `true`, return only orchestrators active within the last 15 minutes.
      schema:
        type: boolean
        default: false
    stream_id:
      name: stream_id
      in: query
      schema:
        type: string
    failure_type:
      name: failure_type
      in: query
      description: Filter failure events by type.
      schema:
        type: string
        enum: [no_orch_available, orch_swap, inference_restart, inference_error]
    address_path:
      name: address
      in: path
      required: true
      description: Orchestrator Ethereum address (lowercased).
      schema:
        type: string
        example: ""
    window:
      name: window
      in: query
      description: |
        Lookback window as a duration string. Accepts Go duration syntax (`24h`, `90m`, `30s`)
        or a day suffix (`7d`). Capped per-endpoint — see endpoint description for limits.
      schema:
        type: string
        example: "24h"
        default: "24h"
    page:
      name: page
      in: query
      description: Page number (1-based).
      schema:
        type: integer
        minimum: 1
        default: 1
    page_size:
      name: page_size
      in: query
      description: Items per page (1–500).
      schema:
        type: integer
        minimum: 1
        maximum: 500
        default: 50
    orchestrator_address:
      name: orchestrator_address
      in: query
      description: Filter by orchestrator Ethereum address (lowercased).
      schema:
        type: string
        example: ""
    pipeline_id:
      name: pipeline_id
      in: query
      description: Filter by pipeline name (e.g. `streamdiffusion-sdxl-v2v`).
      schema:
        type: string
    model_id:
      name: model_id
      in: query
      description: Filter by model identifier.
      schema:
        type: string
    gpu_id:
      name: gpu_id
      in: query
      description: Filter by GPU slot identifier.
      schema:
        type: string
    gateway_filter:
      name: gateway
      in: query
      description: Filter by gateway Ethereum address.
      schema:
        type: string
    gpu_model_name:
      name: gpu_model_name
      in: query
      description: Filter by GPU model name (e.g. `RTX-4090`).
      schema:
        type: string
    runner_version:
      name: runner_version
      in: query
      description: Filter by runner software version.
      schema:
        type: string
    cuda_version:
      name: cuda_version
      in: query
      description: Filter by CUDA version string.
      schema:
        type: string
    region:
      name: region
      in: query
      description: Filter by geographic region (currently always null — reserved for future use).
      schema:
        type: string

  schemas:

    # ── AI Batch (R17) ───────────────────────────────────────────────────────

    AIBatchJobSummary:
      type: object
      properties:
        pipeline:        { type: string, description: "Fixed pipeline name (e.g. text-to-image, llm)" }
        total_jobs:      { type: integer, format: int64 }
        success_rate:    { type: number, format: double, description: "0.0–1.0" }
        avg_duration_ms: { type: number, format: double }
        avg_latency_score: { type: number, format: double }
      required: [pipeline, total_jobs, success_rate, avg_duration_ms, avg_latency_score]

    AIBatchJobRecord:
      type: object
      properties:
        request_id:    { type: string }
        org:           { type: string }
        gateway:       { type: string }
        pipeline:      { type: string }
        model_id:      { type: string }
        completed_at:  { type: string, format: date-time }
        success:       { type: boolean, nullable: true }
        tries:         { type: integer, format: int64 }
        duration_ms:   { type: integer, format: int64 }
        orch_url:      { type: string }
        latency_score: { type: number, format: double }
        price_per_unit: { type: number, format: double }
        error_type:    { type: string }
        error:         { type: string }
      required: [request_id, org, pipeline, completed_at]

    AIBatchLLMSummary:
      type: object
      properties:
        model:             { type: string }
        total_requests:    { type: integer, format: int64 }
        success_rate:      { type: number, format: double, description: "0.0–1.0" }
        avg_tokens_per_sec: { type: number, format: double }
        avg_ttft_ms:       { type: number, format: double }
        avg_total_tokens:  { type: number, format: double }
      required: [model, total_requests, success_rate, avg_tokens_per_sec, avg_ttft_ms, avg_total_tokens]

    # ── BYOC (R18) ───────────────────────────────────────────────────────────

    BYOCJobSummary:
      type: object
      description: |
        Per-capability aggregate for BYOC jobs. Capability values are stored
        verbatim (e.g. "openai-chat-completions") and never hardcoded.
      properties:
        capability:      { type: string }
        total_jobs:      { type: integer, format: int64 }
        success_rate:    { type: number, format: double, description: "0.0–1.0" }
        avg_duration_ms: { type: number, format: double }
      required: [capability, total_jobs, success_rate, avg_duration_ms]

    BYOCJobRecord:
      type: object
      properties:
        request_id:   { type: string }
        org:          { type: string }
        capability:   { type: string }
        completed_at: { type: string, format: date-time }
        success:      { type: boolean, nullable: true }
        duration_ms:  { type: integer, format: int64 }
        http_status:  { type: integer, format: int64 }
        orch_address: { type: string }
        orch_url:     { type: string }
        worker_url:   { type: string }
        error:        { type: string }
      required: [request_id, org, capability, completed_at]

    BYOCWorkerSummary:
      type: object
      properties:
        capability:        { type: string }
        worker_count:      { type: integer, format: int64 }
        models:
          type: array
          items: { type: string }
        avg_price_per_unit: { type: number, format: double }
      required: [capability, worker_count, models, avg_price_per_unit]

    BYOCAuthSummary:
      type: object
      properties:
        capability:    { type: string }
        total_events:  { type: integer, format: int64 }
        success_rate:  { type: number, format: double, description: "0.0–1.0" }
        failure_count: { type: integer, format: int64 }
      required: [capability, total_events, success_rate, failure_count]

    # ── Dashboard (R16) ──────────────────────────────────────────────────────

    DashboardMetricDelta:
      type: object
      properties:
        value: { type: number, format: double }
        delta: { type: number, format: double, description: "Period-over-period % change" }
      required: [value, delta]

    DashboardHourlyBucket:
      type: object
      properties:
        hour: { type: string, format: date-time }
        value: { type: number, format: double }
      required: [hour, value]

    DashboardKPI:
      type: object
      properties:
        successRate:          { $ref: "#/components/schemas/DashboardMetricDelta" }
        orchestratorsOnline:  { $ref: "#/components/schemas/DashboardMetricDelta" }
        dailyUsageMins:       { $ref: "#/components/schemas/DashboardMetricDelta", description: "Total stream-minutes from api_network_demand" }
        dailySessionCount:    { $ref: "#/components/schemas/DashboardMetricDelta" }
        dailyNetworkFeesEth:  { $ref: "#/components/schemas/DashboardMetricDelta" }
        timeframeHours:       { type: integer }
        hourlySessions:
          type: array
          items: { $ref: "#/components/schemas/DashboardHourlyBucket" }
        hourlyUsage:
          type: array
          items: { $ref: "#/components/schemas/DashboardHourlyBucket" }

    DashboardPipelineUsage:
      type: object
      properties:
        name:     { type: string }
        sessions: { type: integer, format: int64 }
        mins:     { type: number, format: double }
        avgFps:   { type: number, format: double }

    DashboardPipelineModelOffer:
      type: object
      properties:
        pipelineId: { type: string }
        modelIds:
          type: array
          items: { type: string }

    DashboardOrchestrator:
      type: object
      properties:
        address:              { type: string }
        ensName:              { type: string, description: "ENS name if registered, empty otherwise" }
        serviceUri:           { type: string, description: "Orchestrator service URI (e.g. https://host:8935)" }
        knownSessions:        { type: integer, format: int64 }
        successSessions:      { type: integer, format: int64 }
        successRatio:         { type: number, format: double }
        effectiveSuccessRate: { type: number, format: double, nullable: true }
        noSwapRatio:          { type: number, format: double, nullable: true }
        slaScore:             { type: number, format: double, nullable: true }
        pipelines:
          type: array
          items: { type: string }
        pipelineModels:
          type: array
          items: { $ref: "#/components/schemas/DashboardPipelineModelOffer" }
        gpuCount: { type: integer, format: int64 }

    DashboardGPUModelCapacity:
      type: object
      properties:
        model: { type: string }
        count: { type: integer, format: int64 }

    DashboardGPUCapacityPipelineModel:
      type: object
      properties:
        model: { type: string }
        gpus:  { type: integer, format: int64 }

    DashboardGPUCapacityPipeline:
      type: object
      properties:
        name: { type: string }
        gpus: { type: integer, format: int64 }
        models:
          type: array
          items: { $ref: "#/components/schemas/DashboardGPUCapacityPipelineModel" }

    DashboardGPUCapacity:
      type: object
      properties:
        totalGPUs:         { type: integer, format: int64 }
        activeGPUs:        { type: integer, format: int64 }
        availableCapacity: { type: number, format: double, description: "Fraction 0–1" }
        models:
          type: array
          items: { $ref: "#/components/schemas/DashboardGPUModelCapacity" }
        pipelineGPUs:
          type: array
          items: { $ref: "#/components/schemas/DashboardGPUCapacityPipeline" }

    DashboardPipelineCatalogEntry:
      type: object
      properties:
        id:      { type: string }
        name:    { type: string }
        models:
          type: array
          items: { type: string }
        regions:
          type: array
          items: { type: string }

    DashboardPipelinePricing:
      type: object
      properties:
        pipeline:           { type: string }
        model:              { type: string }
        orchCount:          { type: integer, format: int64 }
        priceMinWeiPerUnit: { type: integer, format: int64 }
        priceMaxWeiPerUnit: { type: integer, format: int64 }
        priceAvgWeiPerUnit: { type: number, format: double }
        pixelsPerUnit:      { type: integer, format: int64 }

    DashboardJobFeedItem:
      type: object
      properties:
        id:              { type: string }
        pipeline:        { type: string }
        model:           { type: string }
        gateway:         { type: string }
        orchestratorUrl: { type: string }
        state:           { type: string }
        inputFps:        { type: number, format: double }
        outputFps:       { type: number, format: double }
        firstSeen:       { type: string, format: date-time }
        lastSeen:        { type: string, format: date-time }
        durationSeconds: { type: number, format: double, nullable: true }

    # ── Shared ──────────────────────────────────────────────────────────────

    Problem:
      description: RFC 7807 Problem Details error response.
      type: object
      properties:
        type:
          type: string
          example: "about:blank"
        title:
          type: string
          example: "Too Many Requests"
        status:
          type: integer
          example: 429
        detail:
          type: string
          example: "rate limit exceeded"

    WEI:
      description: |
        Payment value in wei (1e-18 ETH), returned as a decimal string to
        preserve full uint64 precision.
      type: string
      pattern: "^[0-9]+$"
      example: "1234500000000000000"

    FPSStats:
      type: object
      properties:
        Avg:
          type: number
          format: double
        P5:
          type: number
          format: double
        P50:
          type: number
          format: double
        P99:
          type: number
          format: double

    # ── Network (R1) ────────────────────────────────────────────────────────

    NetworkSummary:
      type: object
      properties:
        Org:
          type: string
          example: ""
        SnapshotTime:
          type: string
          format: date-time
        TotalRegistered:
          type: integer
          format: int64
        TotalActive:
          type: integer
          format: int64
        ActiveThresholdMinutes:
          type: integer

    Orchestrator:
      type: object
      properties:
        Address:
          type: string
        Org:
          type: string
        Name:
          type: string
        URI:
          type: string
        Version:
          type: string
        LastSeen:
          type: string
          format: date-time
        IsActive:
          type: boolean
        RawCapabilities:
          type: string
          description: Raw JSON capabilities blob.

    GPUModel:
      type: object
      properties:
        Model:
          type: string
          example: "NVIDIA GeForce RTX 4090"
        Count:
          type: integer
          format: int64
        TotalVRAMGB:
          type: number
          format: double
        VRAMPerGPUGB:
          type: number
          format: double

    GPUSummary:
      type: object
      properties:
        TotalGPUs:
          type: integer
          format: int64
        TotalVRAMGB:
          type: number
          format: double
        ByModel:
          type: array
          items:
            $ref: "#/components/schemas/GPUModel"

    ModelAvailability:
      type: object
      properties:
        Pipeline:
          type: string
        Model:
          type: string
        WarmOrchCount:
          type: integer
          format: int64
        TotalCapacity:
          type: integer
          format: int64
        PriceMinWeiPerPixel:
          type: integer
          format: int64
        PriceMaxWeiPerPixel:
          type: integer
          format: int64
        PriceAvgWeiPerPixel:
          type: number
          format: double

    OrchProfile:
      type: object
      properties:
        Address:
          type: string
        Name:
          type: string
        URI:
          type: string
        Version:
          type: string
        Org:
          type: string
        LastSeen:
          type: string
          format: date-time
        IsActive:
          type: boolean
        StreamsHandled:
          type: integer
          format: int64
        AvgInferenceFPS:
          type: number
          format: double
        DegradedRate:
          type: number
          format: double
        AvgLatencyMS:
          type: number
          format: double
        RawCapabilities:
          type: string
          description: Raw JSON for GPU/model/pricing detail.

    # ── Streams (R2) ────────────────────────────────────────────────────────

    ActiveStreamsSummary:
      type: object
      properties:
        TotalActive:
          type: integer
          format: int64
        ActiveThresholdSeconds:
          type: integer
        ByOrg:
          type: object
          additionalProperties:
            type: integer
            format: int64
        ByPipeline:
          type: object
          additionalProperties:
            type: integer
            format: int64
        ByState:
          type: object
          additionalProperties:
            type: integer
            format: int64

    StreamSummary:
      type: object
      properties:
        StartTime:
          type: string
          format: date-time
        EndTime:
          type: string
          format: date-time
        TotalRequested:
          type: integer
          format: int64
        StartupSuccesses:
          type: integer
          format: int64
        NoOrchSessionCount:
          type: integer
          format: int64
        StartupSuccessRate:
          type: number
          format: double
          description: Fraction of requested sessions that reached startup success (0–1).
        NoOrchSessionRate:
          type: number
          format: double
        OrchSwapCount:
          type: integer
          format: int64

    StreamBucket:
      type: object
      properties:
        Timestamp:
          type: string
          format: date-time
        RequestedSessions:
          type: integer
          format: int64
        StartupSuccessSessions:
          type: integer
          format: int64
        NoOrchSessions:
          type: integer
          format: int64
        OrchSwapSessions:
          type: integer
          format: int64

    # ── Performance (R3) ────────────────────────────────────────────────────

    PipelineFPS:
      type: object
      properties:
        Pipeline:
          type: string
        InferenceFPS:
          $ref: "#/components/schemas/FPSStats"
        InputFPS:
          $ref: "#/components/schemas/FPSStats"
        SampleCount:
          type: integer
          format: int64

    OrchFPS:
      type: object
      properties:
        Address:
          type: string
        Name:
          type: string
        Pipeline:
          type: string
        InferenceFPS:
          $ref: "#/components/schemas/FPSStats"
        InputFPS:
          $ref: "#/components/schemas/FPSStats"
        SampleCount:
          type: integer
          format: int64

    FPSSummary:
      type: object
      properties:
        StartTime:
          type: string
          format: date-time
        EndTime:
          type: string
          format: date-time
        ByPipeline:
          type: array
          items:
            $ref: "#/components/schemas/PipelineFPS"
        ByOrchestrator:
          type: array
          items:
            $ref: "#/components/schemas/OrchFPS"

    FPSBucket:
      type: object
      properties:
        Timestamp:
          type: string
          format: date-time
        AvgInferenceFPS:
          type: number
          format: double
        AvgInputFPS:
          type: number
          format: double
        SampleCount:
          type: integer
          format: int64
        Degraded:
          type: boolean
          description: True when avg inference FPS drops ≥20% from the prior bucket.

    OrchLatency:
      type: object
      properties:
        Address:
          type: string
        Name:
          type: string
        AvgMS:
          type: number
          format: double
        P50MS:
          type: number
          format: double
        P95MS:
          type: number
          format: double
        P99MS:
          type: number
          format: double
        SampleCount:
          type: integer
          format: int64

    LatencySummary:
      type: object
      properties:
        NetworkAvgMS:
          type: number
          format: double
        ByOrchestrator:
          type: array
          items:
            $ref: "#/components/schemas/OrchLatency"

    WebRTCQuality:
      type: object
      properties:
        StartTime:
          type: string
          format: date-time
        EndTime:
          type: string
          format: date-time
        Video:
          type: object
          properties:
            AvgJitterMS:
              type: number
              format: double
            PacketLossRate:
              type: number
              format: double
        Audio:
          type: object
          properties:
            AvgJitterMS:
              type: number
              format: double
            PacketLossRate:
              type: number
              format: double
        ConnQuality:
          type: object
          properties:
            Good:
              type: number
              format: double
              description: Fraction of streams in good quality tier (0–1).
            Fair:
              type: number
              format: double
            Poor:
              type: number
              format: double

    # ── Payments (R4) ───────────────────────────────────────────────────────

    OrgPaymentTotal:
      type: object
      properties:
        TotalWEI:
          $ref: "#/components/schemas/WEI"
        Count:
          type: integer
          format: int64

    PaymentSummary:
      type: object
      properties:
        StartTime:
          type: string
          format: date-time
        EndTime:
          type: string
          format: date-time
        TotalPaymentsWEI:
          $ref: "#/components/schemas/WEI"
        PaymentEventCount:
          type: integer
          format: int64
        UniqueOrchestrators:
          type: integer
          format: int64
        ByOrg:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/OrgPaymentTotal"

    PaymentBucket:
      type: object
      properties:
        Timestamp:
          type: string
          format: date-time
        TotalWEI:
          $ref: "#/components/schemas/WEI"
        EventCount:
          type: integer
          format: int64
        UniqueOrchs:
          type: integer
          format: int64

    PipelinePayment:
      type: object
      properties:
        Pipeline:
          type: string
        TotalWEI:
          $ref: "#/components/schemas/WEI"
        EventCount:
          type: integer
          format: int64
        AvgPriceWeiPerPixel:
          type: number
          format: double

    OrchPayment:
      type: object
      properties:
        Address:
          type: string
        TotalReceivedWEI:
          $ref: "#/components/schemas/WEI"
        PaymentCount:
          type: integer
          format: int64

    # ── Reliability (R5) ────────────────────────────────────────────────────

    FailureBreakdown:
      type: object
      properties:
        NoOrchSessions:
          type: integer
          format: int64
        OrchSwap:
          type: integer
          format: int64
        InferenceRestart:
          type: integer
          format: int64
        InferenceError:
          type: integer
          format: int64
        DegradedInference:
          type: integer
          format: int64
        DegradedInput:
          type: integer
          format: int64

    ReliabilitySummary:
      type: object
      properties:
        StartTime:
          type: string
          format: date-time
        EndTime:
          type: string
          format: date-time
        StartupSuccessRate:
          type: number
          format: double
        NoOrchSessionRate:
          type: number
          format: double
        OrchSwapCount:
          type: integer
          format: int64
        OrchSwapRate:
          type: number
          format: double
        InferenceRestartRate:
          type: number
          format: double
        DegradedStateRate:
          type: number
          format: double
        FailureBreakdown:
          $ref: "#/components/schemas/FailureBreakdown"

    ReliabilityBucket:
      type: object
      properties:
        Timestamp:
          type: string
          format: date-time
        RequestedSessions:
          type: integer
          format: int64
        StartupSuccessRate:
          type: number
          format: double
          nullable: true
          description: Null when sample count is below minimum threshold (5 streams).
        NoOrchSessionRate:
          type: number
          format: double
          nullable: true
        DegradedRate:
          type: number
          format: double
          nullable: true

    OrchReliability:
      type: object
      properties:
        Address:
          type: string
        StreamsHandled:
          type: integer
          format: int64
        DegradedRate:
          type: number
          format: double
        RestartRate:
          type: number
          format: double
        ErrorRate:
          type: number
          format: double

    FailureEvent:
      type: object
      properties:
        Timestamp:
          type: string
          format: date-time
        FailureType:
          type: string
          enum: [no_orch_available, orch_swap, inference_restart, inference_error]
        StreamID:
          type: string
        RequestID:
          type: string
        Org:
          type: string
        Gateway:
          type: string
        Detail:
          type: string
          description: Raw JSON payload from the source event.

    # ── Leaderboard (R6) ────────────────────────────────────────────────────

    LeaderboardEntry:
      type: object
      properties:
        Address:
          type: string
        Name:
          type: string
        Score:
          type: number
          format: double
          description: |
            Composite score 0–100.
            Weights: FPS 30%, reliability (1−degraded) 30%, volume 20%, latency (inverted) 20%.
            Min-max normalised across the current result set.
        StreamsHandled:
          type: integer
          format: int64
        AvgInferenceFPS:
          type: number
          format: double
        DegradedRate:
          type: number
          format: double
        AvgLatencyMS:
          type: number
          format: double
        LastSeen:
          type: string
          format: date-time
        IsActive:
          type: boolean

    # ── Gateways (R7) ──────────────────────────────────────────────────────

    Gateway:
      type: object
      properties:
        Address: { type: string }
        Name: { type: string }
        Avatar: { type: string }
        DepositWEI: { $ref: "#/components/schemas/WEI" }
        ReserveWEI: { $ref: "#/components/schemas/WEI" }
        UpdatedAt: { type: string, format: date-time }
        ActiveStreams: { type: integer, format: int64 }

    GatewayProfile:
      type: object
      properties:
        Address: { type: string }
        Name: { type: string }
        Avatar: { type: string }
        DepositWEI: { $ref: "#/components/schemas/WEI" }
        ReserveWEI: { $ref: "#/components/schemas/WEI" }
        UpdatedAt: { type: string, format: date-time }
        StreamsRouted: { type: integer, format: int64 }
        ActiveStreams: { type: integer, format: int64 }
        TotalPaymentsWEI: { $ref: "#/components/schemas/WEI" }
        OrchsUsed:
          type: array
          items: { type: string }

    GatewayOrch:
      type: object
      properties:
        OrchAddress: { type: string }
        Name: { type: string }
        StreamCount: { type: integer, format: int64 }
        LastSeen: { type: string, format: date-time }

    # ── Stream Extensions (R8) ───────────────────────────────────────────────

    StreamStatusSample:
      type: object
      properties:
        SampleTS: { type: string, format: date-time }
        Org: { type: string }
        StreamID: { type: string }
        Gateway: { type: string }
        OrchAddress: { type: string }
        Pipeline: { type: string }
        State: { type: string }
        OutputFPS: { type: number, format: double }
        InputFPS: { type: number, format: double }
        E2ELatencyMS: { type: number, format: double }
        IsAttributed: { type: boolean }

    StreamDetail:
      type: object
      properties:
        StreamID: { type: string }
        Org: { type: string }
        Pipeline: { type: string }
        Gateway: { type: string }
        OrchAddress: { type: string }
        State: { type: string }
        StartedAt: { type: string, format: date-time }
        LastSeen: { type: string, format: date-time }
        IsClosed: { type: boolean }
        HasFailure: { type: boolean }
        Samples:
          type: array
          items: { $ref: "#/components/schemas/StreamStatusSample" }

    AttributionSummary:
      type: object
      properties:
        StartTime: { type: string, format: date-time }
        EndTime: { type: string, format: date-time }
        TotalSamples: { type: integer, format: int64 }
        AttributedCount: { type: integer, format: int64 }
        UnattributedCount: { type: integer, format: int64 }
        AttributionRate: { type: number, format: double, description: "Fraction of samples with a resolved orch address (0–1)." }

    # ── E2E Latency (R9) ────────────────────────────────────────────────────

    E2ELatencyStats:
      type: object
      properties:
        AvgMS: { type: number, format: double }
        P50MS: { type: number, format: double }
        P95MS: { type: number, format: double }
        P99MS: { type: number, format: double }
        SampleCount: { type: integer, format: int64 }

    PipelineE2ELatency:
      type: object
      properties:
        Pipeline: { type: string }
        AvgMS: { type: number, format: double }
        P50MS: { type: number, format: double }
        P95MS: { type: number, format: double }
        P99MS: { type: number, format: double }
        SampleCount: { type: integer, format: int64 }

    OrchE2ELatency:
      type: object
      properties:
        Address: { type: string }
        Pipeline: { type: string }
        AvgMS: { type: number, format: double }
        P50MS: { type: number, format: double }
        P95MS: { type: number, format: double }
        P99MS: { type: number, format: double }
        SampleCount: { type: integer, format: int64 }

    E2ELatencySummary:
      type: object
      properties:
        StartTime: { type: string, format: date-time }
        EndTime: { type: string, format: date-time }
        Overall: { $ref: "#/components/schemas/E2ELatencyStats" }
        ByPipeline:
          type: array
          items: { $ref: "#/components/schemas/PipelineE2ELatency" }
        ByOrchestrator:
          type: array
          items: { $ref: "#/components/schemas/OrchE2ELatency" }

    E2ELatencyBucket:
      type: object
      properties:
        Timestamp: { type: string, format: date-time }
        AvgMS: { type: number, format: double }
        P50MS: { type: number, format: double }
        P95MS: { type: number, format: double }
        SampleCount: { type: integer, format: int64 }

    # ── Pipelines (R10) ─────────────────────────────────────────────────────

    PipelineSummary:
      type: object
      properties:
        Pipeline: { type: string }
        ActiveStreams: { type: integer, format: int64 }
        RequestedCount: { type: integer, format: int64 }
        SuccessRate: { type: number, format: double }
        AvgInferenceFPS: { type: number, format: double }
        TotalPaymentsWEI: { $ref: "#/components/schemas/WEI" }
        WarmOrchCount: { type: integer, format: int64 }
        TopOrchAddress: { type: string }

    ModelPipelineStats:
      type: object
      properties:
        ModelID: { type: string }
        WarmOrchCount: { type: integer, format: int64 }
        AvgFPS: { type: number, format: double }

    PipelineDetail:
      type: object
      properties:
        Pipeline: { type: string }
        StartTime: { type: string, format: date-time }
        EndTime: { type: string, format: date-time }
        ActiveStreams: { type: integer, format: int64 }
        RequestedCount: { type: integer, format: int64 }
        SuccessRate: { type: number, format: double }
        AvgInferenceFPS: { type: number, format: double }
        TotalPaymentsWEI: { $ref: "#/components/schemas/WEI" }
        WarmOrchCount: { type: integer, format: int64 }
        ByModel:
          type: array
          items: { $ref: "#/components/schemas/ModelPipelineStats" }

    # ── Pricing (R11) ───────────────────────────────────────────────────────

    OrchPricingEntry:
      type: object
      properties:
        OrchAddress: { type: string }
        Name: { type: string }
        Pipeline: { type: string }
        ModelID: { type: string }
        PricePerUnit: { type: integer, format: int64 }
        PixelsPerUnit: { type: integer, format: int64 }
        IsWarm: { type: boolean }

    ModelPricing:
      type: object
      properties:
        ModelID: { type: string }
        PricePerUnit: { type: integer, format: int64 }
        PixelsPerUnit: { type: integer, format: int64 }
        IsWarm: { type: boolean }

    PipelinePricing:
      type: object
      properties:
        Pipeline: { type: string }
        Models:
          type: array
          items: { $ref: "#/components/schemas/ModelPricing" }

    OrchPricingProfile:
      type: object
      properties:
        OrchAddress: { type: string }
        Name: { type: string }
        IsActive: { type: boolean }
        Pipelines:
          type: array
          items: { $ref: "#/components/schemas/PipelinePricing" }

    # ── Model Performance (R12) ──────────────────────────────────────────────

    ModelPerformance:
      type: object
      properties:
        ModelID: { type: string }
        Pipeline: { type: string }
        AvgFPS: { type: number, format: double }
        P50FPS: { type: number, format: double }
        P99FPS: { type: number, format: double }
        WarmOrchCount: { type: integer, format: int64 }
        TotalStreams: { type: integer, format: int64 }

    OrchModelStats:
      type: object
      properties:
        Address: { type: string }
        Name: { type: string }
        AvgFPS: { type: number, format: double }
        IsWarm: { type: boolean }

    ModelDetail:
      type: object
      properties:
        ModelID: { type: string }
        Pipeline: { type: string }
        AvgFPS: { type: number, format: double }
        P50FPS: { type: number, format: double }
        P99FPS: { type: number, format: double }
        WarmOrchCount: { type: integer, format: int64 }
        TotalStreams: { type: integer, format: int64 }
        Orchs:
          type: array
          items: { $ref: "#/components/schemas/OrchModelStats" }

    # ── Extended Payments (R13) ──────────────────────────────────────────────

    GatewayPayment:
      type: object
      properties:
        GatewayAddress: { type: string }
        Name: { type: string }
        TotalWEI: { $ref: "#/components/schemas/WEI" }
        EventCount: { type: integer, format: int64 }
        UniqueOrchs: { type: integer, format: int64 }

    StreamPayment:
      type: object
      properties:
        StreamID: { type: string }
        Org: { type: string }
        Pipeline: { type: string }
        TotalWEI: { $ref: "#/components/schemas/WEI" }
        EventCount: { type: integer, format: int64 }

    # ── Failure Analysis (R14) ───────────────────────────────────────────────

    FailuresByPipeline:
      type: object
      properties:
        Pipeline: { type: string }
        NoOrchCount: { type: integer, format: int64 }
        InferenceErrorCount: { type: integer, format: int64 }
        OrchSwapCount: { type: integer, format: int64 }
        InferenceRestartCount: { type: integer, format: int64 }
        TotalFailures: { type: integer, format: int64 }
        FailureRate: { type: number, format: double, description: "total failures / requested sessions (0–1)" }

    FailuresByOrch:
      type: object
      properties:
        OrchAddress: { type: string }
        Name: { type: string }
        InferenceErrors: { type: integer, format: int64 }
        InferenceRestarts: { type: integer, format: int64 }
        TotalFailures: { type: integer, format: int64 }
        StreamsHandled: { type: integer, format: int64 }
        FailureRate: { type: number, format: double }

    # ── Capacity (R15) ───────────────────────────────────────────────────────

    CapacityEntry:
      type: object
      properties:
        Pipeline: { type: string }
        ModelID: { type: string }
        WarmOrchCount: { type: integer, format: int64 }
        ActiveStreams: { type: integer, format: int64 }
        UtilizationPct: { type: number, format: double, description: "active streams / warm orchs (0–1)" }
        TotalVRAMBytes: { type: integer, format: int64 }

    CapacitySummary:
      type: object
      properties:
        SnapshotTime: { type: string, format: date-time }
        Entries:
          type: array
          items: { $ref: "#/components/schemas/CapacityEntry" }

    # ── SLA / GPU / Network Demand (ported from leaderboard-serverless) ──────

    Pagination:
      type: object
      description: Pagination metadata included in paged responses.
      properties:
        page:        { type: integer, example: 1 }
        page_size:   { type: integer, example: 50 }
        total_count: { type: integer, example: 243 }
        total_pages: { type: integer, example: 5 }

    SLAComplianceRow:
      type: object
      description: SLA compliance metrics for one (orchestrator, pipeline, model, gpu, window) bucket.
      properties:
        window_start:                { type: string, format: date-time }
        org:                         { type: string, nullable: true }
        orchestrator_address:        { type: string, example: "0xabc123" }
        pipeline_id:                 { type: string, example: "streamdiffusion-sdxl-v2v" }
        model_id:                    { type: string, nullable: true }
        gpu_id:                      { type: string, nullable: true }
        region:                      { type: string, nullable: true, description: "Always null — not captured in event data." }
        known_sessions_count:        { type: integer, format: int64 }
        requested_sessions:          { type: integer, format: int64 }
        startup_success_sessions:    { type: integer, format: int64 }
        no_orch_sessions:            { type: integer, format: int64 }
        startup_excused_sessions:    { type: integer, format: int64, description: "Failed sessions whose KPI treatment is explicitly excused by canonical lifecycle rules." }
        startup_failed_sessions:     { type: integer, format: int64 }
        loading_only_sessions:       { type: integer, format: int64 }
        zero_output_fps_sessions:    { type: integer, format: int64 }
        effective_failed_sessions:   { type: integer, format: int64 }
        confirmed_swapped_sessions:  { type: integer, format: int64, description: "Always 0 — confirmation signal absent." }
        inferred_swap_sessions:      { type: integer, format: int64 }
        total_swapped_sessions:      { type: integer, format: int64 }
        sessions_ending_in_error:    { type: integer, format: int64 }
        error_status_samples:        { type: integer, format: int64 }
        health_signal_count:         { type: integer, format: int64 }
        health_expected_signal_count: { type: integer, format: int64 }
        health_signal_coverage_ratio: { type: number, format: double }
        startup_success_rate:        { type: number, format: double, nullable: true }
        excused_failure_rate:        { type: number, format: double, nullable: true }
        effective_success_rate:      { type: number, format: double, nullable: true }
        no_swap_rate:                { type: number, format: double, nullable: true }
        output_viability_rate:       { type: number, format: double, nullable: true }
        sla_score:                   { type: number, format: double, nullable: true, description: "100×health_signal_coverage_ratio×((0.4×startup_success_rate)+(0.2×no_swap_rate)+(0.4×output_viability_rate))." }

    SLAComplianceResponse:
      type: object
      properties:
        compliance:
          type: array
          items: { $ref: "#/components/schemas/SLAComplianceRow" }
        pagination: { $ref: "#/components/schemas/Pagination" }

    NetworkDemandRow:
      type: object
      description: Network demand metrics for one (gateway, pipeline, model, window) bucket.
      properties:
        window_start:                { type: string, format: date-time }
        org:                         { type: string, nullable: true }
        gateway:                     { type: string, example: "0xgateway123" }
        region:                      { type: string, nullable: true, description: "Always null." }
        pipeline_id:                 { type: string }
        model_id:                    { type: string, nullable: true }
        sessions_count:              { type: integer, format: int64 }
        avg_output_fps:              { type: number, format: double }
        total_minutes:               { type: number, format: double }
        known_sessions_count:        { type: integer, format: int64 }
        requested_sessions:          { type: integer, format: int64 }
        startup_success_sessions:    { type: integer, format: int64 }
        no_orch_sessions:            { type: integer, format: int64 }
        startup_excused_sessions:    { type: integer, format: int64 }
        startup_failed_sessions:     { type: integer, format: int64 }
        loading_only_sessions:       { type: integer, format: int64 }
        zero_output_fps_sessions:    { type: integer, format: int64 }
        effective_failed_sessions:   { type: integer, format: int64 }
        confirmed_swapped_sessions:  { type: integer, format: int64 }
        inferred_swap_sessions:      { type: integer, format: int64 }
        total_swapped_sessions:      { type: integer, format: int64 }
        sessions_ending_in_error:    { type: integer, format: int64 }
        error_status_samples:        { type: integer, format: int64 }
        health_signal_count:         { type: integer, format: int64 }
        health_expected_signal_count: { type: integer, format: int64 }
        health_signal_coverage_ratio: { type: number, format: double }
        startup_success_rate:        { type: number, format: double }
        excused_failure_rate:        { type: number, format: double }
        effective_success_rate:      { type: number, format: double }
        ticket_face_value_eth:       { type: number, format: double, description: "Proportional ETH payment estimate for this gateway's sessions." }

    NetworkDemandResponse:
      type: object
      properties:
        demand:
          type: array
          items: { $ref: "#/components/schemas/NetworkDemandRow" }
        pagination: { $ref: "#/components/schemas/Pagination" }

    GPUNetworkDemandRow:
      type: object
      description: GPU-sliced network demand metrics for one (gateway, orchestrator, pipeline, model, gpu, window) bucket.
      properties:
        window_start:                { type: string, format: date-time }
        org:                         { type: string, nullable: true }
        gateway:                     { type: string }
        orchestrator_address:        { type: string }
        region:                      { type: string, nullable: true, description: "Always null." }
        pipeline_id:                 { type: string }
        model_id:                    { type: string, nullable: true }
        gpu_id:                      { type: string, nullable: true }
        gpu_identity_status:         { type: string, enum: [resolved, hardware_unresolved] }
        sessions_count:              { type: integer, format: int64 }
        avg_output_fps:              { type: number, format: double }
        total_minutes:               { type: number, format: double }
        known_sessions_count:        { type: integer, format: int64 }
        requested_sessions:          { type: integer, format: int64 }
        startup_success_sessions:    { type: integer, format: int64 }
        no_orch_sessions:            { type: integer, format: int64 }
        startup_excused_sessions:    { type: integer, format: int64 }
        startup_failed_sessions:     { type: integer, format: int64 }
        loading_only_sessions:       { type: integer, format: int64 }
        zero_output_fps_sessions:    { type: integer, format: int64 }
        effective_failed_sessions:   { type: integer, format: int64 }
        confirmed_swapped_sessions:  { type: integer, format: int64 }
        inferred_swap_sessions:      { type: integer, format: int64 }
        total_swapped_sessions:      { type: integer, format: int64 }
        sessions_ending_in_error:    { type: integer, format: int64 }
        error_status_samples:        { type: integer, format: int64 }
        health_signal_count:         { type: integer, format: int64 }
        health_expected_signal_count: { type: integer, format: int64 }
        health_signal_coverage_ratio: { type: number, format: double }
        startup_success_rate:        { type: number, format: double }
        excused_failure_rate:        { type: number, format: double }
        effective_success_rate:      { type: number, format: double }
        ticket_face_value_eth:       { type: number, format: double }

    GPUNetworkDemandResponse:
      type: object
      properties:
        demand:
          type: array
          items: { $ref: "#/components/schemas/GPUNetworkDemandRow" }
        pagination: { $ref: "#/components/schemas/Pagination" }

    GPUMetric:
      type: object
      description: GPU performance metrics for one (orchestrator, pipeline, model, gpu, window) bucket.
      properties:
        window_start:                   { type: string, format: date-time }
        org:                            { type: string, nullable: true }
        orchestrator_address:           { type: string }
        pipeline_id:                    { type: string }
        model_id:                       { type: string, nullable: true }
        gpu_id:                         { type: string, nullable: true }
        region:                         { type: string, nullable: true, description: "Always null." }
        avg_output_fps:                 { type: number, format: double }
        p95_output_fps:                 { type: number, format: double }
        fps_jitter_coefficient:         { type: number, format: double, nullable: true, description: "Always null — not computed." }
        status_samples:                 { type: integer, format: int64 }
        error_status_samples:           { type: integer, format: int64 }
        health_signal_coverage_ratio:   { type: number, format: double }
        gpu_model_name:                 { type: string, nullable: true }
        gpu_memory_bytes_total:         { type: integer, format: int64, nullable: true }
        runner_version:                 { type: string, nullable: true, description: "Always null." }
        cuda_version:                   { type: string, nullable: true, description: "Always null." }
        avg_prompt_to_first_frame_ms:   { type: number, format: double, nullable: true, description: "Mean prompt-to-playable proxy in milliseconds (`ai_stream_status.start_time` -> `gateway_receive_few_processed_segments`)." }
        avg_startup_latency_ms:         { type: number, format: double, nullable: true, description: "Mean startup proxy in milliseconds (`gateway_receive_stream_request` -> `gateway_receive_first_processed_segment`)." }
        avg_e2e_latency_ms:             { type: number, format: double, nullable: true, description: "Mean E2E proxy in milliseconds (`gateway_send_first_ingest_segment` -> `runner_send_first_processed_segment`)." }
        p95_prompt_to_first_frame_latency_ms: { type: number, format: double, nullable: true, description: "P95 prompt-to-playable proxy in milliseconds (`ai_stream_status.start_time` -> `gateway_receive_few_processed_segments`)." }
        p95_startup_latency_ms:         { type: number, format: double, nullable: true, description: "P95 startup proxy in milliseconds (`gateway_receive_stream_request` -> `gateway_receive_first_processed_segment`)." }
        p95_e2e_latency_ms:             { type: number, format: double, nullable: true, description: "P95 E2E proxy in milliseconds (`gateway_send_first_ingest_segment` -> `runner_send_first_processed_segment`)." }
        prompt_to_first_frame_sample_count: { type: integer, format: int64 }
        startup_latency_sample_count:   { type: integer, format: int64 }
        e2e_latency_sample_count:       { type: integer, format: int64 }
        known_sessions_count:           { type: integer, format: int64 }
        startup_success_sessions:       { type: integer, format: int64 }
        no_orch_sessions:               { type: integer, format: int64 }
        startup_excused_sessions:       { type: integer, format: int64 }
        startup_failed_sessions:        { type: integer, format: int64 }
        confirmed_swapped_sessions:     { type: integer, format: int64 }
        inferred_swap_sessions:         { type: integer, format: int64 }
        total_swapped_sessions:         { type: integer, format: int64 }
        sessions_ending_in_error:       { type: integer, format: int64 }
        startup_failed_rate:            { type: number, format: double }
        swap_rate:                      { type: number, format: double }

    GPUMetricsResponse:
      type: object
      properties:
        metrics:
          type: array
          items: { $ref: "#/components/schemas/GPUMetric" }
        pagination: { $ref: "#/components/schemas/Pagination" }

  responses:
    429:
      description: Rate limit exceeded.
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    500:
      description: Internal server error.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    404:
      description: Resource not found.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    TooManyRequests:
      description: Rate limit exceeded.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }
    NotFound:
      description: Resource not found.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }
    BadRequest:
      description: Bad request.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }

# ── Paths ──────────────────────────────────────────────────────────────────────

paths:

  /healthz:
    get:
      tags: [Health]
      summary: Health check
      description: Returns 200 with `{"status":"ok"}` if the service and ClickHouse are healthy. Returns 503 if the ClickHouse ping fails.
      operationId: getHealth
      responses:
        "200":
          description: Service is healthy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok, degraded]
        "503":
          description: ClickHouse is unreachable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: degraded

  # ── Network ────────────────────────────────────────────────────────────────

  /v1/net/summary:
    get:
      tags: [Network]
      summary: Network summary
      description: Total and active orchestrator counts at the time of the last capabilities snapshot.
      operationId: getNetworkSummary
      parameters:
        - $ref: "#/components/parameters/org"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NetworkSummary"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"

  /v1/net/orchestrators:
    get:
      tags: [Network]
      summary: List orchestrators
      description: Paginated list of orchestrators ordered by last seen descending.
      operationId: listOrchestrators
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/active_only"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Orchestrator"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"

  /v1/net/orchestrators/{address}:
    get:
      tags: [Network]
      summary: Orchestrator profile
      description: Full profile for a single orchestrator including 7-day reliability stats and raw capabilities JSON.
      operationId: getOrchProfile
      parameters:
        - $ref: "#/components/parameters/address_path"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrchProfile"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"

  /v1/net/gpu:
    get:
      tags: [Network]
      summary: GPU summary
      description: Total GPU count and VRAM aggregated by hardware model.
      operationId: getGPUSummary
      parameters:
        - $ref: "#/components/parameters/org"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GPUSummary"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"

  /v1/net/models:
    get:
      tags: [Network]
      summary: Model availability
      description: Available AI models per pipeline, including warm orch count and price range.
      operationId: listModels
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/pipeline"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ModelAvailability"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"

  # ── Streams ────────────────────────────────────────────────────────────────

  /v1/streams/active:
    get:
      tags: [Streams]
      summary: Active streams
      description: Count of currently active streams broken down by org, pipeline, and state. A stream is considered active if it was seen within the last 60 seconds.
      operationId: getActiveStreams
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/pipeline"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActiveStreamsSummary"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"

  /v1/streams/summary:
    get:
      tags: [Streams]
      summary: Stream activity summary
      description: Aggregate stream lifecycle metrics over the requested time window.
      operationId: getStreamSummary
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/pipeline"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamSummary"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"

  /v1/streams/history:
    get:
      tags: [Streams]
      summary: Stream activity history
      description: Hourly time series of stream counts over the requested window.
      operationId: listStreamHistory
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/pipeline"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/StreamBucket"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"

  # ── Performance ────────────────────────────────────────────────────────────

  /v1/perf/fps:
    get:
      tags: [Performance]
      summary: FPS summary
      description: |
        Inference and input FPS percentiles (p5/p50/p99) broken down by pipeline
        and by orchestrator. Samples with fps == 0 are excluded.
        Computed from raw events (not aggregates) for percentile accuracy.
      operationId: getFPSSummary
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/pipeline"
        - $ref: "#/components/parameters/orch_address"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FPSSummary"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"

  /v1/perf/fps/history:
    get:
      tags: [Performance]
      summary: FPS history
      description: Hourly average inference and input FPS for charting. Buckets flagged as `Degraded` when avg FPS drops ≥20% from the prior bucket.
      operationId: listFPSHistory
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/pipeline"
        - $ref: "#/components/parameters/orch_address"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FPSBucket"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"

  /v1/perf/latency:
    get:
      tags: [Performance]
      summary: Orchestrator discovery latency
      description: Avg, p50, p95, p99 discovery latency per orchestrator, computed from raw `discovery_results` events.
      operationId: getLatencySummary
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LatencySummary"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"

  /v1/perf/webrtc:
    get:
      tags: [Performance]
      summary: WebRTC quality
      description: Aggregated WebRTC video/audio jitter, packet loss, and connection quality distribution.
      operationId: getWebRTCQuality
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/stream_id"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebRTCQuality"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"

  # ── Payments ───────────────────────────────────────────────────────────────

  /v1/payments/summary:
    get:
      tags: [Payments]
      summary: Payment summary
      description: Total payments in WEI, event count, and unique orchestrators over the window. Broken down by org.
      operationId: getPaymentSummary
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentSummary"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"

  /v1/payments/history:
    get:
      tags: [Payments]
      summary: Payment history
      description: Hourly payment totals for charting.
      operationId: listPaymentHistory
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PaymentBucket"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"

  /v1/payments/by-pipeline:
    get:
      tags: [Payments]
      summary: Payments by pipeline
      description: Total payments and average price per pixel for each pipeline.
      operationId: listPaymentsByPipeline
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/pipeline"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PipelinePayment"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"

  /v1/payments/by-orch:
    get:
      tags: [Payments]
      summary: Payments by orchestrator
      description: Total payments received per orchestrator, ordered by total descending.
      operationId: listPaymentsByOrch
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/orch_address"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/OrchPayment"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"

  # ── Reliability ────────────────────────────────────────────────────────────

  /v1/reliability/summary:
    get:
      tags: [Reliability]
      summary: Reliability summary
      description: Network-wide stream success rate, failure rates, and failure breakdown over the window.
      operationId: getReliabilitySummary
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReliabilitySummary"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"

  /v1/reliability/history:
    get:
      tags: [Reliability]
      summary: Reliability history
      description: Hourly success and failure rates for charting. Rates are null when the sample count is below the minimum threshold (5 streams).
      operationId: listReliabilityHistory
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ReliabilityBucket"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"

  /v1/reliability/orchs:
    get:
      tags: [Reliability]
      summary: Orchestrator reliability
      description: Per-orchestrator degraded, restart, and error rates over the window.
      operationId: listOrchReliability
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/orch_address"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/OrchReliability"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"

  /v1/failures:
    get:
      tags: [Reliability]
      summary: Failure events
      description: Raw failure event log, newest first. Filterable by type.
      operationId: listFailures
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/failure_type"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FailureEvent"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"

  # ── Leaderboard ────────────────────────────────────────────────────────────

  /v1/leaderboard:
    get:
      tags: [Leaderboard]
      summary: Orchestrator leaderboard
      description: |
        Orchestrators ranked by composite score.
        Scoring weights: FPS 30%, reliability (1−degradedRate) 30%,
        volume 20%, latency (inverted) 20%.
        All four dimensions are min-max normalised across the result set,
        then scaled to 0–100. Only orchestrators with ≥10 streams handled
        in the window are included.
      operationId: getLeaderboard
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/LeaderboardEntry"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"

  /v1/leaderboard/{address}:
    get:
      tags: [Leaderboard]
      summary: Leaderboard orchestrator profile
      description: Full profile for a single orchestrator including 7-day reliability stats and raw capabilities JSON.
      operationId: getLeaderboardProfile
      parameters:
        - $ref: "#/components/parameters/address_path"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrchProfile"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"

  # ── Gateways (R7) ────────────────────────────────────────────────────────

  /v1/net/gateways:
    get:
      summary: List gateways
      description: Returns all known gateways with active stream counts.
      operationId: listGateways
      tags: [Gateways]
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Gateway" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /v1/net/gateways/{address}:
    get:
      summary: Gateway profile
      description: Returns stats and metadata for one gateway.
      operationId: getGatewayProfile
      tags: [Gateways]
      parameters:
        - $ref: "#/components/parameters/address_path"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GatewayProfile" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /v1/net/gateways/{address}/orchs:
    get:
      summary: Gateway orchestrators
      description: Returns orchestrators that handled traffic for a given gateway.
      operationId: listGatewayOrchestrators
      tags: [Gateways]
      parameters:
        - $ref: "#/components/parameters/address_path"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/GatewayOrch" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  # ── Stream Extensions (R8) ───────────────────────────────────────────────

  /v1/streams/samples:
    get:
      summary: Stream status samples
      description: Returns recent per-stream telemetry samples from the last 30 days.
      operationId: listStreamSamples
      tags: [Streams]
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
        - $ref: "#/components/parameters/pipeline"
        - $ref: "#/components/parameters/orch_address"
        - $ref: "#/components/parameters/stream_id"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/offset"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/StreamStatusSample" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /v1/streams/attribution:
    get:
      summary: Stream attribution summary
      description: Returns the fraction of stream samples that were successfully attributed to an orchestrator.
      operationId: getAttributionSummary
      tags: [Streams]
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AttributionSummary" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /v1/streams/{stream_id}:
    get:
      summary: Stream detail
      description: Returns the full state and sample history for one stream.
      operationId: getStreamDetail
      tags: [Streams]
      parameters:
        - name: stream_id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/StreamDetail" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  # ── E2E Latency (R9) ────────────────────────────────────────────────────

  /v1/perf/e2e-latency:
    get:
      summary: E2E latency summary
      description: Returns percentiles for the canonical session-edge E2E proxy (`gateway_send_first_ingest_segment` -> `runner_send_first_processed_segment`), surfaced on stream status samples after canonical refresh.
      operationId: getE2ELatencySummary
      tags: [Performance]
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
        - $ref: "#/components/parameters/pipeline"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/E2ELatencySummary" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /v1/perf/e2e-latency/history:
    get:
      summary: E2E latency history
      description: Returns hourly buckets for the canonical session-edge E2E proxy (`gateway_send_first_ingest_segment` -> `runner_send_first_processed_segment`).
      operationId: listE2ELatencyHistory
      tags: [Performance]
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
        - $ref: "#/components/parameters/pipeline"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/E2ELatencyBucket" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  # ── Pipelines (R10) ─────────────────────────────────────────────────────

  /v1/pipelines:
    get:
      summary: List pipelines
      description: Returns a cross-cutting summary per pipeline combining streams, FPS, and payment data.
      operationId: listPipelines
      tags: [Pipelines]
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/PipelineSummary" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /v1/pipelines/{pipeline}:
    get:
      summary: Pipeline detail
      description: Returns detailed stats for one pipeline including model breakdown.
      operationId: getPipelineDetail
      tags: [Pipelines]
      parameters:
        - name: pipeline
          in: path
          required: true
          description: Pipeline name (e.g. `text-to-image`).
          schema: { type: string }
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PipelineDetail" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  # ── Pricing (R11) ───────────────────────────────────────────────────────

  /v1/net/pricing:
    get:
      summary: List orchestrator pricing
      description: Returns flat pricing rows for all active orchestrators.
      operationId: listPricing
      tags: [Pricing]
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/pipeline"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/OrchPricingEntry" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /v1/net/pricing/{address}:
    get:
      summary: Orchestrator pricing profile
      description: Returns structured pipeline/model pricing for one orchestrator.
      operationId: getOrchPricingProfile
      tags: [Pricing]
      parameters:
        - $ref: "#/components/parameters/address_path"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OrchPricingProfile" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  # ── Model Performance (R12) ──────────────────────────────────────────────

  /v1/perf/by-model:
    get:
      summary: Performance by AI model
      description: Returns FPS performance broken down by AI model, joined from GPU inventory.
      operationId: listModelPerformance
      tags: [Performance]
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
        - $ref: "#/components/parameters/pipeline"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/ModelPerformance" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /v1/net/model:
    get:
      summary: Model detail
      description: Returns detail for one AI model including per-orch FPS stats. Use `model_id` query param since model IDs contain slashes.
      operationId: getModelDetail
      tags: [Network, Performance]
      parameters:
        - name: model_id
          in: query
          required: true
          description: AI model identifier (e.g. `stabilityai/stable-diffusion-xl-base-1.0`).
          schema: { type: string }
        - $ref: "#/components/parameters/pipeline"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModelDetail" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  # ── Extended Payments (R13) ──────────────────────────────────────────────

  /v1/payments/by-gateway:
    get:
      summary: Payments by gateway
      description: Returns payment totals aggregated by originating gateway address.
      operationId: listPaymentsByGateway
      tags: [Payments]
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/GatewayPayment" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /v1/payments/by-stream:
    get:
      summary: Payments by stream
      description: Returns total payments aggregated per stream session.
      operationId: listPaymentsByStream
      tags: [Payments]
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
        - $ref: "#/components/parameters/stream_id"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/StreamPayment" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  # ── Failure Analysis (R14) ───────────────────────────────────────────────

  /v1/failures/by-pipeline:
    get:
      summary: Failures by pipeline
      description: Returns aggregated failure counts per pipeline.
      operationId: listFailuresByPipeline
      tags: [Reliability]
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/FailuresByPipeline" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  /v1/failures/by-orch:
    get:
      summary: Failures by orchestrator
      description: Returns aggregated inference error and restart counts per orchestrator.
      operationId: listFailuresByOrch
      tags: [Reliability]
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/FailuresByOrch" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  # ── Capacity (R15) ───────────────────────────────────────────────────────

  /v1/net/capacity:
    get:
      summary: Network capacity vs. demand
      description: Returns GPU supply (warm orchs, VRAM) vs. active stream demand per (pipeline, model).
      operationId: getCapacitySummary
      tags: [Capacity, Network]
      parameters:
        - $ref: "#/components/parameters/org"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CapacitySummary" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  # ── SLA / GPU / Network Demand (ported from leaderboard-serverless) ────────

  /v1/sla/compliance:
    get:
      summary: SLA compliance metrics
      description: |
        Returns per-orchestrator SLA compliance metrics aggregated into hourly buckets.
        Grouped by (orchestrator_address, pipeline_id, model_id, gpu_id).

        **Window:** default 24h, min 1h, max 30d.

        `region` is currently always null and confirmed swap counters remain 0.
      operationId: listSLACompliance
      tags: [SLA]
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/window"
        - $ref: "#/components/parameters/orchestrator_address"
        - $ref: "#/components/parameters/pipeline_id"
        - $ref: "#/components/parameters/model_id"
        - $ref: "#/components/parameters/gpu_id"
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/page_size"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SLAComplianceResponse" }
        "500": { $ref: "#/components/responses/500" }

  /v1/network/demand:
    get:
      summary: Network demand metrics
      description: |
        Returns gateway demand metrics aggregated into hourly buckets.
        Grouped by (gateway, pipeline_id, model_id).

        **Window:** default 3h, min 1m, max 30d.

        This surface unions perf-backed hourly keys with session-demand keys so
        demand-only and perf-only rows both remain visible.
      operationId: listNetworkDemand
      tags: [Demand]
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/window"
        - $ref: "#/components/parameters/gateway_filter"
        - $ref: "#/components/parameters/pipeline_id"
        - $ref: "#/components/parameters/model_id"
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/page_size"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/NetworkDemandResponse" }
        "500": { $ref: "#/components/responses/500" }

  /v1/gpu/network-demand:
    get:
      summary: GPU-sliced network demand metrics
      description: |
        Returns GPU-sliced gateway demand metrics aggregated into hourly buckets.
        Grouped by (gateway, orchestrator_address, pipeline_id, model_id, gpu_id).

        **Window:** default 3h, min 1m, max 30d.

        Hardware-unresolved rows remain visible with `gpu_identity_status = hardware_unresolved`.
      operationId: listGPUNetworkDemand
      tags: [Demand]
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/window"
        - $ref: "#/components/parameters/gateway_filter"
        - $ref: "#/components/parameters/orchestrator_address"
        - $ref: "#/components/parameters/pipeline_id"
        - $ref: "#/components/parameters/model_id"
        - $ref: "#/components/parameters/gpu_id"
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/page_size"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GPUNetworkDemandResponse" }
        "500": { $ref: "#/components/responses/500" }

  /v1/gpu/metrics:
    get:
      summary: GPU performance metrics
      description: |
        Returns per-GPU performance metrics aggregated into hourly buckets.
        Grouped by (orchestrator_address, pipeline_id, model_id, gpu_id).
        Hardware dimensions (gpu_model_name, gpu_memory_bytes_total) are joined
        from the GPU inventory.

        **Window:** default 24h, min 1m, max 72h.

        **Approximations:** `region`, `runner_version`, `cuda_version`, and
        `fps_jitter_coefficient` are currently null. Latency fields use canonical
        session-edge proxies rather than raw producer-reported status latency.
      operationId: listGPUMetrics
      tags: [GPUMetrics]
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/window"
        - $ref: "#/components/parameters/orchestrator_address"
        - $ref: "#/components/parameters/pipeline_id"
        - $ref: "#/components/parameters/model_id"
        - $ref: "#/components/parameters/gpu_id"
        - $ref: "#/components/parameters/gpu_model_name"
        - $ref: "#/components/parameters/runner_version"
        - $ref: "#/components/parameters/cuda_version"
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/page_size"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GPUMetricsResponse" }
        "500": { $ref: "#/components/responses/500" }

  # ── Dashboard paths (R16) ─────────────────────────────────────────────────

  /v1/dashboard/kpi:
    get:
      summary: Dashboard KPI metrics
      description: |
        Returns top-level KPI metrics for the dashboard: success rate, active
        orchestrators, session count, and hourly time-series buckets.

        Deltas are computed by splitting the window into two equal halves and
        comparing their aggregates.

        **Window:** default 24h, max 168h (7 days). Accepts `?window=24h` or `?window=7d`.
      operationId: getDashboardKPI
      tags: [Dashboard]
      parameters:
        - $ref: "#/components/parameters/window"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DashboardKPI" }
        "500": { $ref: "#/components/responses/500" }

  /v1/dashboard/pipelines:
    get:
      summary: Pipeline usage summary
      description: |
        Returns the top N pipelines by session count over the last 24 hours.
        Suitable for the pipeline usage bar chart.
      operationId: getDashboardPipelines
      tags: [Dashboard]
      parameters:
        - name: limit
          in: query
          description: Maximum pipelines to return (1–20, default 5).
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 5
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/DashboardPipelineUsage" }
        "500": { $ref: "#/components/responses/500" }

  /v1/dashboard/orchestrators:
    get:
      summary: Orchestrator SLA table
      description: |
        Returns per-orchestrator SLA metrics aggregated over a rolling window.
        Includes session counts, effective success rate, no-swap ratio, and
        composite SLA score (0.7 × effectiveSuccessRate + 0.3 × noSwapRatio).
        Also includes the pipelines and models each orchestrator currently offers,
        and GPU count from the hardware inventory.

        **Window:** default 7d (168h), max 30d (720h).
      operationId: getDashboardOrchestrators
      tags: [Dashboard]
      parameters:
        - $ref: "#/components/parameters/window"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/DashboardOrchestrator" }
        "500": { $ref: "#/components/responses/500" }

  /v1/dashboard/gpu-capacity:
    get:
      summary: GPU capacity inventory
      description: |
        Returns GPU hardware inventory grouped by pipeline, model, and GPU model.
        Data is sourced from the latest capability snapshots (last 10 minutes).
        Suitable for the GPU capacity widget.
      operationId: getDashboardGPUCapacity
      tags: [Dashboard]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DashboardGPUCapacity" }
        "500": { $ref: "#/components/responses/500" }

  /v1/dashboard/pipeline-catalog:
    get:
      summary: Active pipeline catalog
      description: |
        Returns all pipeline + model combinations currently offered by at least
        one warm orchestrator (seen within the last 10 minutes).
        Suitable for the pipeline catalog widget.
      operationId: getDashboardPipelineCatalog
      tags: [Dashboard]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/DashboardPipelineCatalogEntry" }
        "500": { $ref: "#/components/responses/500" }

  /v1/dashboard/pricing:
    get:
      summary: Pipeline pricing (raw wei)
      description: |
        Returns raw wei-per-unit pricing for each pipeline + model combination,
        aggregated across all active orchestrators.

        `priceAvgWeiPerUnit` is the unweighted mean across orchestrators that
        advertise a price. Convert to a human scale with `price = avg / 1e12`.
        Only orchestrators active within the last 10 minutes are included.
        Coverage is sparse — most orchestrators do not advertise prices.
      operationId: getDashboardPricing
      tags: [Dashboard]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/DashboardPipelinePricing" }
        "500": { $ref: "#/components/responses/500" }

  /v1/dashboard/job-feed:
    get:
      summary: Live job feed
      description: |
        Returns currently active streams grouped by session key, ordered by most
        recently seen. Each item represents one active stream request attributed
        to a gateway/orchestrator pair.

        Streams with no orchestrator attribution yet appear with an empty
        `orchestratorUrl` field.
      operationId: getDashboardJobFeed
      tags: [Dashboard]
      parameters:
        - name: limit
          in: query
          description: Maximum items to return (1–200, default 50).
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/DashboardJobFeedItem" }
        "500": { $ref: "#/components/responses/500" }

  # ── AI Batch Jobs (R17) ───────────────────────────────────────────────────

  /v1/ai-batch/summary:
    get:
      summary: AI batch job summary by pipeline
      description: |
        Returns per-pipeline aggregates (job count, success rate, avg duration,
        avg latency score) for completed AI batch jobs in the time window.
        Covers fixed pipelines: text-to-image, image-to-image, image-to-video,
        upscale, audio-to-text, llm, segment-anything-2, image-to-text, text-to-speech.
      operationId: getAIBatchSummary
      tags: [AIBatch]
      parameters:
        - { $ref: "#/components/parameters/org" }
        - { $ref: "#/components/parameters/start" }
        - { $ref: "#/components/parameters/end" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/AIBatchJobSummary" }
        "500": { $ref: "#/components/responses/500" }

  /v1/ai-batch/jobs:
    get:
      summary: Paginated AI batch job records
      description: |
        Returns individual completed AI batch job records ordered by completion
        time descending.
      operationId: listAIBatchJobs
      tags: [AIBatch]
      parameters:
        - { $ref: "#/components/parameters/org" }
        - { $ref: "#/components/parameters/start" }
        - { $ref: "#/components/parameters/end" }
        - { $ref: "#/components/parameters/limit" }
[...]
