openapi: 3.0.3
info:
  title: NAAP Analytics API
  version: "1"
  description: |
    Read-only analytics API for the Livepeer AI network.
    Backed by ClickHouse materialized views fed from two Kafka topics:
    `network_events` (daydream org) and `streaming_events` (cloudspe org).

    **Rate limiting:** 100 req/s sustained, burst 200 per IP.
    Exceeded requests receive `429 Too Many Requests`.

    **Default time window:** last 24 hours when `start`/`end` are omitted.

    **WEI values** (payment amounts) are returned as decimal strings to avoid
    float64 precision loss (e.g. `"1234500000000000000"`).

servers:
  - url: https://naap-api.livepeer.cloud
    description: Production
  - url: https://naap-api.cloudspe.com
    description: CloudSPE
  - url: http://localhost:8000
    description: Local development

tags:
  - name: Health
  - name: Network
    description: Orchestrator network state (R1)
  - name: Capacity
    description: GPU supply vs. stream demand (R15)
  - name: SLA
    description: SLA compliance metrics per orchestrator/pipeline (ported from leaderboard-serverless)
  - name: Demand
    description: Network demand metrics per gateway/pipeline (ported from leaderboard-serverless)
  - name: GPUMetrics
    description: GPU performance metrics per orchestrator/pipeline (ported from leaderboard-serverless)
  - name: AIBatch
    description: AI batch job analytics — fixed pipelines (text-to-image, llm, etc.) (R17)
  - name: BYOC
    description: BYOC job analytics — dynamic capabilities (openai-*, etc.) (R18)
  - name: Dashboard
    description: Pre-aggregated, UI-ready endpoints for the NAAP dashboard widgets (R16)

# ── Common parameter definitions ──────────────────────────────────────────────

components:
  parameters:
    org:
      name: org
      in: query
      description: Filter to a single organisation. Omit for all orgs.
      schema:
        type: string
        enum: [daydream, cloudspe]
    start:
      name: start
      in: query
      description: Window start (RFC3339). Defaults to 24 hours ago.
      schema:
        type: string
        format: date-time
        example: "2026-03-01T00:00:00Z"
    end:
      name: end
      in: query
      description: Window end (RFC3339). Defaults to now.
      schema:
        type: string
        format: date-time
        example: "2026-03-24T23:59:59Z"
    limit:
      name: limit
      in: query
      description: Maximum rows to return (1–1000).
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        default: 50
    cursor:
      name: cursor
      in: query
      description: Opaque cursor returned by the previous page. Omit on the first page.
      schema:
        type: string
    pipeline:
      name: pipeline
      in: query
      description: Filter by pipeline name (e.g. `text-to-image`).
      schema:
        type: string
    orch_address:
      name: orch_address
      in: query
      description: Filter by orchestrator Ethereum address (lowercased).
      schema:
        type: string
        example: ""
    active_only:
      name: active_only
      in: query
      description: When `true`, return only orchestrators active within the last 15 minutes.
      schema:
        type: boolean
        default: false
    stream_id:
      name: stream_id
      in: query
      schema:
        type: string
    failure_type:
      name: failure_type
      in: query
      description: Filter failure events by type.
      schema:
        type: string
        enum: [no_orch_available, orch_swap, inference_restart, inference_error]
    address_path:
      name: address
      in: path
      required: true
      description: Orchestrator Ethereum address (lowercased).
      schema:
        type: string
        example: ""
    window:
      name: window
      in: query
      description: |
        Lookback window as a duration string. Accepts Go duration syntax (`24h`, `90m`, `30s`)
        or a day suffix (`7d`). Capped per-endpoint — see endpoint description for limits.
      schema:
        type: string
        example: "24h"
        default: "24h"
    orchestrator_address:
      name: orchestrator_address
      in: query
      description: Filter by orchestrator Ethereum address (lowercased).
      schema:
        type: string
        example: ""
    pipeline_id:
      name: pipeline_id
      in: query
      description: Filter by pipeline name (e.g. `streamdiffusion-sdxl-v2v`).
      schema:
        type: string
    model_id:
      name: model_id
      in: query
      description: Filter by model identifier.
      schema:
        type: string
    gpu_id:
      name: gpu_id
      in: query
      description: Filter by GPU slot identifier.
      schema:
        type: string
    gateway_filter:
      name: gateway
      in: query
      description: Filter by gateway Ethereum address.
      schema:
        type: string
    gpu_model_name:
      name: gpu_model_name
      in: query
      description: Filter by GPU model name (e.g. `RTX-4090`).
      schema:
        type: string
    runner_version:
      name: runner_version
      in: query
      description: Filter by runner software version.
      schema:
        type: string
    cuda_version:
      name: cuda_version
      in: query
      description: Filter by CUDA version string.
      schema:
        type: string
    region:
      name: region
      in: query
      description: Filter by geographic region (currently always null — reserved for future use).
      schema:
        type: string

  schemas:

    # ── AI Batch (R17) ───────────────────────────────────────────────────────

    AIBatchJobSummary:
      type: object
      properties:
        pipeline:        { type: string, description: "Fixed pipeline name (e.g. text-to-image, llm)" }
        total_jobs:      { type: integer, format: int64 }
        success_rate:    { type: number, format: double, description: "0.0–1.0" }
        avg_duration_ms: { type: number, format: double }
        avg_latency_score: { type: number, format: double }
      required: [pipeline, total_jobs, success_rate, avg_duration_ms, avg_latency_score]

    AIBatchJobRecord:
      type: object
      properties:
        request_id:    { type: string }
        org:           { type: string }
        gateway:       { type: string }
        pipeline:      { type: string }
        model_id:      { type: string }
        completed_at:  { type: string, format: date-time }
        success:       { type: boolean, nullable: true }
        tries:         { type: integer, format: int64 }
        duration_ms:   { type: integer, format: int64 }
        orch_url:      { type: string }
        latency_score: { type: number, format: double }
        price_per_unit: { type: number, format: double }
        error_type:    { type: string }
        error:         { type: string }
      required: [request_id, org, pipeline, completed_at]

    AIBatchLLMSummary:
      type: object
      properties:
        model:             { type: string }
        total_requests:    { type: integer, format: int64 }
        success_rate:      { type: number, format: double, description: "0.0–1.0" }
        avg_tokens_per_sec: { type: number, format: double }
        avg_ttft_ms:       { type: number, format: double }
        avg_total_tokens:  { type: number, format: double }
      required: [model, total_requests, success_rate, avg_tokens_per_sec, avg_ttft_ms, avg_total_tokens]

    # ── BYOC (R18) ───────────────────────────────────────────────────────────

    BYOCJobSummary:
      type: object
      description: |
        Per-capability aggregate for BYOC jobs. Capability values are stored
        verbatim (e.g. "openai-chat-completions") and never hardcoded.
      properties:
        capability:      { type: string }
        total_jobs:      { type: integer, format: int64 }
        success_rate:    { type: number, format: double, description: "0.0–1.0" }
        avg_duration_ms: { type: number, format: double }
      required: [capability, total_jobs, success_rate, avg_duration_ms]

    BYOCJobRecord:
      type: object
      properties:
        request_id:   { type: string }
        org:          { type: string }
        capability:   { type: string }
        completed_at: { type: string, format: date-time }
        success:      { type: boolean, nullable: true }
        duration_ms:  { type: integer, format: int64 }
        http_status:  { type: integer, format: int64 }
        orch_address: { type: string }
        orch_url:     { type: string }
        worker_url:   { type: string }
        error:        { type: string }
      required: [request_id, org, capability, completed_at]

    BYOCWorkerSummary:
      type: object
      properties:
        capability:        { type: string }
        worker_count:      { type: integer, format: int64 }
        models:
          type: array
          items: { type: string }
        avg_price_per_unit: { type: number, format: double }
      required: [capability, worker_count, models, avg_price_per_unit]

    BYOCAuthSummary:
      type: object
      properties:
        capability:    { type: string }
        total_events:  { type: integer, format: int64 }
        success_rate:  { type: number, format: double, description: "0.0–1.0" }
        failure_count: { type: integer, format: int64 }
      required: [capability, total_events, success_rate, failure_count]

    # ── Jobs — request/response (R19) ───────────────────────────────────────

    JobsDemandRow:
      type: object
      properties:
        window_start:    { type: string, format: date-time }
        org:             { type: string, nullable: true }
        gateway:         { type: string }
        pipeline_id:     { type: string }
        model_id:        { type: string, nullable: true }
        job_type:        { type: string, enum: [ai-batch, byoc] }
        job_count:       { type: integer, format: int64 }
        success_count:   { type: integer, format: int64 }
        success_rate:    { type: number, format: double }
        avg_duration_ms: { type: number, format: double }
        total_minutes:   { type: number, format: double }
      required: [window_start, gateway, pipeline_id, job_type, job_count, success_count, success_rate, avg_duration_ms, total_minutes]

    JobsSLARow:
      type: object
      properties:
        window_start:         { type: string, format: date-time }
        org:                  { type: string, nullable: true }
        orchestrator_address: { type: string }
        pipeline_id:          { type: string }
        model_id:             { type: string, nullable: true }
        gpu_id:               { type: string, nullable: true }
        job_type:             { type: string, enum: [ai-batch, byoc] }
        job_count:            { type: integer, format: int64 }
        success_count:        { type: integer, format: int64 }
        success_rate:         { type: number, format: double }
        avg_duration_ms:      { type: number, format: double }
        sla_score:            { type: number, format: double, nullable: true }
      required: [window_start, orchestrator_address, pipeline_id, job_type, job_count, success_count, success_rate, avg_duration_ms]

    JobModelPerformance:
      type: object
      properties:
        model_id:        { type: string }
        pipeline:        { type: string }
        job_type:        { type: string, enum: [ai-batch, byoc] }
        job_count:       { type: integer, format: int64 }
        warm_orch_count: { type: integer, format: int64 }
        avg_duration_ms: { type: number, format: double, nullable: true }
        p50_duration_ms: { type: number, format: double, nullable: true }
        p99_duration_ms: { type: number, format: double, nullable: true }
      required: [model_id, pipeline, job_type, job_count, warm_orch_count]

    # ── Dashboard (R16) ──────────────────────────────────────────────────────

    DashboardMetricDelta:
      type: object
      properties:
        value: { type: number, format: double }
        delta: { type: number, format: double, description: "Period-over-period % change" }
      required: [value, delta]

    DashboardHourlyBucket:
      type: object
      properties:
        hour: { type: string, format: date-time }
        value: { type: number, format: double }
      required: [hour, value]

    DashboardKPI:
      type: object
      properties:
        successRate:          { $ref: "#/components/schemas/DashboardMetricDelta" }
        orchestratorsOnline:  { $ref: "#/components/schemas/DashboardMetricDelta" }
        dailyUsageMins:       { $ref: "#/components/schemas/DashboardMetricDelta", description: "Total stream-minutes from api_network_demand" }
        dailySessionCount:    { $ref: "#/components/schemas/DashboardMetricDelta" }
        dailyNetworkFeesEth:  { $ref: "#/components/schemas/DashboardMetricDelta" }
        timeframeHours:       { type: integer }
        hourlySessions:
          type: array
          items: { $ref: "#/components/schemas/DashboardHourlyBucket" }
        hourlyUsage:
          type: array
          items: { $ref: "#/components/schemas/DashboardHourlyBucket" }

    DashboardPipelineModelMins:
      type: object
      properties:
        model:    { type: string }
        mins:     { type: number, format: double }
        sessions: { type: integer, format: int64 }
        avgFps:   { type: number, format: double }

    DashboardPipelineUsage:
      type: object
      properties:
        name:     { type: string }
        sessions: { type: integer, format: int64 }
        mins:     { type: number, format: double }
        avgFps:   { type: number, format: double }
        job_type: { type: string, description: "Job type (e.g. stream, ai-batch, byoc). Omitted for streaming pipelines.", nullable: true }
        modelMins:
          type: array
          items: { $ref: "#/components/schemas/DashboardPipelineModelMins" }
          description: "Per-model breakdown. Omitted when not available."

    DashboardPipelineModelOffer:
      type: object
      properties:
        pipelineId: { type: string }
        modelIds:
          type: array
          items: { type: string }

    DashboardOrchestrator:
      type: object
      properties:
        address:              { type: string }
        ensName:              { type: string, description: "ENS name if registered, empty otherwise" }
        serviceUri:           { type: string, description: "Orchestrator service URI (e.g. https://host:8935)" }
        knownSessions:        { type: integer, format: int64 }
        successSessions:      { type: integer, format: int64 }
        successRatio:         { type: number, format: double }
        effectiveSuccessRate: { type: number, format: double, nullable: true }
        noSwapRatio:          { type: number, format: double, nullable: true }
        slaScore:             { type: number, format: double, nullable: true, description: "Latest available hourly contracted sla_score for the orchestrator within the requested dashboard window." }
        slaWindowStart:       { type: string, format: date-time, nullable: true, description: "Hour bucket that produced slaScore." }
        pipelines:
          type: array
          items: { type: string }
        pipelineModels:
          type: array
          items: { $ref: "#/components/schemas/DashboardPipelineModelOffer" }
        gpuCount: { type: integer, format: int64 }

    DashboardGPUModelCapacity:
      type: object
      properties:
        model: { type: string }
        count: { type: integer, format: int64 }

    DashboardGPUCapacityPipelineModel:
      type: object
      properties:
        model: { type: string }
        gpus:  { type: integer, format: int64 }

    DashboardGPUCapacityPipeline:
      type: object
      properties:
        name: { type: string }
        gpus: { type: integer, format: int64 }
        models:
          type: array
          items: { $ref: "#/components/schemas/DashboardGPUCapacityPipelineModel" }

    DashboardGPUCapacity:
      type: object
      properties:
        totalGPUs:         { type: integer, format: int64 }
        activeGPUs:        { type: integer, format: int64 }
        availableCapacity: { type: number, format: double, description: "Fraction 0–1" }
        models:
          type: array
          items: { $ref: "#/components/schemas/DashboardGPUModelCapacity" }
        pipelineGPUs:
          type: array
          items: { $ref: "#/components/schemas/DashboardGPUCapacityPipeline" }

    DashboardPipelineCatalogEntry:
      type: object
      properties:
        id:      { type: string }
        name:    { type: string }
        models:
          type: array
          items: { type: string }
        regions:
          type: array
          items: { type: string }

    DashboardPipelinePricing:
      type: object
      properties:
        pipeline:           { type: string }
        model:              { type: string }
        orchCount:          { type: integer, format: int64 }
        priceMinWeiPerUnit: { type: integer, format: int64 }
        priceMaxWeiPerUnit: { type: integer, format: int64 }
        priceAvgWeiPerUnit: { type: number, format: double }
        pixelsPerUnit:      { type: integer, format: int64 }

    DashboardJobFeedItem:
      type: object
      properties:
        id:              { type: string }
        pipeline:        { type: string }
        model:           { type: string, nullable: true }
        gateway:         { type: string }
        orchestratorUrl: { type: string }
        state:           { type: string }
        job_type:        { type: string, description: "Job type (e.g. stream, ai-batch, byoc). Omitted for streaming.", nullable: true }
        inputFps:        { type: number, format: double }
        outputFps:       { type: number, format: double }
        firstSeen:       { type: string, format: date-time }
        lastSeen:        { type: string, format: date-time }
        durationSeconds: { type: number, format: double, nullable: true }

    # ── Dashboard Jobs ───────────────────────────────────────────────────────

    DashboardJobsStats:
      type: object
      description: Aggregate metrics for one job family (AI batch or BYOC).
      properties:
        total_jobs:     { type: integer, format: int64 }
        success_rate:   { type: number, format: double, description: "0.0–1.0" }
        avg_duration_ms: { type: number, format: double }
        p99_duration_ms: { type: number, format: double }
      required: [total_jobs, success_rate, avg_duration_ms, p99_duration_ms]

    DashboardJobsOverview:
      type: object
      description: Top-level aggregate stats across AI batch and BYOC jobs.
      properties:
        ai_batch: { $ref: "#/components/schemas/DashboardJobsStats" }
        byoc:     { $ref: "#/components/schemas/DashboardJobsStats" }
      required: [ai_batch, byoc]

    DashboardJobsByPipelineRow:
      type: object
      description: Per-pipeline aggregate for AI batch jobs.
      properties:
        pipeline:       { type: string, description: "Pipeline name (e.g. text-to-image, llm)" }
        total_jobs:     { type: integer, format: int64 }
        success_rate:   { type: number, format: double, description: "0.0–1.0" }
        avg_duration_ms: { type: number, format: double }
      required: [pipeline, total_jobs, success_rate, avg_duration_ms]

    DashboardJobsByCapabilityRow:
      type: object
      description: Per-capability aggregate for BYOC jobs.
      properties:
        capability:     { type: string, description: "Capability name (e.g. openai-chat-completions)" }
        total_jobs:     { type: integer, format: int64 }
        success_rate:   { type: number, format: double, description: "0.0–1.0" }
        avg_duration_ms: { type: number, format: double }
      required: [capability, total_jobs, success_rate, avg_duration_ms]

    # ── Shared ──────────────────────────────────────────────────────────────

    ResponseMeta:
      type: object
      description: Standard response envelope metadata (ADR-002).
      properties:
        generated_at: { type: string, format: date-time, description: "UTC timestamp when the response was generated." }
        request_id:   { type: string, description: "Value of the X-Request-Id request header, if present." }

    Problem:
      description: RFC 7807 Problem Details error response.
      type: object
      properties:
        type:
          type: string
          example: "about:blank"
        title:
          type: string
          example: "Too Many Requests"
        status:
          type: integer
          example: 429
        detail:
          type: string
          example: "rate limit exceeded"

    WEI:
      description: |
        Payment value in wei (1e-18 ETH), returned as a decimal string to
        preserve full uint64 precision.
      type: string
      pattern: "^[0-9]+$"
      example: "1234500000000000000"

    FPSStats:
      type: object
      properties:
        Avg:
          type: number
          format: double
        P5:
          type: number
          format: double
        P50:
          type: number
          format: double
        P99:
          type: number
          format: double

    # ── Network (R1) ────────────────────────────────────────────────────────

    Orchestrator:
      type: object
      properties:
        Address:
          type: string
        Org:
          type: string
        Name:
          type: string
        URI:
          type: string
        Version:
          type: string
        LastSeen:
          type: string
          format: date-time
        IsActive:
          type: boolean
        RawCapabilities:
          type: string
          description: Raw JSON capabilities blob.

    ModelAvailability:
      type: object
      properties:
        Pipeline:
          type: string
        Model:
          type: string
        WarmOrchCount:
          type: integer
          format: int64
        TotalCapacity:
          type: integer
          format: int64
        PriceMinWeiPerPixel:
          type: integer
          format: int64
        PriceMaxWeiPerPixel:
          type: integer
          format: int64
        PriceAvgWeiPerPixel:
          type: number
          format: double

    # ── Model Performance (R12) ──────────────────────────────────────────────

    ModelPerformance:
      type: object
      properties:
        ModelID: { type: string }
        Pipeline: { type: string }
        AvgFPS: { type: number, format: double }
        P50FPS: { type: number, format: double }
        P99FPS: { type: number, format: double }
        WarmOrchCount: { type: integer, format: int64 }
        TotalStreams: { type: integer, format: int64 }

    OrchModelStats:
      type: object
      properties:
        Address: { type: string }
        Name: { type: string }
        AvgFPS: { type: number, format: double }
        IsWarm: { type: boolean }

    # ── Capacity (R15) ───────────────────────────────────────────────────────

    CapacityEntry:
      type: object
      properties:
        Pipeline: { type: string }
        ModelID: { type: string }
        WarmOrchCount: { type: integer, format: int64 }
        ActiveStreams: { type: integer, format: int64 }
        UtilizationPct: { type: number, format: double, description: "active streams / warm orchs (0–1)" }
        TotalVRAMBytes: { type: integer, format: int64 }

    CapacitySummary:
      type: object
      properties:
        SnapshotTime: { type: string, format: date-time }
        Entries:
          type: array
          items: { $ref: "#/components/schemas/CapacityEntry" }

    # ── SLA / GPU / Network Demand (ported from leaderboard-serverless) ──────

    ResponseMeta:
      type: object
      description: Standard response envelope metadata.
      properties:
        generated_at: { type: string, format: date-time, description: "UTC timestamp when the response was generated." }
        request_id:   { type: string, description: "Value of the X-Request-Id request header, if present." }

    CursorPagination:
      type: object
      description: Cursor pagination metadata included in list responses.
      properties:
        next_cursor: { type: string, example: "WyIyMDI2LTA0LTA5VDEyOjAwOjAwWiIsIjB4YWJjMTIzIl0" }
        has_more:    { type: boolean, example: true }
        page_size:   { type: integer, example: 50 }

    OrchestratorListResponse:
      type: object
      properties:
        data:
          type: array
          items: { $ref: "#/components/schemas/Orchestrator" }
        pagination: { $ref: "#/components/schemas/CursorPagination" }
        meta: { $ref: "#/components/schemas/ResponseMeta" }

    SLAComplianceRow:
      type: object
      description: SLA compliance metrics for one (orchestrator, pipeline, model, gpu, window) bucket.
      properties:
        window_start:                { type: string, format: date-time }
        org:                         { type: string, nullable: true }
        orchestrator_address:        { type: string, example: "0xabc123" }
        pipeline_id:                 { type: string, example: "streamdiffusion-sdxl-v2v" }
        model_id:                    { type: string, nullable: true }
        gpu_id:                      { type: string, nullable: true }
        gpu_model_name:              { type: string, nullable: true, description: "Hardware model surfaced for drilldown visibility. It is not part of cohort normalization." }
        region:                      { type: string, nullable: true, description: "Always null — not captured in event data." }
        known_sessions_count:        { type: integer, format: int64 }
        requested_sessions:          { type: integer, format: int64 }
        startup_success_sessions:    { type: integer, format: int64 }
        no_orch_sessions:            { type: integer, format: int64 }
        startup_excused_sessions:    { type: integer, format: int64, description: "Failed sessions whose KPI treatment is explicitly excused by canonical lifecycle rules." }
        startup_failed_sessions:     { type: integer, format: int64 }
        loading_only_sessions:       { type: integer, format: int64 }
        zero_output_fps_sessions:    { type: integer, format: int64 }
        output_failed_sessions:      { type: integer, format: int64, description: "Union count of requested sessions that were loading-only or zero-output; one session contributes at most once." }
        effective_failed_sessions:   { type: integer, format: int64 }
        confirmed_swapped_sessions:  { type: integer, format: int64, description: "Always 0 — confirmation signal absent." }
        inferred_swap_sessions:      { type: integer, format: int64 }
        total_swapped_sessions:      { type: integer, format: int64 }
        sessions_ending_in_error:    { type: integer, format: int64 }
        error_status_samples:        { type: integer, format: int64 }
        health_signal_count:         { type: integer, format: int64 }
        health_expected_signal_count: { type: integer, format: int64 }
        health_signal_coverage_ratio: { type: number, format: double, description: "Bounded to the inclusive range [0,1]." }
        startup_success_rate:        { type: number, format: double, nullable: true }
        excused_failure_rate:        { type: number, format: double, nullable: true }
        effective_success_rate:      { type: number, format: double, nullable: true }
        no_swap_rate:                { type: number, format: double, nullable: true }
        output_viability_rate:       { type: number, format: double, nullable: true, description: "1 - output_failed_sessions / requested_sessions; bounded to [0,1]." }
        output_fps_sum:              { type: number, format: double, description: "Additive FPS support field used for SLA quality scoring and safe higher-grain recomputation." }
        status_samples:              { type: integer, format: int64, description: "Additive FPS support count used for SLA quality scoring and safe higher-grain recomputation." }
        avg_output_fps:              { type: number, format: double, nullable: true, description: "Current-window mean output FPS derived from output_fps_sum / status_samples." }
        prompt_to_first_frame_sum_ms: { type: number, format: double, description: "Additive prompt-to-first-frame support field used for SLA quality scoring." }
        prompt_to_first_frame_sample_count: { type: integer, format: int64, description: "Current-window evidence count backing avg_prompt_to_first_frame_ms." }
        avg_prompt_to_first_frame_ms: { type: number, format: double, nullable: true, description: "Current-window mean prompt-to-playable latency used for benchmark-relative SLA quality scoring." }
        e2e_latency_sum_ms:          { type: number, format: double, description: "Additive E2E latency support field used for SLA quality scoring." }
        e2e_latency_sample_count:    { type: integer, format: int64, description: "Current-window evidence count backing avg_e2e_latency_ms." }
        avg_e2e_latency_ms:          { type: number, format: double, nullable: true, description: "Current-window mean E2E latency used for benchmark-relative SLA quality scoring." }
        reliability_score:           { type: number, format: double, nullable: true, description: "Bounded reliability component: (0.4×startup_success_rate)+(0.2×no_swap_rate)+(0.4×output_viability_rate)." }
        ptff_score:                  { type: number, format: double, description: "Benchmark-relative PTFF score after shrink-to-neutral. Rows at or below the 7-day cohort p50 score 1.0; rows at or above p90 score 0.0." }
        e2e_score:                   { type: number, format: double, description: "Benchmark-relative E2E score after shrink-to-neutral. Rows at or below the 7-day cohort p50 score 1.0; rows at or above p90 score 0.0." }
        latency_score:               { type: number, format: double, description: "0.6×ptff_score + 0.4×e2e_score." }
        fps_score:                   { type: number, format: double, description: "Benchmark-relative output-FPS score after shrink-to-neutral. Rows at or above the 7-day cohort p50 score 1.0; rows at or below p10 score 0.0." }
        quality_score:               { type: number, format: double, description: "0.6×latency_score + 0.4×fps_score." }
        sla_semantics_version:       { type: string, description: "Active SLA scoring contract version. Current value: quality-benchmark-v1." }
        sla_score:                   { type: number, format: double, nullable: true, description: "100×health_signal_coverage_ratio×((0.7×reliability_score)+(0.3×quality_score)), then clamped to [0,100]. Quality compares the current row to the prior 7 full UTC days of network-wide pipeline+model benchmarks." }

    SLAComplianceResponse:
      type: object
      properties:
        data:
          type: array
          items: { $ref: "#/components/schemas/SLAComplianceRow" }
        pagination: { $ref: "#/components/schemas/CursorPagination" }
        meta: { $ref: "#/components/schemas/ResponseMeta" }

    NetworkDemandRow:
      type: object
      description: Network demand metrics for one (gateway, pipeline, model, window) bucket.
      properties:
        window_start:                { type: string, format: date-time }
        org:                         { type: string, nullable: true }
        gateway:                     { type: string, example: "0xgateway123" }
        region:                      { type: string, nullable: true, description: "Always null." }
        pipeline_id:                 { type: string }
        model_id:                    { type: string, nullable: true }
        sessions_count:              { type: integer, format: int64 }
        avg_output_fps:              { type: number, format: double }
        output_fps_sum:              { type: number, format: double, description: "Additive FPS support field used for safe higher-grain recomputation." }
        status_samples:              { type: integer, format: int64, description: "Additive FPS support count used for safe higher-grain recomputation." }
        total_minutes:               { type: number, format: double }
        known_sessions_count:        { type: integer, format: int64 }
        requested_sessions:          { type: integer, format: int64 }
        startup_success_sessions:    { type: integer, format: int64 }
        no_orch_sessions:            { type: integer, format: int64 }
        startup_excused_sessions:    { type: integer, format: int64 }
        startup_failed_sessions:     { type: integer, format: int64 }
        loading_only_sessions:       { type: integer, format: int64 }
        zero_output_fps_sessions:    { type: integer, format: int64 }
        effective_failed_sessions:   { type: integer, format: int64 }
        confirmed_swapped_sessions:  { type: integer, format: int64 }
        inferred_swap_sessions:      { type: integer, format: int64 }
        total_swapped_sessions:      { type: integer, format: int64 }
        sessions_ending_in_error:    { type: integer, format: int64 }
        error_status_samples:        { type: integer, format: int64 }
        health_signal_count:         { type: integer, format: int64 }
        health_expected_signal_count: { type: integer, format: int64 }
        health_signal_coverage_ratio: { type: number, format: double, description: "Bounded to the inclusive range [0,1]." }
        startup_success_rate:        { type: number, format: double }
        excused_failure_rate:        { type: number, format: double }
        effective_success_rate:      { type: number, format: double }
        ticket_face_value_eth:       { type: number, format: double, description: "Proportional ETH payment estimate for this gateway's sessions." }

    NetworkDemandResponse:
      type: object
      properties:
        data:
          type: array
          items: { $ref: "#/components/schemas/NetworkDemandRow" }
        pagination: { $ref: "#/components/schemas/CursorPagination" }
        meta: { $ref: "#/components/schemas/ResponseMeta" }

    GPUNetworkDemandRow:
      type: object
      description: GPU-sliced network demand metrics for one (gateway, orchestrator, pipeline, model, gpu, window) bucket.
      properties:
        window_start:                { type: string, format: date-time }
        org:                         { type: string, nullable: true }
        gateway:                     { type: string }
        orchestrator_address:        { type: string }
        region:                      { type: string, nullable: true, description: "Always null." }
        pipeline_id:                 { type: string }
        model_id:                    { type: string, nullable: true }
        gpu_id:                      { type: string, nullable: true }
        gpu_identity_status:         { type: string, enum: [resolved, hardware_unresolved] }
        sessions_count:              { type: integer, format: int64 }
        avg_output_fps:              { type: number, format: double }
        output_fps_sum:              { type: number, format: double, description: "Additive FPS support field used for safe higher-grain recomputation." }
        status_samples:              { type: integer, format: int64, description: "Additive FPS support count used for safe higher-grain recomputation." }
        total_minutes:               { type: number, format: double }
        known_sessions_count:        { type: integer, format: int64 }
        requested_sessions:          { type: integer, format: int64 }
        startup_success_sessions:    { type: integer, format: int64 }
        no_orch_sessions:            { type: integer, format: int64 }
        startup_excused_sessions:    { type: integer, format: int64 }
        startup_failed_sessions:     { type: integer, format: int64 }
        loading_only_sessions:       { type: integer, format: int64 }
        zero_output_fps_sessions:    { type: integer, format: int64 }
        effective_failed_sessions:   { type: integer, format: int64 }
        confirmed_swapped_sessions:  { type: integer, format: int64 }
        inferred_swap_sessions:      { type: integer, format: int64 }
        total_swapped_sessions:      { type: integer, format: int64 }
        sessions_ending_in_error:    { type: integer, format: int64 }
        error_status_samples:        { type: integer, format: int64 }
        health_signal_count:         { type: integer, format: int64 }
        health_expected_signal_count: { type: integer, format: int64 }
        health_signal_coverage_ratio: { type: number, format: double, description: "Bounded to the inclusive range [0,1]." }
        startup_success_rate:        { type: number, format: double }
        excused_failure_rate:        { type: number, format: double }
        effective_success_rate:      { type: number, format: double }
        ticket_face_value_eth:       { type: number, format: double }

    GPUNetworkDemandResponse:
      type: object
      properties:
        data:
          type: array
          items: { $ref: "#/components/schemas/GPUNetworkDemandRow" }
        pagination: { $ref: "#/components/schemas/CursorPagination" }
        meta: { $ref: "#/components/schemas/ResponseMeta" }

    GPUMetric:
      type: object
      description: GPU performance metrics for one (orchestrator, pipeline, model, gpu, window) bucket.
      properties:
        window_start:                   { type: string, format: date-time }
        org:                            { type: string, nullable: true }
        orchestrator_address:           { type: string }
        pipeline_id:                    { type: string }
        model_id:                       { type: string, nullable: true }
        gpu_id:                         { type: string, nullable: true }
        region:                         { type: string, nullable: true, description: "Always null." }
        avg_output_fps:                 { type: number, format: double }
        output_fps_sum:                 { type: number, format: double, description: "Additive FPS support field used for safe higher-grain recomputation." }
        p95_output_fps:                 { type: number, format: double }
        fps_jitter_coefficient:         { type: number, format: double, nullable: true, description: "Always null — not computed." }
        status_samples:                 { type: integer, format: int64 }
        error_status_samples:           { type: integer, format: int64 }
        health_signal_count:            { type: integer, format: int64 }
        health_expected_signal_count:   { type: integer, format: int64 }
        health_signal_coverage_ratio:   { type: number, format: double, description: "Bounded to the inclusive range [0,1]." }
        gpu_model_name:                 { type: string, nullable: true }
        gpu_memory_bytes_total:         { type: integer, format: int64, nullable: true }
        runner_version:                 { type: string, nullable: true, description: "Always null." }
        cuda_version:                   { type: string, nullable: true, description: "Always null." }
        avg_prompt_to_first_frame_ms:   { type: number, format: double, nullable: true, description: "Mean prompt-to-playable proxy in milliseconds (`ai_stream_status.start_time` -> `gateway_receive_few_processed_segments`)." }
        prompt_to_first_frame_sum_ms:   { type: number, format: double, description: "Additive latency support field used for safe higher-grain recomputation." }
        avg_startup_latency_ms:         { type: number, format: double, nullable: true, description: "Mean startup proxy in milliseconds (`gateway_receive_stream_request` -> `gateway_receive_first_processed_segment`)." }
        startup_latency_sum_ms:         { type: number, format: double, description: "Additive latency support field used for safe higher-grain recomputation." }
        avg_e2e_latency_ms:             { type: number, format: double, nullable: true, description: "Mean E2E proxy in milliseconds (`gateway_send_first_ingest_segment` -> `runner_send_first_processed_segment`)." }
        e2e_latency_sum_ms:             { type: number, format: double, description: "Additive latency support field used for safe higher-grain recomputation." }
        p95_prompt_to_first_frame_latency_ms: { type: number, format: double, nullable: true, description: "P95 prompt-to-playable proxy in milliseconds (`ai_stream_status.start_time` -> `gateway_receive_few_processed_segments`)." }
        p95_startup_latency_ms:         { type: number, format: double, nullable: true, description: "P95 startup proxy in milliseconds (`gateway_receive_stream_request` -> `gateway_receive_first_processed_segment`)." }
        p95_e2e_latency_ms:             { type: number, format: double, nullable: true, description: "P95 E2E proxy in milliseconds (`gateway_send_first_ingest_segment` -> `runner_send_first_processed_segment`)." }
        prompt_to_first_frame_sample_count: { type: integer, format: int64 }
        startup_latency_sample_count:   { type: integer, format: int64 }
        e2e_latency_sample_count:       { type: integer, format: int64 }
        known_sessions_count:           { type: integer, format: int64 }
        startup_success_sessions:       { type: integer, format: int64 }
        no_orch_sessions:               { type: integer, format: int64 }
        startup_excused_sessions:       { type: integer, format: int64 }
        startup_failed_sessions:        { type: integer, format: int64 }
        confirmed_swapped_sessions:     { type: integer, format: int64 }
        inferred_swap_sessions:         { type: integer, format: int64 }
        total_swapped_sessions:         { type: integer, format: int64 }
        sessions_ending_in_error:       { type: integer, format: int64 }
        startup_failed_rate:            { type: number, format: double }
        swap_rate:                      { type: number, format: double }

    GPUMetricsResponse:
      type: object
      properties:
        data:
          type: array
          items: { $ref: "#/components/schemas/GPUMetric" }
        pagination: { $ref: "#/components/schemas/CursorPagination" }
        meta: { $ref: "#/components/schemas/ResponseMeta" }

  responses:
    429:
      description: Rate limit exceeded.
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    500:
      description: Internal server error.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    404:
      description: Resource not found.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    TooManyRequests:
      description: Rate limit exceeded.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }
    NotFound:
      description: Resource not found.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }
    BadRequest:
      description: Bad request.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }

# ── Paths ──────────────────────────────────────────────────────────────────────

paths:

  /healthz:
    get:
      tags: [Health]
      summary: Health check
      description: Returns 200 with `{"status":"ok"}` if the service and ClickHouse are healthy. Returns 503 if the ClickHouse ping fails.
      operationId: getHealth
      responses:
        "200":
          description: Service is healthy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok, degraded]
        "503":
          description: ClickHouse is unreachable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: degraded

  # ── Network ────────────────────────────────────────────────────────────────

  /v1/net/orchestrators:
    get:
      tags: [Network]
      summary: List orchestrators
      description: Paginated list of orchestrators ordered by last seen descending.
      operationId: listOrchestrators
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/active_only"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/cursor"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OrchestratorListResponse" }
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"

  /v1/net/models:
    get:
      tags: [Network]
      summary: Model availability
      description: Available AI models per pipeline, including warm orch count and price range.
      operationId: listModels
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/pipeline"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ModelAvailability"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"


  # ── Model Performance (R12) ──────────────────────────────────────────────

  /v1/perf/by-model:
    get:
      summary: Streaming performance by AI model
      description: Returns FPS performance broken down by AI model for streaming pipelines only, joined from GPU inventory.
      operationId: listModelPerformance
      tags: [Network]
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
        - $ref: "#/components/parameters/pipeline"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/ModelPerformance" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  # ── Capacity (R15) ───────────────────────────────────────────────────────

  /v1/net/capacity:
    get:
      summary: Network capacity vs. demand
      description: Returns GPU supply (warm orchs, VRAM) vs. active stream demand per (pipeline, model).
      operationId: getCapacitySummary
      tags: [Capacity, Network]
      parameters:
        - $ref: "#/components/parameters/org"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CapacitySummary" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  # ── SLA / GPU / Network Demand (ported from leaderboard-serverless) ────────

  /v1/sla/compliance:
    get:
      summary: SLA compliance metrics
      description: |
        Returns per-orchestrator SLA compliance metrics aggregated into hourly buckets.
        Grouped by (orchestrator_address, pipeline_id, model_id, gpu_id).

        **Window:** default 3h, min 1m, max 30d.

        `region` filtering is applied when SLA rows carry region identity. Confirmed
        swap counters currently remain 0.
      operationId: listSLACompliance
      tags: [SLA]
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/window"
        - $ref: "#/components/parameters/orchestrator_address"
        - $ref: "#/components/parameters/pipeline_id"
        - $ref: "#/components/parameters/model_id"
        - $ref: "#/components/parameters/gpu_id"
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/cursor"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SLAComplianceResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "500": { $ref: "#/components/responses/500" }

  /v1/network/demand:
    get:
      summary: Network demand metrics
      description: |
        Returns gateway demand metrics aggregated into hourly buckets.
        Grouped by (gateway, pipeline_id, model_id).

        **Window:** default 3h, min 1m, max 30d.

        This surface unions perf-backed hourly keys with session-demand keys so
        demand-only and perf-only rows both remain visible.
      operationId: listNetworkDemand
      tags: [Demand]
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/window"
        - $ref: "#/components/parameters/gateway_filter"
        - $ref: "#/components/parameters/pipeline_id"
        - $ref: "#/components/parameters/model_id"
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/cursor"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/NetworkDemandResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "500": { $ref: "#/components/responses/500" }

  /v1/gpu/network-demand:
    get:
      summary: GPU-sliced network demand metrics
      description: |
        Returns GPU-sliced gateway demand metrics aggregated into hourly buckets.
        Grouped by (gateway, orchestrator_address, pipeline_id, model_id, gpu_id).

        **Window:** default 3h, min 1m, max 30d.

        Hardware-unresolved rows remain visible with `gpu_identity_status = hardware_unresolved`.
      operationId: listGPUNetworkDemand
      tags: [Demand]
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/window"
        - $ref: "#/components/parameters/gateway_filter"
        - $ref: "#/components/parameters/orchestrator_address"
        - $ref: "#/components/parameters/pipeline_id"
        - $ref: "#/components/parameters/model_id"
        - $ref: "#/components/parameters/gpu_id"
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/cursor"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GPUNetworkDemandResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "500": { $ref: "#/components/responses/500" }

  /v1/gpu/metrics:
    get:
      summary: GPU performance metrics
      description: |
        Returns per-GPU performance metrics aggregated into hourly buckets.
        Grouped by (orchestrator_address, pipeline_id, model_id, gpu_id).
        Hardware dimensions (gpu_model_name, gpu_memory_bytes_total) are joined
        from the GPU inventory.

        **Window:** default 24h, min 1m, max 72h.

        **Approximations:** `region`, `runner_version`, `cuda_version`, and
        `fps_jitter_coefficient` are currently null. Latency fields use canonical
        session-edge proxies rather than raw producer-reported status latency.
      operationId: listGPUMetrics
      tags: [GPUMetrics]
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/window"
        - $ref: "#/components/parameters/orchestrator_address"
        - $ref: "#/components/parameters/pipeline_id"
        - $ref: "#/components/parameters/model_id"
        - $ref: "#/components/parameters/gpu_id"
        - $ref: "#/components/parameters/gpu_model_name"
        - $ref: "#/components/parameters/runner_version"
        - $ref: "#/components/parameters/cuda_version"
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/cursor"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GPUMetricsResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "500": { $ref: "#/components/responses/500" }

  # ── Dashboard paths (R16) ─────────────────────────────────────────────────

  /v1/dashboard/kpi:
    get:
      summary: Dashboard KPI metrics
      description: |
        Returns top-level KPI metrics for the dashboard: success rate, active
        orchestrators, session count, and hourly time-series buckets.

        Deltas are computed by splitting the window into two equal halves and
        comparing their aggregates.

        **Window:** default 24h, max 168h (7 days). Accepts `?window=24h` or `?window=7d`.

        **Filters:** `pipeline` narrows session counts and usage minutes; `model_id` narrows
        usage minutes only (session counts are not tracked at model granularity).
      operationId: getDashboardKPI
      tags: [Dashboard]
      parameters:
        - $ref: "#/components/parameters/window"
        - $ref: "#/components/parameters/pipeline"
        - $ref: "#/components/parameters/model_id"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DashboardKPI" }
        "500": { $ref: "#/components/responses/500" }

  /v1/dashboard/pipelines:
    get:
      summary: Pipeline usage summary
      description: |
        Returns the top N pipelines by session count over the last 24 hours.
        Suitable for the pipeline usage bar chart.
      operationId: getDashboardPipelines
      tags: [Dashboard]
      parameters:
        - name: limit
          in: query
          description: Maximum pipelines to return (1–20, default 5).
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 5
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/DashboardPipelineUsage" }
        "500": { $ref: "#/components/responses/500" }

  /v1/dashboard/orchestrators:
    get:
      summary: Orchestrator SLA table
      description: |
        Returns per-orchestrator SLA metrics aggregated over a rolling window.
        Includes session counts, effective success rate, no-swap ratio, and the
        latest available hourly contracted `slaScore` inside the requested
        window.
        Also includes the pipelines and models each orchestrator currently offers,
        and GPU count from the hardware inventory.

        **Window:** default 7d (168h), max 30d (720h).
      operationId: getDashboardOrchestrators
      tags: [Dashboard]
      parameters:
        - $ref: "#/components/parameters/window"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/DashboardOrchestrator" }
        "500": { $ref: "#/components/responses/500" }

  /v1/dashboard/gpu-capacity:
    get:
      summary: GPU capacity inventory
      description: |
        Returns GPU hardware inventory grouped by pipeline, model, and GPU model.
        Data is sourced from the latest capability snapshots (last 10 minutes).
        Suitable for the GPU capacity widget.
      operationId: getDashboardGPUCapacity
      tags: [Dashboard]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DashboardGPUCapacity" }
        "500": { $ref: "#/components/responses/500" }

  /v1/dashboard/pipeline-catalog:
    get:
      summary: Active pipeline catalog
      description: |
        Returns all pipeline + model combinations currently offered by at least
        one warm orchestrator (seen within the last 10 minutes).
        Suitable for the pipeline catalog widget.
      operationId: getDashboardPipelineCatalog
      tags: [Dashboard]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/DashboardPipelineCatalogEntry" }
        "500": { $ref: "#/components/responses/500" }

  /v1/dashboard/pricing:
    get:
      summary: Pipeline pricing (raw wei)
      description: |
        Returns raw wei-per-unit pricing for each pipeline + model combination,
        aggregated across all active orchestrators.

        `priceAvgWeiPerUnit` is the unweighted mean across orchestrators that
        advertise a price. Convert to a human scale with `price = avg / 1e12`.
        Only orchestrators active within the last 10 minutes are included.
        Coverage is sparse — most orchestrators do not advertise prices.
      operationId: getDashboardPricing
      tags: [Dashboard]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/DashboardPipelinePricing" }
        "500": { $ref: "#/components/responses/500" }

  /v1/dashboard/job-feed:
    get:
      summary: Live job feed
      description: |
        Returns currently active streams grouped by session key, ordered by most
        recently seen. Each item represents one active stream request attributed
        to a gateway/orchestrator pair.

        Streams with no orchestrator attribution yet appear with an empty
        `orchestratorUrl` field.
      operationId: getDashboardJobFeed
      tags: [Dashboard]
      parameters:
        - name: limit
          in: query
          description: Maximum items to return (1–200, default 50).
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/DashboardJobFeedItem" }
        "500": { $ref: "#/components/responses/500" }

  /v1/dashboard/jobs/overview:
    get:
      summary: Jobs overview (AI batch + BYOC)
      description: |
        Returns top-level aggregate stats for AI batch and BYOC jobs in the
        requested time window. Supports optional filtering by `pipeline` and
        `model_id` to scope aggregates to a specific pipeline or model.
      operationId: getDashboardJobsOverview
      tags: [Dashboard]
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
        - $ref: "#/components/parameters/pipeline"
        - $ref: "#/components/parameters/model_id"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/DashboardJobsOverview" }
                  meta: { $ref: "#/components/schemas/ResponseMeta" }
        "500": { $ref: "#/components/responses/500" }

  /v1/dashboard/jobs/by-pipeline:
    get:
      summary: AI batch jobs breakdown by pipeline
      description: |
        Returns per-pipeline aggregates (job count, success rate, avg duration)
        for AI batch jobs in the requested time window. Filter by `pipeline` to
        scope to a single pipeline, or `model_id` to scope to a specific model
        within a pipeline.
      operationId: getDashboardJobsByPipeline
      tags: [Dashboard]
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
        - $ref: "#/components/parameters/pipeline"
        - $ref: "#/components/parameters/model_id"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/DashboardJobsByPipelineRow" }
                  meta: { $ref: "#/components/schemas/ResponseMeta" }
        "500": { $ref: "#/components/responses/500" }

  /v1/dashboard/jobs/by-capability:
    get:
      summary: BYOC jobs breakdown by capability
      description: |
        Returns per-capability aggregates (job count, success rate, avg duration)
        for BYOC jobs in the requested time window. Filter by `pipeline` or
        `model_id` to narrow results to a specific capability or model.
      operationId: getDashboardJobsByCapability
      tags: [Dashboard]
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
        - $ref: "#/components/parameters/pipeline"
        - $ref: "#/components/parameters/model_id"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/DashboardJobsByCapabilityRow" }
                  meta: { $ref: "#/components/schemas/ResponseMeta" }
        "500": { $ref: "#/components/responses/500" }

  # ── AI Batch Jobs (R17) ───────────────────────────────────────────────────

  /v1/ai-batch/summary:
    get:
      summary: AI batch job summary by pipeline
      description: |
        Returns per-pipeline aggregates (job count, success rate, avg duration,
        avg latency score) for completed AI batch jobs in the time window.
        Covers fixed pipelines: text-to-image, image-to-image, image-to-video,
        upscale, audio-to-text, llm, segment-anything-2, image-to-text, text-to-speech.
      operationId: getAIBatchSummary
      tags: [AIBatch]
      parameters:
        - { $ref: "#/components/parameters/org" }
        - { $ref: "#/components/parameters/start" }
        - { $ref: "#/components/parameters/end" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/AIBatchJobSummary" }
                  meta: { $ref: "#/components/schemas/ResponseMeta" }
        "500": { $ref: "#/components/responses/500" }

  /v1/ai-batch/jobs:
    get:
      summary: Paginated AI batch job records
      description: |
        Returns individual completed AI batch job records ordered by completion
        time descending.
      operationId: listAIBatchJobs
      tags: [AIBatch]
      parameters:
        - { $ref: "#/components/parameters/org" }
        - { $ref: "#/components/parameters/start" }
        - { $ref: "#/components/parameters/end" }
        - { $ref: "#/components/parameters/limit" }
        - { $ref: "#/components/parameters/cursor" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/AIBatchJobRecord" }
                  pagination: { $ref: "#/components/schemas/CursorPagination" }
                  meta: { $ref: "#/components/schemas/ResponseMeta" }
        "400": { $ref: "#/components/responses/400" }
        "500": { $ref: "#/components/responses/500" }

  /v1/ai-batch/llm/summary:
    get:
      summary: LLM performance summary by model
      description: |
        Returns per-model LLM metrics (requests, success rate, avg tokens/sec,
        avg TTFT, avg total tokens) for the llm AI batch pipeline.
        Other pipelines have no LLM records.
      operationId: getAIBatchLLMSummary
      tags: [AIBatch]
      parameters:
        - { $ref: "#/components/parameters/org" }
        - { $ref: "#/components/parameters/start" }
        - { $ref: "#/components/parameters/end" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/AIBatchLLMSummary" }
                  meta: { $ref: "#/components/schemas/ResponseMeta" }
        "500": { $ref: "#/components/responses/500" }

  # ── BYOC Jobs (R18) ───────────────────────────────────────────────────────

  /v1/byoc/summary:
    get:
      summary: BYOC job summary by capability
      description: |
        Returns per-capability aggregates for completed BYOC jobs. Capability
        values are stored verbatim (e.g. "openai-chat-completions") — the set
        of capabilities is dynamic and never hardcoded.
      operationId: getBYOCSummary
      tags: [BYOC]
      parameters:
        - { $ref: "#/components/parameters/org" }
        - { $ref: "#/components/parameters/start" }
        - { $ref: "#/components/parameters/end" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/BYOCJobSummary" }
                  meta: { $ref: "#/components/schemas/ResponseMeta" }
        "500": { $ref: "#/components/responses/500" }

  /v1/byoc/jobs:
    get:
      summary: Paginated BYOC job records
      description: |
        Returns individual completed BYOC job records ordered by completion
        time descending.
      operationId: listBYOCJobs
      tags: [BYOC]
      parameters:
        - { $ref: "#/components/parameters/org" }
        - { $ref: "#/components/parameters/start" }
        - { $ref: "#/components/parameters/end" }
        - { $ref: "#/components/parameters/limit" }
        - { $ref: "#/components/parameters/cursor" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/BYOCJobRecord" }
                  pagination: { $ref: "#/components/schemas/CursorPagination" }
                  meta: { $ref: "#/components/schemas/ResponseMeta" }
        "400": { $ref: "#/components/responses/400" }
        "500": { $ref: "#/components/responses/500" }

  /v1/byoc/workers:
    get:
      summary: BYOC worker inventory by capability
      description: |
        Returns per-capability worker counts, model lists, and average pricing
        from worker lifecycle events in the time window.
      operationId: getBYOCWorkers
      tags: [BYOC]
      parameters:
        - { $ref: "#/components/parameters/org" }
        - { $ref: "#/components/parameters/start" }
        - { $ref: "#/components/parameters/end" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/BYOCWorkerSummary" }
                  meta: { $ref: "#/components/schemas/ResponseMeta" }
        "500": { $ref: "#/components/responses/500" }

  /v1/byoc/auth:
    get:
      summary: BYOC auth event summary by capability
      description: |
        Returns per-capability auth event counts, success rates, and failure
        counts from job_auth events in the time window.
      operationId: getBYOCAuthSummary
      tags: [BYOC]
      parameters:
        - { $ref: "#/components/parameters/org" }
        - { $ref: "#/components/parameters/start" }
        - { $ref: "#/components/parameters/end" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/BYOCAuthSummary" }
                  meta: { $ref: "#/components/schemas/ResponseMeta" }
        "500": { $ref: "#/components/responses/500" }

  # ── Jobs — request/response job types (R19) ──────────────────────────────

  /v1/jobs/demand:
    get:
      summary: Hourly demand for request/response jobs
      description: |
        Returns hourly job counts, success rates, and duration stats for
        AI-batch and BYOC pipelines. Use `?job_type=ai-batch` or
        `?job_type=byoc` to filter to one type.
      operationId: listJobsDemand
      tags: [Jobs]
      parameters:
        - { $ref: "#/components/parameters/org" }
        - { $ref: "#/components/parameters/window" }
        - { $ref: "#/components/parameters/limit" }
        - { $ref: "#/components/parameters/cursor" }
        - name: pipeline_id
          in: query
          schema: { type: string }
        - name: model_id
          in: query
          schema: { type: string }
        - name: gateway
          in: query
          schema: { type: string }
        - name: job_type
          in: query
          description: Filter to one job type. One of "ai-batch" or "byoc".
          schema:
            type: string
            enum: [ai-batch, byoc]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/JobsDemandRow" }
                  pagination: { $ref: "#/components/schemas/CursorPagination" }
                  meta: { $ref: "#/components/schemas/ResponseMeta" }
        "400": { $ref: "#/components/responses/400" }
        "500": { $ref: "#/components/responses/500" }

  /v1/jobs/sla:
    get:
      summary: SLA compliance for request/response jobs
      description: |
        Returns hourly per-orchestrator success rates and SLA scores for
        AI-batch and BYOC pipelines. Streaming SLA is at /v1/sla/compliance.
      operationId: listJobsSLA
      tags: [Jobs]
      parameters:
        - { $ref: "#/components/parameters/org" }
        - { $ref: "#/components/parameters/window" }
        - { $ref: "#/components/parameters/limit" }
        - { $ref: "#/components/parameters/cursor" }
        - name: pipeline_id
          in: query
          schema: { type: string }
        - name: model_id
          in: query
          schema: { type: string }
        - name: orchestrator_address
          in: query
          schema: { type: string }
        - name: job_type
          in: query
          schema:
            type: string
            enum: [ai-batch, byoc]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/JobsSLARow" }
                  pagination: { $ref: "#/components/schemas/CursorPagination" }
                  meta: { $ref: "#/components/schemas/ResponseMeta" }
        "400": { $ref: "#/components/responses/400" }
        "500": { $ref: "#/components/responses/500" }

  /v1/jobs/by-model:
    get:
      summary: Request/response job performance by model
      description: |
        Returns p50/p99 duration, job count, and warm orch count per
        (pipeline, model) for AI-batch and BYOC jobs. Streaming FPS
        performance is at /v1/perf/by-model.
      operationId: listJobsByModel
      tags: [Jobs]
      parameters:
        - { $ref: "#/components/parameters/org" }
        - { $ref: "#/components/parameters/window" }
        - name: pipeline_id
          in: query
          schema: { type: string }
        - name: model_id
          in: query
          schema: { type: string }
        - name: job_type
          in: query
          schema:
            type: string
            enum: [ai-batch, byoc]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/JobModelPerformance" }
        "500": { $ref: "#/components/responses/500" }
