openapi: "3.0.3"
info:
  title: NAAP Analytics API v2
  version: "2"
  description: |
    Read-only analytics API for the Livepeer AI network, backed by ClickHouse.

    **21 endpoints** organized into three sections:
    - **Dashboard** (7) — pre-aggregated widgets for the NAAP UI dashboard page
    - **Streaming** (5) — live-video-to-video session analytics
    - **Requests** (9) — AI Batch + BYOC request/response job analytics

    ## Conventions
    - All timestamps are UTC ISO 8601 / RFC 3339.
    - Cursor-paginated endpoints return `{data, pagination, meta}` envelopes.
    - Non-paginated endpoints return the payload directly.
    - Errors follow RFC 7807 `application/problem+json`.
    - Default time window is **24 hours** when `window` / `start` / `end` are omitted.
    - Rate limit: 100 req/s sustained, burst 200 per IP.

servers:
  - url: https://naap-api.livepeer.cloud
    description: Production
  - url: https://naap-api.cloudspe.com
    description: CloudSPE
  - url: http://localhost:8000
    description: Local development

tags:
  - name: Dashboard
    description: Pre-aggregated UI widgets combining streaming + requests data
  - name: Streaming
    description: Live-video-to-video session analytics
  - name: Requests
    description: AI Batch + BYOC request/response job analytics

paths:
  # ──────────────────────── Dashboard (7 endpoints) ────────────────────────

  /v1/dashboard/kpi:
    get:
      operationId: getDashboardKPI
      tags: [Dashboard]
      summary: KPI summary with hourly timeseries
      description: |
        Returns success rate, active orchestrators, usage minutes, session count,
        and hourly timeseries for the given window. Includes period-over-period deltas.
        Also includes request-job overview (AI Batch + BYOC totals).
      parameters:
        - $ref: "#/components/parameters/DashboardWindow"
        - name: pipeline
          in: query
          schema: { type: string }
        - name: model_id
          in: query
          schema: { type: string }
      responses:
        "200":
          description: KPI payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardKPICombined"

  /v1/dashboard/pipelines:
    get:
      operationId: getDashboardPipelines
      tags: [Dashboard]
      summary: Pipeline usage breakdown
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 5, minimum: 1, maximum: 20 }
        - $ref: "#/components/parameters/DashboardWindow"
      responses:
        "200":
          description: Pipeline usage payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardPipelinesCombined"

  /v1/dashboard/orchestrators:
    get:
      operationId: getDashboardOrchestrators
      tags: [Dashboard]
      summary: Orchestrator SLA table
      parameters:
        - name: window
          in: query
          schema: { type: string, default: "7d" }
          description: "Time window (e.g. 24h, 7d). Max 30d."
      responses:
        "200":
          description: Orchestrator list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DashboardOrchestrator"

  /v1/dashboard/gpu-capacity:
    get:
      operationId: getDashboardGPUCapacity
      tags: [Dashboard]
      summary: GPU inventory summary
      responses:
        "200":
          description: GPU capacity payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardGPUCapacity"

  /v1/dashboard/pipeline-catalog:
    get:
      operationId: getDashboardPipelineCatalog
      tags: [Dashboard]
      summary: Available pipeline + model combinations
      responses:
        "200":
          description: Pipeline catalog
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DashboardPipelineCatalogEntry"

  /v1/dashboard/pricing:
    get:
      operationId: getDashboardPricing
      tags: [Dashboard]
      summary: Per-orchestrator pricing
      responses:
        "200":
          description: Pricing rows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DashboardPipelinePricing"

  /v1/dashboard/job-feed:
    get:
      operationId: getDashboardJobFeed
      tags: [Dashboard]
      summary: Live job/stream feed
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 50, minimum: 1, maximum: 200 }
      responses:
        "200":
          description: Job feed items
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DashboardJobFeedItem"

  # ──────────────────────── Streaming (5 endpoints) ────────────────────────

  /v1/streaming/models:
    get:
      operationId: getStreamingModels
      tags: [Streaming]
      summary: Streaming model capacity and performance
      responses:
        "200":
          description: Streaming model rows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/StreamingModel"

  /v1/streaming/orchestrators:
    get:
      operationId: getStreamingOrchestrators
      tags: [Streaming]
      summary: Streaming orchestrator inventory
      responses:
        "200":
          description: Streaming orchestrator rows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/StreamingOrchestrator"

  /v1/streaming/sla:
    get:
      operationId: getStreamingSLA
      tags: [Streaming]
      summary: Streaming SLA compliance (cursor-paginated)
      parameters:
        - $ref: "#/components/parameters/WindowStart"
        - $ref: "#/components/parameters/WindowEnd"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: SLA compliance rows
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CursorEnvelope_StreamingSLARow"

  /v1/streaming/demand:
    get:
      operationId: getStreamingDemand
      tags: [Streaming]
      summary: Streaming network demand (cursor-paginated)
      parameters:
        - $ref: "#/components/parameters/WindowStart"
        - $ref: "#/components/parameters/WindowEnd"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Demand rows
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CursorEnvelope_StreamingDemandRow"

  /v1/streaming/gpu-metrics:
    get:
      operationId: getStreamingGPUMetrics
      tags: [Streaming]
      summary: Per-GPU streaming metrics (cursor-paginated)
      parameters:
        - $ref: "#/components/parameters/WindowStart"
        - $ref: "#/components/parameters/WindowEnd"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: GPU metric rows
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CursorEnvelope_StreamingGPUMetricRow"

  # ──────────────────────── Requests (9 endpoints) ────────────────────────

  /v1/requests/models:
    get:
      operationId: getRequestsModels
      tags: [Requests]
      summary: Request-based model capacity and performance
      responses:
        "200":
          description: Request model rows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RequestsModel"

  /v1/requests/orchestrators:
    get:
      operationId: getRequestsOrchestrators
      tags: [Requests]
      summary: Request-based orchestrator inventory
      responses:
        "200":
          description: Request orchestrator rows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RequestsOrchestrator"

  /v1/requests/ai-batch/summary:
    get:
      operationId: getAIBatchSummary
      tags: [Requests]
      summary: AI Batch job summary by pipeline
      parameters:
        - $ref: "#/components/parameters/WindowStart"
        - $ref: "#/components/parameters/WindowEnd"
      responses:
        "200":
          description: AI Batch summary rows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AIBatchSummaryRow"

  /v1/requests/ai-batch/jobs:
    get:
      operationId: listAIBatchJobs
      tags: [Requests]
      summary: AI Batch individual job records (cursor-paginated)
      parameters:
        - $ref: "#/components/parameters/WindowStart"
        - $ref: "#/components/parameters/WindowEnd"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: AI Batch job records
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CursorEnvelope_AIBatchJobRecord"

  /v1/requests/ai-batch/llm-summary:
    get:
      operationId: getAIBatchLLMSummary
      tags: [Requests]
      summary: AI Batch LLM-specific summary by model
      parameters:
        - $ref: "#/components/parameters/WindowStart"
        - $ref: "#/components/parameters/WindowEnd"
      responses:
        "200":
          description: LLM summary rows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AIBatchLLMSummaryRow"

  /v1/requests/byoc/summary:
    get:
      operationId: getBYOCSummary
      tags: [Requests]
      summary: BYOC job summary by capability
      parameters:
        - $ref: "#/components/parameters/WindowStart"
        - $ref: "#/components/parameters/WindowEnd"
      responses:
        "200":
          description: BYOC summary rows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BYOCSummaryRow"

  /v1/requests/byoc/jobs:
    get:
      operationId: listBYOCJobs
      tags: [Requests]
      summary: BYOC individual job records (cursor-paginated)
      parameters:
        - $ref: "#/components/parameters/WindowStart"
        - $ref: "#/components/parameters/WindowEnd"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: BYOC job records
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CursorEnvelope_BYOCJobRecord"

  /v1/requests/byoc/workers:
    get:
      operationId: getBYOCWorkers
      tags: [Requests]
      summary: BYOC worker inventory by capability
      parameters:
        - $ref: "#/components/parameters/WindowStart"
        - $ref: "#/components/parameters/WindowEnd"
      responses:
        "200":
          description: BYOC worker rows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BYOCWorkerRow"

  /v1/requests/byoc/auth:
    get:
      operationId: getBYOCAuth
      tags: [Requests]
      summary: BYOC auth event summary by capability
      parameters:
        - $ref: "#/components/parameters/WindowStart"
        - $ref: "#/components/parameters/WindowEnd"
      responses:
        "200":
          description: BYOC auth rows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BYOCAuthRow"

  # ──────────────────────── Infrastructure ────────────────────────

  /healthz:
    get:
      operationId: healthz
      summary: Health check
      responses:
        "200":
          description: Healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: "ok" }

components:
  parameters:
    DashboardWindow:
      name: window
      in: query
      schema: { type: string, default: "24h" }
      description: "Time window (e.g. 1h, 24h, 7d). Max 168h."

    WindowStart:
      name: start
      in: query
      schema: { type: string, format: date-time }
      description: "Window start (RFC 3339). Default: now - 24h."

    WindowEnd:
      name: end
      in: query
      schema: { type: string, format: date-time }
      description: "Window end (RFC 3339). Default: now."

    Limit:
      name: limit
      in: query
      schema: { type: integer, default: 50, minimum: 1, maximum: 1000 }

    Cursor:
      name: cursor
      in: query
      schema: { type: string }
      description: Opaque cursor for keyset pagination.

  schemas:
    CursorPageInfo:
      type: object
      properties:
        next_cursor: { type: string }
        has_more: { type: boolean }
        page_size: { type: integer }

    Meta:
      type: object
      properties:
        generated_at: { type: string, format: date-time }
        request_id: { type: string }

    MetricDelta:
      type: object
      properties:
        value: { type: number }
        delta: { type: number }

    HourlyBucket:
      type: object
      properties:
        hour: { type: string, format: date-time }
        value: { type: number }

    DashboardKPI:
      type: object
      properties:
        successRate: { $ref: "#/components/schemas/MetricDelta" }
        orchestratorsOnline: { $ref: "#/components/schemas/MetricDelta" }
        dailyUsageMins: { $ref: "#/components/schemas/MetricDelta" }
        dailySessionCount: { $ref: "#/components/schemas/MetricDelta" }
        dailyNetworkFeesEth: { $ref: "#/components/schemas/MetricDelta" }
        timeframeHours: { type: integer }
        hourlySessions:
          type: array
          items: { $ref: "#/components/schemas/HourlyBucket" }
        hourlyUsage:
          type: array
          items: { $ref: "#/components/schemas/HourlyBucket" }

    DashboardJobsOverview:
      type: object
      properties:
        ai_batch:
          $ref: "#/components/schemas/DashboardJobsStats"
        byoc:
          $ref: "#/components/schemas/DashboardJobsStats"

    DashboardJobsStats:
      type: object
      properties:
        total_jobs: { type: integer }
        selected_jobs: { type: integer }
        no_orch_jobs: { type: integer }
        success_rate: { type: number }
        avg_duration_ms: { type: number }

    DashboardKPICombined:
      type: object
      properties:
        streaming: { $ref: "#/components/schemas/DashboardKPI" }
        requests: { $ref: "#/components/schemas/DashboardJobsOverview" }

    DashboardPipelineModelMins:
      type: object
      properties:
        model: { type: string }
        mins: { type: number }
        sessions: { type: integer }
        avgFps: { type: number }

    DashboardPipelineUsage:
      type: object
      properties:
        name: { type: string }
        mins: { type: number }
        sessions: { type: integer }
        avgFps: { type: number }
        modelMins:
          type: array
          items: { $ref: "#/components/schemas/DashboardPipelineModelMins" }

    DashboardJobsByPipelineRow:
      type: object
      properties:
        pipeline: { type: string }
        total_jobs: { type: integer }
        selected_jobs: { type: integer }
        no_orch_jobs: { type: integer }
        success_rate: { type: number }
        avg_duration_ms: { type: number }

    DashboardJobsByCapabilityRow:
      type: object
      properties:
        capability: { type: string }
        total_jobs: { type: integer }
        selected_jobs: { type: integer }
        no_orch_jobs: { type: integer }
        success_rate: { type: number }
        avg_duration_ms: { type: number }

    DashboardPipelinesCombined:
      type: object
      properties:
        streaming:
          type: array
          items: { $ref: "#/components/schemas/DashboardPipelineUsage" }
        requests:
          type: object
          properties:
            by_pipeline:
              type: array
              items: { $ref: "#/components/schemas/DashboardJobsByPipelineRow" }
            by_capability:
              type: array
              items: { $ref: "#/components/schemas/DashboardJobsByCapabilityRow" }

    DashboardOrchestrator:
      type: object
      properties:
        address: { type: string }
        serviceUri: { type: string }
        knownSessions: { type: integer }
        successSessions: { type: integer }
        successRatio: { type: number }
        effectiveSuccessRate: { type: number, nullable: true }
        noSwapRatio: { type: number, nullable: true }
        slaScore: { type: number, nullable: true }
        pipelines:
          type: array
          items: { type: string }
        pipelineModels:
          type: array
          items:
            type: object
            properties:
              pipelineId: { type: string }
              modelIds:
                type: array
                items: { type: string }
        gpuCount: { type: integer }

    DashboardGPUCapacity:
      type: object
      properties:
        totalGPUs: { type: integer }
        activeGPUs: { type: integer }
        availableCapacity: { type: number }
        models:
          type: array
          items:
            type: object
            properties:
              model: { type: string }
              count: { type: integer }
        pipelineGPUs:
          type: array
          items:
            type: object
            properties:
              name: { type: string }
              gpus: { type: integer }
              models:
                type: array
                items:
                  type: object
                  properties:
                    model: { type: string }
                    gpus: { type: integer }

    DashboardPipelineCatalogEntry:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        models:
          type: array
          items: { type: string }
        regions:
          type: array
          items: { type: string }

    DashboardPipelinePricing:
      type: object
      properties:
        orchAddress: { type: string }
        orchName: { type: string }
        pipeline: { type: string }
        model: { type: string }
        priceWeiPerUnit: { type: integer }
        pixelsPerUnit: { type: integer }
        isWarm: { type: boolean }

    DashboardJobFeedItem:
      type: object
      properties:
        id: { type: string }
        pipeline: { type: string }
        model: { type: string }
        gateway: { type: string }
        orchestratorUrl: { type: string }
        state: { type: string }
        job_type: { type: string }
        inputFps: { type: number }
        outputFps: { type: number }
        firstSeen: { type: string, format: date-time }
        lastSeen: { type: string, format: date-time }
        durationSeconds: { type: number, nullable: true }

    StreamingModel:
      type: object
      properties:
        pipeline: { type: string }
        model: { type: string }
        warm_orch_count: { type: integer }
        gpu_slots: { type: integer }
        active_streams: { type: integer }
        available_capacity: { type: integer }
        avg_fps: { type: number }

    StreamingOrchestrator:
      type: object
      properties:
        address: { type: string }
        uri: { type: string }
        models:
          type: array
          items: { type: string }
        gpu_count: { type: integer }
        last_seen: { type: string, format: date-time }

    StreamingSLARow:
      type: object
      properties:
        window_start: { type: string, format: date-time }
        org: { type: string }
        orchestrator_address: { type: string }
        pipeline_id: { type: string }
        model_id: { type: string }
        gpu_id: { type: string }
        requested_sessions: { type: integer }
        startup_success_sessions: { type: integer }
        effective_success_rate: { type: number }
        no_swap_rate: { type: number }
        avg_output_fps: { type: number }
        sla_score: { type: number }

    CursorEnvelope_StreamingSLARow:
      type: object
      properties:
        data:
          type: array
          items: { $ref: "#/components/schemas/StreamingSLARow" }
        pagination: { $ref: "#/components/schemas/CursorPageInfo" }
        meta: { $ref: "#/components/schemas/Meta" }

    StreamingDemandRow:
      type: object
      properties:
        window_start: { type: string, format: date-time }
        org: { type: string }
        gateway: { type: string }
        pipeline_id: { type: string }
        model_id: { type: string }
        requested_sessions: { type: integer }
        startup_success_sessions: { type: integer }
        effective_success_rate: { type: number }
        total_minutes: { type: number }
        no_orch_sessions: { type: integer }

    CursorEnvelope_StreamingDemandRow:
      type: object
      properties:
        data:
          type: array
          items: { $ref: "#/components/schemas/StreamingDemandRow" }
        pagination: { $ref: "#/components/schemas/CursorPageInfo" }
        meta: { $ref: "#/components/schemas/Meta" }

    StreamingGPUMetricRow:
      type: object
      properties:
        window_start: { type: string, format: date-time }
        org: { type: string }
        orchestrator_address: { type: string }
        pipeline_id: { type: string }
        model_id: { type: string }
        gpu_id: { type: string }
        gpu_model_name: { type: string }
        known_sessions_count: { type: integer }
        startup_success_sessions: { type: integer }
        avg_output_fps: { type: number }
        avg_e2e_latency_ms: { type: number }
        swap_rate: { type: number }

    CursorEnvelope_StreamingGPUMetricRow:
      type: object
      properties:
        data:
          type: array
          items: { $ref: "#/components/schemas/StreamingGPUMetricRow" }
        pagination: { $ref: "#/components/schemas/CursorPageInfo" }
        meta: { $ref: "#/components/schemas/Meta" }

    RequestsModel:
      type: object
      properties:
        pipeline: { type: string }
        model: { type: string }
        job_type: { type: string }
        warm_orch_count: { type: integer }
        gpu_slots: { type: integer }
        job_count_24h: { type: integer }
        success_rate: { type: number }
        avg_duration_ms: { type: number }

    RequestsOrchestrator:
      type: object
      properties:
        address: { type: string }
        uri: { type: string }
        capabilities:
          type: array
          items: { type: string }
        gpu_count: { type: integer }
        last_seen: { type: string, format: date-time }

    AIBatchSummaryRow:
      type: object
      properties:
        pipeline: { type: string }
        total_jobs: { type: integer }
        selected_jobs: { type: integer }
        no_orch_jobs: { type: integer }
        success_rate: { type: number }
        avg_duration_ms: { type: number }

    AIBatchJobRecord:
      type: object
      properties:
        request_id: { type: string }
        org: { type: string }
        gateway: { type: string }
        pipeline: { type: string }
        model_id: { type: string }
        completed_at: { type: string, format: date-time }
        success: { type: boolean }
        tries: { type: integer }
        duration_ms: { type: integer }
        orch_url: { type: string }
        selection_outcome: { type: string }
        gpu_model_name: { type: string }
        attribution_status: { type: string }

    CursorEnvelope_AIBatchJobRecord:
      type: object
      properties:
        data:
          type: array
          items: { $ref: "#/components/schemas/AIBatchJobRecord" }
        pagination: { $ref: "#/components/schemas/CursorPageInfo" }
        meta: { $ref: "#/components/schemas/Meta" }

    AIBatchLLMSummaryRow:
      type: object
      properties:
        model: { type: string }
        total_requests: { type: integer }
        success_rate: { type: number }
        avg_tokens_per_sec: { type: number }
        avg_ttft_ms: { type: number }
        avg_total_tokens: { type: number }

    BYOCSummaryRow:
      type: object
      properties:
        capability: { type: string }
        total_jobs: { type: integer }
        selected_jobs: { type: integer }
        no_orch_jobs: { type: integer }
        success_rate: { type: number }
        avg_duration_ms: { type: number }

    BYOCJobRecord:
      type: object
      properties:
        request_id: { type: string }
        org: { type: string }
        capability: { type: string }
        model: { type: string }
        completed_at: { type: string, format: date-time }
        success: { type: boolean }
        duration_ms: { type: integer }
        http_status: { type: integer }
        orch_address: { type: string }
        orch_url: { type: string }
        worker_url: { type: string }
        selection_outcome: { type: string }
        gpu_model_name: { type: string }
        attribution_status: { type: string }
        error: { type: string }

    CursorEnvelope_BYOCJobRecord:
      type: object
      properties:
        data:
          type: array
          items: { $ref: "#/components/schemas/BYOCJobRecord" }
        pagination: { $ref: "#/components/schemas/CursorPageInfo" }
        meta: { $ref: "#/components/schemas/Meta" }

    BYOCWorkerRow:
      type: object
      properties:
        capability: { type: string }
        worker_count: { type: integer }
        models:
          type: array
          items: { type: string }
        avg_price_per_unit: { type: number }

    BYOCAuthRow:
      type: object
      properties:
        capability: { type: string }
        total_events: { type: integer }
        success_rate: { type: number }
        failure_count: { type: integer }
