openapi: "3.0.3"
info:
  title: NAAP Analytics API
  version: "1"
  description: |
    Read-only analytics API for the Livepeer AI network, backed by ClickHouse.

    **21 endpoints** organized into three sections:
    - **Dashboard** (7) — pre-aggregated widgets for the NAAP UI dashboard page
    - **Streaming** (5) — live-video-to-video session analytics
    - **Requests** (9) — AI Batch + BYOC request/response job analytics

    ## Conventions
    - All timestamps are UTC ISO 8601 / RFC 3339.
    - Cursor-paginated endpoints return `{data, pagination, meta}` envelopes.
    - Non-paginated endpoints return the payload directly.
    - Errors follow RFC 7807 `application/problem+json`.
    - Default time window is **24 hours** when `window` / `start` / `end` are omitted.
    - Rate limit: 100 req/s sustained, burst 200 per IP.

servers:
  - url: https://naap-api.livepeer.cloud
    description: Production
  - url: https://naap-api.cloudspe.com
    description: CloudSPE
  - url: http://localhost:8000
    description: Local development

tags:
  - name: Dashboard
    description: Pre-aggregated UI widgets combining streaming + requests data
  - name: Streaming
    description: Live-video-to-video session analytics
  - name: Requests
    description: AI Batch + BYOC request/response job analytics
  - name: Discover
    description: Ranked orchestrator list for routing/selection decisions

paths:
  # ──────────────────────── Dashboard (7 endpoints) ────────────────────────

  /v1/dashboard/kpi:
    get:
      operationId: getDashboardKPI
      tags: [Dashboard]
      summary: KPI summary with hourly timeseries
      description: |
        Success rate, active orchestrator count, session count, and usage minutes
        for the dashboard header, with hourly timeseries and period-over-period deltas.
        Returns two sections: `streaming` (live-video-to-video metrics over the
        requested window) and `requests` (AI Batch + BYOC job totals). The
        orchestrator count reflects the last 10-minute heartbeat window regardless
        of the time window parameter.
      parameters:
        - $ref: "#/components/parameters/DashboardWindow"
        - name: pipeline
          in: query
          schema: { type: string }
        - name: model_id
          in: query
          schema: { type: string }
      responses:
        "200":
          description: KPI payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardKPICombined"

  /v1/dashboard/pipelines:
    get:
      operationId: getDashboardPipelines
      tags: [Dashboard]
      summary: Pipeline usage breakdown
      description: |
        Pipeline-level usage rollup for the dashboard "Pipelines & GPUs" panel.
        Returns a `streaming` array (live-video-to-video pipelines with sessions,
        minutes, and weighted average FPS, broken down per model) and a `requests`
        object with AI Batch breakdown by pipeline and BYOC breakdown by capability.
        The `limit` parameter caps the streaming array length only.
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 5, minimum: 1, maximum: 20 }
        - $ref: "#/components/parameters/DashboardWindow"
      responses:
        "200":
          description: Pipeline usage payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardPipelinesCombined"

  /v1/dashboard/orchestrators:
    get:
      operationId: getDashboardOrchestrators
      tags: [Dashboard]
      summary: Orchestrator SLA table
      description: |
        One row per orchestrator for the Orchestrators table, with SLA metrics
        (effective success rate, no-swap rate, SLA score), known session count,
        observed pipelines/models, and GPU count. Capability inventory fields
        reflect orchestrators observed in the selected window rather than an
        authoritative live network state. Sorted by session volume.
        Default window is 7 days.
      parameters:
        - name: window
          in: query
          schema: { type: string, default: "7d" }
          description: "Time window (e.g. 24h, 7d). Max 30d."
      responses:
        "200":
          description: Orchestrator list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DashboardOrchestrator"

  /v1/dashboard/gpu-capacity:
    get:
      operationId: getDashboardGPUCapacity
      tags: [Dashboard]
      summary: GPU inventory summary
      description: |
        GPU inventory summary for the dashboard capacity widget. Returns the
        total unique GPU count, a breakdown by GPU model (RTX 4090, 5090, etc.),
        and a per-pipeline breakdown showing which GPU models serve which pipelines.
        A GPU shared across multiple pipelines appears in each pipeline's breakdown
        but is counted once in the total. Reflects GPUs observed in the last
        24 hours.
      responses:
        "200":
          description: GPU capacity payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardGPUCapacity"

  /v1/dashboard/pipeline-catalog:
    get:
      operationId: getDashboardPipelineCatalog
      tags: [Dashboard]
      summary: Available pipeline + model combinations
      description: |
        Available pipelines and their models, derived from orchestrator capability
        observations over the last 24 hours. Each entry is one pipeline
        (e.g., `live-video-to-video`, `openai-chat-completions`) with the set of
        models observed in that window. Used by the UI to populate filter dropdowns and
        the pipeline catalog view. The `regions` field is reserved for future use
        and is currently empty.
      responses:
        "200":
          description: Pipeline catalog
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DashboardPipelineCatalogEntry"

  /v1/dashboard/pricing:
    get:
      operationId: getDashboardPricing
      tags: [Dashboard]
      summary: Per-orchestrator pricing
      description: |
        Latest observed per-orchestrator price points in the last 24 hours.
        One row per (orchestrator, pipeline, model) combination with raw
        wei-per-unit pricing and pixels-per-unit. Capability-specific quotes
        win over older quotes in the same window.
      responses:
        "200":
          description: Pricing rows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DashboardPipelinePricing"

  /v1/dashboard/job-feed:
    get:
      operationId: getDashboardJobFeed
      tags: [Dashboard]
      summary: Live job/stream feed
      description: |
        Most recently active live-video-to-video streams for the job feed widget,
        ordered by last-seen timestamp descending. Returns only in-flight streams
        (completed sessions are excluded). Includes orchestrator URL, pipeline,
        model, gateway, input/output FPS, and elapsed duration.
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 50, minimum: 1, maximum: 200 }
      responses:
        "200":
          description: Job feed items
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DashboardJobFeedItem"

  # ──────────────────────── Streaming (5 endpoints) ────────────────────────

  /v1/streaming/models:
    get:
      operationId: getStreamingModels
      tags: [Streaming]
      summary: Streaming model capacity and performance
      description: |
        Per-model capacity and load view for the live-video-to-video streaming page.
        Each row shows observed warm orchestrator count, observed total GPU slots, currently active
        streams, available capacity (slots minus active), and 24-hour weighted
        average output FPS. Only includes the `live-video-to-video` pipeline.
        A negative `available_capacity` means slots are oversubscribed (multiple
        concurrent streams per GPU).
      responses:
        "200":
          description: Streaming model rows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/StreamingModel"

  /v1/streaming/orchestrators:
    get:
      operationId: getStreamingOrchestrators
      tags: [Streaming]
      summary: Streaming orchestrator inventory
      description: |
        Orchestrators observed serving `live-video-to-video` in the last 24 hours, with
        their service URI, observed models, and GPU count. Each orchestrator
        address appears at most once. Sorted by GPU count descending.
      responses:
        "200":
          description: Streaming orchestrator rows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/StreamingOrchestrator"

  /v1/streaming/sla:
    get:
      operationId: getStreamingSLA
      tags: [Streaming]
      summary: Streaming SLA compliance (cursor-paginated)
      description: |
        Hourly SLA compliance metrics per (orchestrator, pipeline, model, GPU)
        for live-video-to-video, derived from per-session health samples.
        Includes requested vs. successful sessions, effective success rate,
        no-swap rate, average output FPS, and a composite SLA score.
        Cursor-paginated; default window is the last 24 hours.
      parameters:
        - $ref: "#/components/parameters/WindowStart"
        - $ref: "#/components/parameters/WindowEnd"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: SLA compliance rows
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CursorEnvelope_StreamingSLARow"

  /v1/streaming/demand:
    get:
      operationId: getStreamingDemand
      tags: [Streaming]
      summary: Streaming network demand (cursor-paginated)
      description: |
        Hourly network demand as seen from the gateway side: how many sessions
        each gateway requested, how many started successfully, how many failed
        with no orchestrator available, and total minutes of usage.
        Cursor-paginated. Use this to analyze traffic and capacity gaps; for
        orchestrator-side quality metrics use `/streaming/sla` instead.
      parameters:
        - $ref: "#/components/parameters/WindowStart"
        - $ref: "#/components/parameters/WindowEnd"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Demand rows
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CursorEnvelope_StreamingDemandRow"

  /v1/streaming/gpu-metrics:
    get:
      operationId: getStreamingGPUMetrics
      tags: [Streaming]
      summary: Per-GPU streaming metrics (cursor-paginated)
      description: |
        Finest-grain performance data: one row per (hour, GPU) for
        live-video-to-video, with session counts, average output FPS,
        end-to-end latency, and swap rate. Use this to identify individual
        underperforming GPUs. Cursor-paginated; default window is the last 24 hours.
      parameters:
        - $ref: "#/components/parameters/WindowStart"
        - $ref: "#/components/parameters/WindowEnd"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: GPU metric rows
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CursorEnvelope_StreamingGPUMetricRow"

  # ──────────────────────── Requests (9 endpoints) ────────────────────────

  /v1/requests/models:
    get:
      operationId: getRequestsModels
      tags: [Requests]
      summary: Request-based model capacity and performance
      description: |
        Per-model capacity and load view for non-streaming pipelines
        (AI Batch + BYOC). Each row shows observed warm orchestrator count, observed GPU slots,
        and 24-hour job statistics (count, success rate, average duration).
        The `job_type` field indicates whether the model is served by AI Batch
        or BYOC orchestrators. Sorted by recent job volume.
      responses:
        "200":
          description: Request model rows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RequestsModel"

  /v1/requests/orchestrators:
    get:
      operationId: getRequestsOrchestrators
      tags: [Requests]
      summary: Request-based orchestrator inventory
      description: |
        Orchestrators observed serving non-streaming pipelines in the last 24 hours,
        with their service URI, observed capabilities (as `pipeline:model`
        strings), and GPU count. Each orchestrator address appears at most once.
        Sorted by GPU count descending.
      responses:
        "200":
          description: Request orchestrator rows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RequestsOrchestrator"

  /v1/requests/ai-batch/summary:
    get:
      operationId: getAIBatchSummary
      tags: [Requests]
      summary: AI Batch job summary by pipeline
      description: |
        AI Batch job totals grouped by pipeline (e.g., `text-to-image`, `llm`,
        `upscale`). Each row shows total jobs, how many were successfully selected
        vs. rejected for no-orchestrator-available, success rate, and average
        duration. Use for the AI Batch overview dashboard; for per-request details
        use `/requests/ai-batch/jobs`.
      parameters:
        - $ref: "#/components/parameters/WindowStart"
        - $ref: "#/components/parameters/WindowEnd"
      responses:
        "200":
          description: AI Batch summary rows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AIBatchSummaryRow"

  /v1/requests/ai-batch/jobs:
    get:
      operationId: listAIBatchJobs
      tags: [Requests]
      summary: AI Batch individual job records (cursor-paginated)
      description: |
        Individual AI Batch job records, one row per request, ordered by completion
        time descending. Includes success status, retry count, duration, the
        selected orchestrator URL, GPU model, and attribution status.
        Cursor-paginated. Use for audit trails, debugging failed requests, and
        drilling into specific jobs.
      parameters:
        - $ref: "#/components/parameters/WindowStart"
        - $ref: "#/components/parameters/WindowEnd"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: AI Batch job records
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CursorEnvelope_AIBatchJobRecord"

  /v1/requests/ai-batch/llm-summary:
    get:
      operationId: getAIBatchLLMSummary
      tags: [Requests]
      summary: AI Batch LLM-specific summary by model
      description: |
        LLM-specific performance metrics grouped by model (tokens/sec,
        time-to-first-token, average tokens per request, success rate).
        Covers only LLM requests from AI Batch traffic. Separate from
        `/requests/ai-batch/summary` because LLM throughput and token metrics
        don't apply to image or audio pipelines.
      parameters:
        - $ref: "#/components/parameters/WindowStart"
        - $ref: "#/components/parameters/WindowEnd"
      responses:
        "200":
          description: LLM summary rows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AIBatchLLMSummaryRow"

  /v1/requests/byoc/summary:
    get:
      operationId: getBYOCSummary
      tags: [Requests]
      summary: BYOC job summary by capability
      description: |
        BYOC (Bring-Your-Own-Compute) job totals grouped by capability
        (`openai-chat-completions`, `openai-image-generation`, etc.). Each row
        shows total jobs, selection outcome counts, success rate, and average
        duration. Use for the BYOC overview dashboard.
      parameters:
        - $ref: "#/components/parameters/WindowStart"
        - $ref: "#/components/parameters/WindowEnd"
      responses:
        "200":
          description: BYOC summary rows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BYOCSummaryRow"

  /v1/requests/byoc/jobs:
    get:
      operationId: listBYOCJobs
      tags: [Requests]
      summary: BYOC individual job records (cursor-paginated)
      description: |
        Individual BYOC job records, ordered by completion time descending.
        Includes HTTP status, worker URL, orchestrator selection outcome, GPU
        model, attribution status, and error message for failures.
        Cursor-paginated. Use for audit trails, debugging, and tracing specific
        requests through the orchestrator-worker chain.
      parameters:
        - $ref: "#/components/parameters/WindowStart"
        - $ref: "#/components/parameters/WindowEnd"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: BYOC job records
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CursorEnvelope_BYOCJobRecord"

  /v1/requests/byoc/workers:
    get:
      operationId: getBYOCWorkers
      tags: [Requests]
      summary: BYOC worker inventory by capability
      description: |
        BYOC worker inventory grouped by capability. Each row shows how many
        distinct workers were observed advertising the capability in the time window, the
        models they support, and their average price-per-unit. Use to understand
        supply-side composition for each capability.
      parameters:
        - $ref: "#/components/parameters/WindowStart"
        - $ref: "#/components/parameters/WindowEnd"
      responses:
        "200":
          description: BYOC worker rows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BYOCWorkerRow"

  /v1/requests/byoc/auth:
    get:
      operationId: getBYOCAuth
      tags: [Requests]
      summary: BYOC auth event summary by capability
      description: |
        Authentication event outcomes grouped by capability — how many auth
        attempts happened, the success rate, and failure count. Separate from
        job execution success; a capability can have healthy auth but failing
        jobs, or vice versa. Use to debug connectivity or credential issues.
      parameters:
        - $ref: "#/components/parameters/WindowStart"
        - $ref: "#/components/parameters/WindowEnd"
      responses:
        "200":
          description: BYOC auth rows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BYOCAuthRow"

  # ──────────────────────── Discover (1 endpoint) ────────────────────────

  /v1/discover/orchestrators:
    get:
      operationId: discoverOrchestrators
      tags: [Discover]
      summary: Ranked orchestrator+pipeline list with optional capability filter
      description: |
        Orchestrators eligible to serve jobs, decomposed into one row per
        (orchestrator, pipeline). An orch advertising N pipelines emits N rows
        sharing the same `address` and timestamps but each carrying its own
        `score` and `capabilities` list. For example, an orch serving
        `live-video-to-video` and `llm` produces 2 rows.

        Each row's score is derived from the last 2 hours of activity, routed
        by catalog flags: streaming capabilities (`supports_stream = 1`) use
        `api_hourly_streaming_sla` (`sla_score / 100`), and request-mode
        capabilities (builtin AI-batch and BYOC) use
        `api_hourly_request_demand` (success/job ratio). When no recent SLA
        data exists for that (orch, pipeline), score is `0.0` and
        `recent_work` is `false` — signaling the score is a placeholder, not
        a measurement. When SLA data exists, `recent_work` is `true` and the
        score is meaningful. Only orchestrators that heartbeated in the last
        30 minutes are included. BYOC capabilities are included; the pipeline
        key is the raw `capability_name` (e.g., `openai-chat-completions`).

        The optional `caps` query parameter is repeatable and uses **OR
        semantics**: a row is emitted whenever its pipeline has at least one
        matching `pipeline/model` in the caps list. The returned `capabilities`
        array still includes all of the orch's models for that pipeline.
        Callers needing AND semantics can group rows by `address` themselves.
        Intended for gateways and routing clients choosing a target.
      parameters:
        - name: caps
          in: query
          required: false
          description: |
            Repeatable capability filter in `pipeline/model` form. When supplied,
            rows whose pipeline has at least one matching capability are returned.
            Example: `?caps=live-video-to-video/streamdiffusion-sdxl&caps=llm/glm-4.7-flash`
          schema:
            type: array
            items: { type: string }
          style: form
          explode: true
      responses:
        "200":
          description: Discover-ranked orchestrator rows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DiscoverOrchestratorRow"

  # ──────────────────────── Infrastructure ────────────────────────

  /healthz:
    get:
      operationId: healthz
      summary: Health check
      responses:
        "200":
          description: Healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: "ok" }

components:
  parameters:
    DashboardWindow:
      name: window
      in: query
      schema: { type: string, default: "24h" }
      description: "Time window (e.g. 1h, 24h, 7d). Max 168h."

    WindowStart:
      name: start
      in: query
      schema: { type: string, format: date-time }
      description: "Window start (RFC 3339). Default: now - 24h."

    WindowEnd:
      name: end
      in: query
      schema: { type: string, format: date-time }
      description: "Window end (RFC 3339). Default: now."

    Limit:
      name: limit
      in: query
      schema: { type: integer, default: 50, minimum: 1, maximum: 1000 }

    Cursor:
      name: cursor
      in: query
      schema: { type: string }
      description: Opaque cursor for keyset pagination.

  schemas:
    CursorPageInfo:
      type: object
      properties:
        next_cursor: { type: string }
        has_more: { type: boolean }
        page_size: { type: integer }

    Meta:
      type: object
      properties:
        generated_at: { type: string, format: date-time }
        request_id: { type: string }

    MetricDelta:
      type: object
      properties:
        value: { type: number }
        delta: { type: number }

    HourlyBucket:
      type: object
      properties:
        hour: { type: string, format: date-time }
        value: { type: number }

    DashboardKPI:
      type: object
      properties:
        successRate: { $ref: "#/components/schemas/MetricDelta" }
        orchestratorsOnline: { $ref: "#/components/schemas/MetricDelta" }
        dailyUsageMins: { $ref: "#/components/schemas/MetricDelta" }
        dailySessionCount: { $ref: "#/components/schemas/MetricDelta" }
        dailyNetworkFeesEth: { $ref: "#/components/schemas/MetricDelta" }
        timeframeHours: { type: integer }
        hourlySessions:
          type: array
          items: { $ref: "#/components/schemas/HourlyBucket" }
        hourlyUsage:
          type: array
          items: { $ref: "#/components/schemas/HourlyBucket" }

    DashboardJobsOverview:
      type: object
      properties:
        ai_batch:
          $ref: "#/components/schemas/DashboardJobsStats"
        byoc:
          $ref: "#/components/schemas/DashboardJobsStats"

    DashboardJobsStats:
      type: object
      properties:
        total_jobs: { type: integer }
        selected_jobs: { type: integer }
        no_orch_jobs: { type: integer }
        success_rate: { type: number }
        avg_duration_ms: { type: number }

    DashboardKPICombined:
      type: object
      properties:
        streaming: { $ref: "#/components/schemas/DashboardKPI" }
        requests: { $ref: "#/components/schemas/DashboardJobsOverview" }

    DashboardPipelineModelMins:
      type: object
      properties:
        model: { type: string }
        mins: { type: number }
        sessions: { type: integer }
        avgFps: { type: number }

    DashboardPipelineUsage:
      type: object
      properties:
        name: { type: string }
        mins: { type: number }
        sessions: { type: integer }
        avgFps: { type: number }
        modelMins:
          type: array
          items: { $ref: "#/components/schemas/DashboardPipelineModelMins" }

    DashboardJobsByPipelineRow:
      type: object
      properties:
        pipeline: { type: string }
        total_jobs: { type: integer }
        selected_jobs: { type: integer }
        no_orch_jobs: { type: integer }
        success_rate: { type: number }
        avg_duration_ms: { type: number }

    DashboardJobsByCapabilityRow:
      type: object
      properties:
        capability: { type: string }
        total_jobs: { type: integer }
        selected_jobs: { type: integer }
        no_orch_jobs: { type: integer }
        success_rate: { type: number }
        avg_duration_ms: { type: number }

    DashboardPipelinesCombined:
      type: object
      properties:
        streaming:
          type: array
          items: { $ref: "#/components/schemas/DashboardPipelineUsage" }
        requests:
          type: object
          properties:
            by_pipeline:
              type: array
              items: { $ref: "#/components/schemas/DashboardJobsByPipelineRow" }
            by_capability:
              type: array
              items: { $ref: "#/components/schemas/DashboardJobsByCapabilityRow" }

    DashboardOrchestrator:
      type: object
      properties:
        address: { type: string }
        serviceUri: { type: string }
        knownSessions: { type: integer }
        successSessions: { type: integer }
        successRatio: { type: number }
        effectiveSuccessRate: { type: number, nullable: true }
        noSwapRatio: { type: number, nullable: true }
        slaScore: { type: number, nullable: true, description: "Composite SLA score (0–100)" }
        pipelines:
          type: array
          items: { type: string }
        pipelineModels:
          type: array
          items:
            type: object
            properties:
              pipelineId: { type: string }
              modelIds:
                type: array
                items: { type: string }
        gpuCount: { type: integer }

    DashboardGPUCapacity:
      type: object
      properties:
        totalGPUs: { type: integer }
        activeGPUs: { type: integer }
        availableCapacity: { type: number }
        models:
          type: array
          items:
            type: object
            properties:
              model: { type: string }
              count: { type: integer }
        pipelineGPUs:
          type: array
          items:
            type: object
            properties:
              name: { type: string }
              gpus: { type: integer }
              models:
                type: array
                items:
                  type: object
                  properties:
                    model: { type: string }
                    gpus: { type: integer }

    DashboardPipelineCatalogEntry:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        models:
          type: array
          items: { type: string }
        regions:
          type: array
          items: { type: string }

    DashboardPipelinePricing:
      type: object
      properties:
        orchAddress: { type: string }
        orchName: { type: string }
        pipeline: { type: string }
        model: { type: string }
        priceWeiPerUnit: { type: integer }
        pixelsPerUnit: { type: integer }
        isWarm: { type: boolean }

    DashboardJobFeedItem:
      type: object
      properties:
        id: { type: string }
        pipeline: { type: string }
        model: { type: string }
        gateway: { type: string }
        orchestratorUrl: { type: string }
        state: { type: string }
        job_type: { type: string }
        inputFps: { type: number }
        outputFps: { type: number }
        firstSeen: { type: string, format: date-time }
        lastSeen: { type: string, format: date-time }
        durationSeconds: { type: number, nullable: true }

    StreamingModel:
      type: object
      properties:
        pipeline: { type: string }
        model: { type: string }
        warm_orch_count: { type: integer }
        gpu_slots: { type: integer }
        active_streams: { type: integer }
        available_capacity: { type: integer }
        avg_fps: { type: number }

    StreamingOrchestrator:
      type: object
      properties:
        address: { type: string }
        uri: { type: string }
        models:
          type: array
          items: { type: string }
        gpu_count: { type: integer }
        last_seen: { type: string, format: date-time }

    StreamingSLARow:
      type: object
      properties:
        window_start: { type: string, format: date-time }
        org: { type: string }
        orchestrator_address: { type: string }
        pipeline_id: { type: string }
        model_id: { type: string }
        gpu_id: { type: string }
        requested_sessions: { type: integer }
        startup_success_sessions: { type: integer }
        effective_success_rate: { type: number }
        no_swap_rate: { type: number }
        avg_output_fps: { type: number }
        sla_score: { type: number }

    CursorEnvelope_StreamingSLARow:
      type: object
      properties:
        data:
          type: array
          items: { $ref: "#/components/schemas/StreamingSLARow" }
        pagination: { $ref: "#/components/schemas/CursorPageInfo" }
        meta: { $ref: "#/components/schemas/Meta" }

    StreamingDemandRow:
      type: object
      properties:
        window_start: { type: string, format: date-time }
        org: { type: string }
        gateway: { type: string }
        pipeline_id: { type: string }
        model_id: { type: string }
        requested_sessions: { type: integer }
        startup_success_sessions: { type: integer }
        effective_success_rate: { type: number }
        total_minutes: { type: number }
        no_orch_sessions: { type: integer }

    CursorEnvelope_StreamingDemandRow:
      type: object
      properties:
        data:
          type: array
          items: { $ref: "#/components/schemas/StreamingDemandRow" }
        pagination: { $ref: "#/components/schemas/CursorPageInfo" }
        meta: { $ref: "#/components/schemas/Meta" }

    StreamingGPUMetricRow:
      type: object
      properties:
        window_start: { type: string, format: date-time }
        org: { type: string }
        orchestrator_address: { type: string }
        pipeline_id: { type: string }
        model_id: { type: string }
        gpu_id: { type: string }
        gpu_model_name: { type: string }
        known_sessions_count: { type: integer }
        startup_success_sessions: { type: integer }
        avg_output_fps: { type: number }
        avg_e2e_latency_ms: { type: number }
        swap_rate: { type: number }

    CursorEnvelope_StreamingGPUMetricRow:
      type: object
      properties:
        data:
          type: array
          items: { $ref: "#/components/schemas/StreamingGPUMetricRow" }
        pagination: { $ref: "#/components/schemas/CursorPageInfo" }
        meta: { $ref: "#/components/schemas/Meta" }

    RequestsModel:
      type: object
      properties:
        pipeline: { type: string }
        model: { type: string }
        job_type: { type: string }
        warm_orch_count: { type: integer }
        gpu_slots: { type: integer }
        job_count_24h: { type: integer }
        success_rate: { type: number }
        avg_duration_ms: { type: number }

    RequestsOrchestrator:
      type: object
      properties:
        address: { type: string }
        uri: { type: string }
        capabilities:
          type: array
          items: { type: string }
        gpu_count: { type: integer }
        last_seen: { type: string, format: date-time }

    AIBatchSummaryRow:
      type: object
      properties:
        pipeline: { type: string }
        total_jobs: { type: integer }
        selected_jobs: { type: integer }
        no_orch_jobs: { type: integer }
        success_rate: { type: number }
        avg_duration_ms: { type: number }

    AIBatchJobRecord:
      type: object
      properties:
        request_id: { type: string }
        org: { type: string }
        gateway: { type: string }
        pipeline: { type: string }
        model_id: { type: string }
        completed_at: { type: string, format: date-time }
        success: { type: boolean }
        tries: { type: integer }
        duration_ms: { type: integer }
        orch_url: { type: string }
        selection_outcome: { type: string }
        gpu_model_name: { type: string }
        attribution_status: { type: string }

    CursorEnvelope_AIBatchJobRecord:
      type: object
      properties:
        data:
          type: array
          items: { $ref: "#/components/schemas/AIBatchJobRecord" }
        pagination: { $ref: "#/components/schemas/CursorPageInfo" }
        meta: { $ref: "#/components/schemas/Meta" }

    AIBatchLLMSummaryRow:
      type: object
      properties:
        model: { type: string }
        total_requests: { type: integer }
        success_rate: { type: number }
        avg_tokens_per_sec: { type: number }
        avg_ttft_ms: { type: number }
        avg_total_tokens: { type: number }

    BYOCSummaryRow:
      type: object
      properties:
        capability: { type: string }
        total_jobs: { type: integer }
        selected_jobs: { type: integer }
        no_orch_jobs: { type: integer }
        success_rate: { type: number }
        avg_duration_ms: { type: number }

    BYOCJobRecord:
      type: object
      properties:
        request_id: { type: string }
        org: { type: string }
        capability: { type: string }
        model: { type: string }
        completed_at: { type: string, format: date-time }
        success: { type: boolean }
        duration_ms: { type: integer }
        http_status: { type: integer }
        orch_address: { type: string }
        orch_url: { type: string }
        worker_url: { type: string }
        selection_outcome: { type: string }
        gpu_model_name: { type: string }
        attribution_status: { type: string }
        error: { type: string }

    CursorEnvelope_BYOCJobRecord:
      type: object
      properties:
        data:
          type: array
          items: { $ref: "#/components/schemas/BYOCJobRecord" }
        pagination: { $ref: "#/components/schemas/CursorPageInfo" }
        meta: { $ref: "#/components/schemas/Meta" }

    BYOCWorkerRow:
      type: object
      properties:
        capability: { type: string }
        worker_count: { type: integer }
        models:
          type: array
          items: { type: string }
        avg_price_per_unit: { type: number }

    BYOCAuthRow:
      type: object
      properties:
        capability: { type: string }
        total_events: { type: integer }
        success_rate: { type: number }
        failure_count: { type: integer }

    DiscoverOrchestratorRow:
      type: object
      properties:
        address:
          type: string
          description: Orchestrator service URI
        score:
          type: number
          minimum: 0
          maximum: 1
          description: |
            Fitness score; higher is better. When `recent_work` is true, this is
            a measured value derived from the last 2-hour SLA. When `recent_work`
            is false, this is `0.0` (placeholder — there's no measurement yet).
        capabilities:
          type: array
          items:
            type: string
            description: "`pipeline/model` pair (e.g., `live-video-to-video/streamdiffusion-sdxl`)"
        last_seen_ms:
          type: integer
          format: int64
          description: Unix millisecond timestamp of the most recent heartbeat
        last_seen:
          type: string
          format: date-time
          description: ISO 8601 representation of the most recent heartbeat
        recent_work:
          type: boolean
          description: |
            True when this (orchestrator, pipeline) had SLA samples in the last
            2 hours, meaning `score` is a meaningful measurement. False when
            there's been no recent activity, in which case `score` is a `0.0`
            placeholder.
