openapi: "3.0.3"
info:
  title: NAAP Analytics API v2
  version: "2"
  description: |
    Read-only analytics API for the Livepeer AI network, backed by ClickHouse.

    **10 endpoints** organized into two sections:
    - **Dashboard** (7) — pre-aggregated widgets for the NAAP UI dashboard page
    - **Network** (3) — model inventory and orchestrator discovery
      (`/v1/streaming/models`, `/v1/requests/models`, `/v1/discover/orchestrators`)

    ## Conventions
    - All timestamps are UTC ISO 8601 / RFC 3339.
    - Endpoints return the payload directly (no envelope).
    - Errors follow RFC 7807 `application/problem+json`.
    - Default time window is **24 hours** for endpoints that accept `window`.
    - Rate limit: 100 req/s sustained, burst 200 per IP.

servers:
  - url: https://naap-api.livepeer.cloud
    description: Production
  - url: https://naap-api.cloudspe.com
    description: CloudSPE
  - url: http://localhost:8000
    description: Local development

tags:
  - name: Dashboard
    description: Pre-aggregated UI widgets combining streaming + requests data
  - name: Network
    description: |
      Network-wide model inventory and orchestrator discovery. Includes
      streaming model capacity (`/v1/streaming/models`), non-streaming /
      AI Batch model capacity (`/v1/requests/models`), and the ranked
      orchestrator selection list for routing clients
      (`/v1/discover/orchestrators`).

paths:
  # ──────────────────────── Dashboard (7 endpoints) ────────────────────────

  /v1/dashboard/kpi:
    get:
      operationId: getDashboardKPI
      tags: [Dashboard]
      summary: KPI summary with hourly timeseries
      description: |
        Success rate, active orchestrator count, session count, and usage minutes
        for the dashboard header, with hourly timeseries and period-over-period deltas.
        Returns two sections: `streaming` (live-video-to-video metrics over the
        requested window) and `requests` (AI Batch + BYOC job totals). The
        orchestrator count reflects the last 10-minute heartbeat window regardless
        of the time window parameter.
      parameters:
        - $ref: "#/components/parameters/DashboardWindow"
        - name: pipeline
          in: query
          schema: { type: string }
        - name: model_id
          in: query
          schema: { type: string }
      responses:
        "200":
          description: KPI payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardKPICombined"

  /v1/dashboard/pipelines:
    get:
      operationId: getDashboardPipelines
      tags: [Dashboard]
      summary: Pipeline usage breakdown
      description: |
        Pipeline-level usage rollup for the dashboard "Pipelines & GPUs" panel.
        Returns a `streaming` array (live-video-to-video pipelines with sessions,
        minutes, and weighted average FPS, broken down per model) and a `requests`
        object with AI Batch breakdown by pipeline and BYOC breakdown by capability.
        The `limit` parameter caps the streaming array length only.
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 5, minimum: 1, maximum: 20 }
        - $ref: "#/components/parameters/DashboardWindow"
      responses:
        "200":
          description: Pipeline usage payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardPipelinesCombined"

  /v1/dashboard/orchestrators:
    get:
      operationId: getDashboardOrchestrators
      tags: [Dashboard]
      summary: Orchestrator SLA table
      description: |
        One row per orchestrator for the Orchestrators table, with SLA metrics
        (effective success rate, no-swap rate, SLA score), known session count,
        advertised pipelines/models, and GPU count. SLA metrics are weighted by
        requested session volume. Sorted by session volume. Default window is 7 days.
      parameters:
        - name: window
          in: query
          schema: { type: string, default: "7d" }
          description: "Time window (e.g. 24h, 7d). Max 30d."
      responses:
        "200":
          description: Orchestrator list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DashboardOrchestrator"

  /v1/dashboard/gpu-capacity:
    get:
      operationId: getDashboardGPUCapacity
      tags: [Dashboard]
      summary: GPU inventory summary
      description: |
        GPU inventory snapshot for the dashboard capacity widget. Returns the
        total unique GPU count, a breakdown by GPU model (RTX 4090, 5090, etc.),
        and a per-pipeline breakdown showing which GPU models serve which pipelines.
        A GPU shared across multiple pipelines appears in each pipeline's breakdown
        but is counted once in the total. Reflects orchestrators active in the last
        30 minutes.
      responses:
        "200":
          description: GPU capacity payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardGPUCapacity"

  /v1/dashboard/pipeline-catalog:
    get:
      operationId: getDashboardPipelineCatalog
      tags: [Dashboard]
      summary: Available pipeline + model combinations
      description: |
        Available pipelines and their models, derived from orchestrator capability
        announcements over the last 30 minutes. Each entry is one pipeline
        (e.g., `live-video-to-video`, `openai-chat-completions`) with the set of
        models currently offered. Used by the UI to populate filter dropdowns and
        the pipeline catalog view. The `regions` field is reserved for future use
        and is currently empty.
      responses:
        "200":
          description: Pipeline catalog
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DashboardPipelineCatalogEntry"

  /v1/dashboard/pricing:
    get:
      operationId: getDashboardPricing
      tags: [Dashboard]
      summary: Per-orchestrator pricing
      description: |
        Per-orchestrator price points for the pricing table, parsed from each
        orchestrator's capability announcement. One row per (orchestrator, pipeline,
        model) combination with raw wei-per-unit pricing and pixels-per-unit.
        Orchestrators with a capability-specific price list produce one row per
        capability; those with only a global `price_info` produce a single fallback
        row with an empty pipeline.
      responses:
        "200":
          description: Pricing rows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DashboardPipelinePricing"

  /v1/dashboard/job-feed:
    get:
      operationId: getDashboardJobFeed
      tags: [Dashboard]
      summary: Live job/stream feed
      description: |
        Most recently active live-video-to-video streams for the job feed widget,
        ordered by last-seen timestamp descending. Returns only in-flight streams
        (completed sessions are excluded). Includes orchestrator URL, pipeline,
        model, gateway, input/output FPS, and elapsed duration.
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 50, minimum: 1, maximum: 200 }
      responses:
        "200":
          description: Job feed items
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DashboardJobFeedItem"

  # ──────────────────────── Network (3 endpoints) ────────────────────────

  /v1/streaming/models:
    get:
      operationId: getStreamingModels
      tags: [Network]
      summary: Streaming model capacity and performance
      description: |
        Per-model capacity and load view for the live-video-to-video streaming page.
        Each row shows warm orchestrator count, total GPU slots, currently active
        streams, available capacity (slots minus active), and 24-hour weighted
        average output FPS. Only includes the `live-video-to-video` pipeline.
        A negative `available_capacity` means slots are oversubscribed (multiple
        concurrent streams per GPU).
      responses:
        "200":
          description: Streaming model rows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/StreamingModel"

  /v1/requests/models:
    get:
      operationId: getRequestsModels
      tags: [Network]
      summary: Request-based model capacity and performance
      description: |
        Per-model capacity and load view for non-streaming pipelines
        (AI Batch + BYOC). Each row shows warm orchestrator count, GPU slots,
        and 24-hour job statistics (count, success rate, average duration).
        The `job_type` field indicates whether the model is served by AI Batch
        or BYOC orchestrators. Sorted by recent job volume.
      responses:
        "200":
          description: Request model rows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RequestsModel"

  /v1/discover/orchestrators:
    get:
      operationId: discoverOrchestrators
      tags: [Network]
      summary: Ranked orchestrator+pipeline list with optional capability filter
      description: |
        Orchestrators eligible to serve jobs, decomposed into one row per
        (orchestrator, pipeline). An orch advertising N pipelines emits N rows
        sharing the same `address` and timestamps but each carrying its own
        `score` and `capabilities` list. For example, an orch serving
        `live-video-to-video` and `llm` produces 2 rows.

        Each row's score is `sla_score / 100` for that specific pipeline,
        derived from the last 2 hours of activity (`api_sla_compliance` for
        live-video-to-video, `api_requests_sla` for everything else). When no
        recent SLA data exists for that (orch, pipeline), score is `0.0` and
        `recent_work` is `false` — signaling the score is a placeholder, not
        a measurement. When SLA data exists, `recent_work` is `true` and the
        score is meaningful. Only orchestrators that heartbeated in the last
        30 minutes are included. Excludes BYOC capabilities (`openai-*`
        pipelines).

        The optional `caps` query parameter is repeatable and uses **OR
        semantics**: a row is emitted whenever its pipeline has at least one
        matching `pipeline/model` in the caps list. The returned `capabilities`
        array still includes all of the orch's models for that pipeline.
        Callers needing AND semantics can group rows by `address` themselves.
        Intended for gateways and routing clients choosing a target.
      parameters:
        - name: caps
          in: query
          required: false
          description: |
            Repeatable capability filter in `pipeline/model` form. When supplied,
            only orchestrators advertising every listed capability are returned.
            Example: `?caps=live-video-to-video/streamdiffusion-sdxl&caps=llm/glm-4.7-flash`
          schema:
            type: array
            items: { type: string }
          style: form
          explode: true
      responses:
        "200":
          description: Discover-ranked orchestrator rows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DiscoverOrchestratorRow"

  # ──────────────────────── Infrastructure ────────────────────────

  /healthz:
    get:
      operationId: healthz
      summary: Health check
      responses:
        "200":
          description: Healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: "ok" }

components:
  parameters:
    DashboardWindow:
      name: window
      in: query
      schema: { type: string, default: "24h" }
      description: "Time window (e.g. 1h, 24h, 7d). Max 168h."

  schemas:
    MetricDelta:
      type: object
      properties:
        value: { type: number }
        delta: { type: number }

    HourlyBucket:
      type: object
      properties:
        hour: { type: string, format: date-time }
        value: { type: number }

    DashboardKPI:
      type: object
      properties:
        successRate: { $ref: "#/components/schemas/MetricDelta" }
        orchestratorsOnline: { $ref: "#/components/schemas/MetricDelta" }
        dailyUsageMins: { $ref: "#/components/schemas/MetricDelta" }
        dailySessionCount: { $ref: "#/components/schemas/MetricDelta" }
        dailyNetworkFeesEth: { $ref: "#/components/schemas/MetricDelta" }
        timeframeHours: { type: integer }
        hourlySessions:
          type: array
          items: { $ref: "#/components/schemas/HourlyBucket" }
        hourlyUsage:
          type: array
          items: { $ref: "#/components/schemas/HourlyBucket" }

    DashboardJobsOverview:
      type: object
      properties:
        ai_batch:
          $ref: "#/components/schemas/DashboardJobsStats"
        byoc:
          $ref: "#/components/schemas/DashboardJobsStats"

    DashboardJobsStats:
      type: object
      properties:
        total_jobs: { type: integer }
        selected_jobs: { type: integer }
        no_orch_jobs: { type: integer }
        success_rate: { type: number }
        avg_duration_ms: { type: number }

    DashboardKPICombined:
      type: object
      properties:
        streaming: { $ref: "#/components/schemas/DashboardKPI" }
        requests: { $ref: "#/components/schemas/DashboardJobsOverview" }

    DashboardPipelineModelMins:
      type: object
      properties:
        model: { type: string }
        mins: { type: number }
        sessions: { type: integer }
        avgFps: { type: number }

    DashboardPipelineUsage:
      type: object
      properties:
        name: { type: string }
        mins: { type: number }
        sessions: { type: integer }
        avgFps: { type: number }
        modelMins:
          type: array
          items: { $ref: "#/components/schemas/DashboardPipelineModelMins" }

    DashboardJobsByPipelineRow:
      type: object
      properties:
        pipeline: { type: string }
        total_jobs: { type: integer }
        selected_jobs: { type: integer }
        no_orch_jobs: { type: integer }
        success_rate: { type: number }
        avg_duration_ms: { type: number }

    DashboardJobsByCapabilityRow:
      type: object
      properties:
        capability: { type: string }
        total_jobs: { type: integer }
        selected_jobs: { type: integer }
        no_orch_jobs: { type: integer }
        success_rate: { type: number }
        avg_duration_ms: { type: number }

    DashboardPipelinesCombined:
      type: object
      properties:
        streaming:
          type: array
          items: { $ref: "#/components/schemas/DashboardPipelineUsage" }
        requests:
          type: object
          properties:
            by_pipeline:
              type: array
              items: { $ref: "#/components/schemas/DashboardJobsByPipelineRow" }
            by_capability:
              type: array
              items: { $ref: "#/components/schemas/DashboardJobsByCapabilityRow" }

    DashboardOrchestrator:
      type: object
      properties:
        address: { type: string }
        serviceUri: { type: string }
        knownSessions: { type: integer }
        successSessions: { type: integer }
        successRatio: { type: number }
        effectiveSuccessRate: { type: number, nullable: true }
        noSwapRatio: { type: number, nullable: true }
        slaScore: { type: number, nullable: true }
        pipelines:
          type: array
          items: { type: string }
        pipelineModels:
          type: array
          items:
            type: object
            properties:
              pipelineId: { type: string }
              modelIds:
                type: array
                items: { type: string }
        gpuCount: { type: integer }

    DashboardGPUCapacity:
      type: object
      properties:
        totalGPUs: { type: integer }
        activeGPUs: { type: integer }
        availableCapacity: { type: number }
        models:
          type: array
          items:
            type: object
            properties:
              model: { type: string }
              count: { type: integer }
        pipelineGPUs:
          type: array
          items:
            type: object
            properties:
              name: { type: string }
              gpus: { type: integer }
              models:
                type: array
                items:
                  type: object
                  properties:
                    model: { type: string }
                    gpus: { type: integer }

    DashboardPipelineCatalogEntry:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        models:
          type: array
          items: { type: string }
        regions:
          type: array
          items: { type: string }

    DashboardPipelinePricing:
      type: object
      properties:
        orchAddress: { type: string }
        orchName: { type: string }
        pipeline: { type: string }
        model: { type: string }
        priceWeiPerUnit: { type: integer }
        pixelsPerUnit: { type: integer }
        isWarm: { type: boolean }

    DashboardJobFeedItem:
      type: object
      properties:
        id: { type: string }
        pipeline: { type: string }
        model: { type: string }
        gateway: { type: string }
        orchestratorUrl: { type: string }
        state: { type: string }
        job_type: { type: string }
        inputFps: { type: number }
        outputFps: { type: number }
        firstSeen: { type: string, format: date-time }
        lastSeen: { type: string, format: date-time }
        durationSeconds: { type: number, nullable: true }

    StreamingModel:
      type: object
      properties:
        pipeline: { type: string }
        model: { type: string }
        warm_orch_count: { type: integer }
        gpu_slots: { type: integer }
        active_streams: { type: integer }
        available_capacity: { type: integer }
        avg_fps: { type: number }

    RequestsModel:
      type: object
      properties:
        pipeline: { type: string }
        model: { type: string }
        job_type: { type: string }
        warm_orch_count: { type: integer }
        gpu_slots: { type: integer }
        job_count_24h: { type: integer }
        success_rate: { type: number }
        avg_duration_ms: { type: number }

    DiscoverOrchestratorRow:
      type: object
      properties:
        address:
          type: string
          description: Orchestrator service URI
        score:
          type: number
          minimum: 0
          maximum: 1
          description: |
            Fitness score; higher is better. When `recent_work` is true, this is
            a measured value derived from the last 1-hour SLA. When `recent_work`
            is false, this is `0.0` (placeholder — there's no measurement yet).
        capabilities:
          type: array
          items:
            type: string
            description: "`pipeline/model` pair (e.g., `live-video-to-video/streamdiffusion-sdxl`)"
        last_seen_ms:
          type: integer
          format: int64
          description: Unix millisecond timestamp of the most recent heartbeat
        last_seen:
          type: string
          format: date-time
          description: ISO 8601 representation of the most recent heartbeat
        recent_work:
          type: boolean
          description: |
            True when this (orchestrator, pipeline) had SLA samples in the last
            2 hours, meaning `score` is a meaningful measurement. False when
            there's been no recent activity, in which case `score` is a `0.0`
            placeholder.
