openapi: 3.0.3
info:
  title: NAAP Analytics API
  version: "1"
  description: |
    Read-only analytics API for the Livepeer AI Network Analytics Platform (NAAP).
    Backed by ClickHouse materialized views fed from two Kafka topics:
    `streaming_events` (live video-to-video streaming sessions, originating from the
    cloudspe org) and `network_events` (AI batch and BYOC request/response jobs,
    originating from the daydream org).

    **Three job types co-exist in this system:**
    - `stream` — persistent live video-to-video streaming sessions tracked in
      `streaming_events`. Metrics for this type appear in the `/v1/net/`, `/v1/perf/`,
      `/v1/sla/`, `/v1/network/`, `/v1/gpu/`, and most `/v1/dashboard/` endpoints.
    - `ai-batch` — fixed-pipeline discrete AI inference calls (text-to-image,
      image-to-image, image-to-video, upscale, audio-to-text, llm, segment-anything-2,
      image-to-text, text-to-speech) tracked in `network_events`. Metrics appear in
      `/v1/ai-batch/`, `/v1/jobs/`, and `/v1/dashboard/jobs/` endpoints.
    - `byoc` — Bring Your Own Capability jobs with dynamic capability names
      (e.g. `openai-chat-completions`, `openai-image-generation`,
      `openai-text-embeddings`) also tracked in `network_events`. Metrics appear in
      `/v1/byoc/`, `/v1/jobs/`, and `/v1/dashboard/jobs/` endpoints.

    **Streaming data and job data are fully separate namespaces.** No endpoint
    mixes streaming sessions with AI-batch or BYOC jobs. When in doubt, read the
    endpoint description carefully for its exact coverage.

    **Data pipeline:** Raw events land in ClickHouse via Kafka Engine tables, flow
    through Materialized Views into normalized tables, are transformed by dbt into
    canonical views, and are finally served from API-specific aggregation tables.
    Attribution of jobs to orchestrators and GPU hardware is performed by a Go
    resolver service that writes to `canonical_ai_batch_job_store` and
    `canonical_byoc_job_store` using a selection-centered attribution engine.
    Attribution status values are: `resolved` (full orch + GPU confirmed),
    `hardware_less` (orch confirmed, no GPU data), `stale` (only a stale capability
    snapshot was available), `ambiguous` (multiple incompatible candidates found),
    `unresolved` (no match found).

    **Rate limiting:** 100 req/s sustained, burst 200 per IP.
    Exceeded requests receive `429 Too Many Requests`.

    **Default time window:** last 24 hours when `start`/`end` are omitted.

    **WEI values** (payment amounts) are returned as decimal strings to avoid
    float64 precision loss (e.g. `"1234500000000000000"`).

    **All timestamps are UTC.**

    **Cursor pagination** uses base64-encoded JSON position markers. Pass the
    `next_cursor` value from the previous response as the `cursor` query parameter
    to retrieve the next page. Omit `cursor` on the first request.

    **Known null fields network-wide:** `region` is always null — it is not
    captured in any current event schema. `runner_version` and `cuda_version` in
    GPU metrics are always null.

servers:
  - url: https://naap-api.livepeer.cloud
    description: Production
  - url: https://naap-api.cloudspe.com
    description: CloudSPE
  - url: http://localhost:8000
    description: Local development

tags:
  - name: Health
  - name: Network
    description: |
      Orchestrator network state and model availability for the standard Livepeer
      AI protocol. All endpoints in this tag are sourced from orchestrator
      capability heartbeats and cover only Livepeer-protocol orchestrators. BYOC
      workers — which register via `worker_lifecycle` Kafka events and do not use
      the capability heartbeat protocol — do NOT appear in any Network endpoint.
      For BYOC worker availability, use `/v1/byoc/workers`.
  - name: Capacity
    description: |
      GPU supply versus active stream demand per (pipeline, model), sourced from
      `naap.canonical_capability_hardware_inventory` joined with
      `naap.canonical_active_stream_state_latest_store`. BYOC pipelines appear in
      capacity data because BYOC workers do register capability snapshots, but
      their `ActiveStreams` count is always zero because BYOC jobs are discrete
      request/response calls — not persistent streaming sessions — and are never
      reflected in the stream state table.
  - name: SLA
    description: |
      SLA compliance metrics for live streaming sessions per
      (orchestrator, pipeline, model, gpu, hour). Sourced from
      `naap.api_sla_compliance_store`. This tag covers streaming sessions only —
      AI-batch and BYOC job SLA is available at `/v1/jobs/sla`.
  - name: Demand
    description: |
      Network demand metrics for live streaming sessions per
      (gateway, pipeline, model, hour) and GPU-sliced variants. All endpoints
      under this tag are sourced from streaming-session tables (`naap.api_network_demand`
      and `naap.api_gpu_network_demand`) and cover streaming sessions only.
      AI-batch and BYOC demand is tracked separately at `/v1/jobs/demand`.
  - name: GPUMetrics
    description: |
      Per-GPU streaming performance metrics per (orchestrator, pipeline, model, gpu, hour),
      sourced from `naap.api_sla_compliance_store` (SLA hourly buckets). Covers streaming
      sessions only — not AI-batch or BYOC jobs. Several fields (`runner_version`,
      `cuda_version`, `fps_jitter_coefficient`, `region`) are always null because
      they are not captured in the current event schema.
  - name: AIBatch
    description: |
      AI batch job analytics for the nine fixed Livepeer AI pipelines:
      text-to-image, image-to-image, image-to-video, upscale, audio-to-text, llm,
      segment-anything-2, image-to-text, and text-to-speech. Data is sourced from
      `naap.canonical_ai_batch_jobs`, which is populated by the Go attribution
      resolver processing events from the `network_events` Kafka topic. Job records
      include attribution fields (`gpu_model`, `attribution_status`) written by the
      resolver. BYOC capabilities do NOT appear in any AIBatch endpoint.
  - name: BYOC
    description: |
      BYOC (Bring Your Own Capability) job analytics for dynamic capabilities such
      as `openai-chat-completions`, `openai-image-generation`, and
      `openai-text-embeddings`. Data is sourced from `naap.canonical_byoc_jobs` and
      `naap.canonical_byoc_workers`, populated by the resolver from `network_events`
      Kafka events. BYOC workers register via `worker_lifecycle` events rather than
      the standard Livepeer capability heartbeat, so they do not appear in
      `/v1/net/models` or `/v1/net/orchestrators`. The set of capability names is
      fully dynamic and never hardcoded in the API. In `/v1/jobs/sla`, BYOC rows
      use `orchestrator_uri` for the orchestrator service URL (e.g.
      `https://livepeer-ai.xodeapp.xyz:18935`) because BYOC jobs are identified
      by URL rather than on-chain address.
  - name: Jobs
    description: |
      Cross-type demand, SLA, and model-performance endpoints that cover both
      AI-batch and BYOC jobs. None of the Jobs endpoints include streaming session
      data. The `job_type` field in every response distinguishes `ai-batch` from
      `byoc` rows. `/v1/jobs/by-model` is the only endpoint in the entire API that
      shows AI-batch and BYOC model performance side by side in a single response.
  - name: Dashboard
    description: |
      Pre-aggregated, UI-ready endpoints for the NAAP dashboard widgets. KPI,
      pipeline usage, orchestrator table, GPU capacity, pipeline catalog, pricing,
      and live job feed widgets are all sourced from streaming-session data. The
      jobs sub-group (`/v1/dashboard/jobs/*`) covers AI-batch and BYOC jobs.
      Several dashboard endpoints return a plain JSON array (no `data` wrapper):
      `/v1/dashboard/pipeline-catalog`, `/v1/dashboard/pricing`, and
      `/v1/dashboard/job-feed`.

# ── Common parameter definitions ──────────────────────────────────────────────

components:
  parameters:
    org:
      name: org
      in: query
      description: Filter to a single organisation. Omit for all orgs.
      schema:
        type: string
        enum: [daydream, cloudspe]
    start:
      name: start
      in: query
      description: Window start (RFC3339). Defaults to 24 hours ago.
      schema:
        type: string
        format: date-time
        example: "2026-03-01T00:00:00Z"
    end:
      name: end
      in: query
      description: Window end (RFC3339). Defaults to now.
      schema:
        type: string
        format: date-time
        example: "2026-03-24T23:59:59Z"
    limit:
      name: limit
      in: query
      description: Maximum rows to return (1–1000).
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        default: 50
    cursor:
      name: cursor
      in: query
      description: Opaque cursor returned by the previous page. Omit on the first page.
      schema:
        type: string
    pipeline:
      name: pipeline
      in: query
      description: Filter by pipeline name (e.g. `text-to-image`).
      schema:
        type: string
    orch_address:
      name: orch_address
      in: query
      description: Filter by orchestrator Ethereum address (lowercased).
      schema:
        type: string
        example: ""
    active_only:
      name: active_only
      in: query
      description: When `true`, return only orchestrators active within the last 15 minutes.
      schema:
        type: boolean
        default: false
    stream_id:
      name: stream_id
      in: query
      schema:
        type: string
    failure_type:
      name: failure_type
      in: query
      description: Filter failure events by type.
      schema:
        type: string
        enum: [no_orch_available, orch_swap, inference_restart, inference_error]
    address_path:
      name: address
      in: path
      required: true
      description: Orchestrator Ethereum address (lowercased).
      schema:
        type: string
        example: ""
    window:
      name: window
      in: query
      description: |
        Lookback window as a duration string. Accepts Go duration syntax (`24h`, `90m`, `30s`)
        or a day suffix (`7d`). Capped per-endpoint — see endpoint description for limits.
      schema:
        type: string
        example: "24h"
        default: "24h"
    orchestrator_address:
      name: orchestrator_address
      in: query
      description: Filter by orchestrator Ethereum address (lowercased).
      schema:
        type: string
        example: ""
    orchestrator_uri:
      name: orchestrator_uri
      in: query
      description: Filter by non-streaming orchestrator service URI (lowercased).
      schema:
        type: string
        example: "https://orch.example.com:8935"
    pipeline_id:
      name: pipeline_id
      in: query
      description: Filter by pipeline name (e.g. `streamdiffusion-sdxl-v2v`).
      schema:
        type: string
    model_id:
      name: model_id
      in: query
      description: Filter by model identifier.
      schema:
        type: string
    gpu_id:
      name: gpu_id
      in: query
      description: Filter by GPU slot identifier.
      schema:
        type: string
    gateway_filter:
      name: gateway
      in: query
      description: Filter by gateway Ethereum address.
      schema:
        type: string
    gpu_model_name:
      name: gpu_model_name
      in: query
      description: Filter by GPU model name (e.g. `RTX-4090`).
      schema:
        type: string
    runner_version:
      name: runner_version
      in: query
      description: Filter by runner software version.
      schema:
        type: string
    cuda_version:
      name: cuda_version
      in: query
      description: Filter by CUDA version string.
      schema:
        type: string
    region:
      name: region
      in: query
      description: Filter by geographic region (currently always null — reserved for future use).
      schema:
        type: string

  schemas:

    # ── AI Batch (R17) ───────────────────────────────────────────────────────

    AIBatchJobSummary:
      type: object
      properties:
        pipeline:        { type: string, description: "Fixed pipeline name (e.g. text-to-image, llm)" }
        total_jobs:      { type: integer, format: int64 }
        selected_jobs:   { type: integer, format: int64, description: "Jobs with explicit orchestrator selection evidence." }
        no_orch_jobs:    { type: integer, format: int64, description: "Jobs that failed before selection with explicit no_orchestrators evidence." }
        unknown_jobs:    { type: integer, format: int64, description: "Jobs without enough evidence to classify selection outcome." }
        success_rate:    { type: number, format: double, description: "0.0–1.0" }
        avg_duration_ms: { type: number, format: double }
        avg_latency_score: { type: number, format: double }
        selected_attribution_worked_rate: { type: number, format: double, description: "Worked attribution rate on selection_outcome = selected, where worked = resolved + hardware_less + stale." }
      required: [pipeline, total_jobs, selected_jobs, no_orch_jobs, unknown_jobs, success_rate, avg_duration_ms, avg_latency_score, selected_attribution_worked_rate]

    AIBatchJobRecord:
      type: object
      properties:
        request_id:    { type: string }
        org:           { type: string }
        gateway:       { type: string }
        pipeline:      { type: string }
        model_id:      { type: string }
        completed_at:  { type: string, format: date-time }
        success:       { type: boolean, nullable: true }
        tries:         { type: integer, format: int64 }
        duration_ms:   { type: integer, format: int64 }
        orch_url:      { type: string }
        selection_outcome: { type: string, enum: [selected, no_orch, unknown] }
        latency_score: { type: number, format: double }
        price_per_unit: { type: number, format: double }
        error_type:    { type: string }
        error:         { type: string }
        gpu_model:     { type: string }
        attribution_status: { type: string, enum: [resolved, hardware_less, stale, ambiguous, unresolved] }
      required: [request_id, org, gateway, pipeline, model_id, completed_at, tries, duration_ms, orch_url, selection_outcome, latency_score, price_per_unit, error_type, error, attribution_status]

    AIBatchLLMSummary:
      type: object
      properties:
        model:             { type: string }
        total_requests:    { type: integer, format: int64 }
        success_rate:      { type: number, format: double, description: "0.0–1.0" }
        avg_tokens_per_sec: { type: number, format: double }
        avg_ttft_ms:       { type: number, format: double }
        avg_total_tokens:  { type: number, format: double }
      required: [model, total_requests, success_rate, avg_tokens_per_sec, avg_ttft_ms, avg_total_tokens]

    # ── BYOC (R18) ───────────────────────────────────────────────────────────

    BYOCJobSummary:
      type: object
      description: |
        Per-capability aggregate for BYOC jobs. Capability values are stored
        verbatim (e.g. "openai-chat-completions") and never hardcoded.
      properties:
        capability:      { type: string }
        total_jobs:      { type: integer, format: int64 }
        selected_jobs:   { type: integer, format: int64, description: "Jobs with explicit orchestrator selection evidence." }
        no_orch_jobs:    { type: integer, format: int64, description: "Jobs that failed before selection with explicit no_orchestrator evidence. Under the current raw contract this is usually zero." }
        unknown_jobs:    { type: integer, format: int64, description: "Jobs without enough evidence to classify selection outcome." }
        success_rate:    { type: number, format: double, description: "0.0–1.0" }
        avg_duration_ms: { type: number, format: double }
        selected_attribution_worked_rate: { type: number, format: double, description: "Worked attribution rate on selection_outcome = selected, where worked = resolved + hardware_less + stale." }
      required: [capability, total_jobs, selected_jobs, no_orch_jobs, unknown_jobs, success_rate, avg_duration_ms, selected_attribution_worked_rate]

    BYOCJobRecord:
      type: object
      properties:
        request_id:   { type: string }
        org:          { type: string }
        capability:   { type: string }
        completed_at: { type: string, format: date-time }
        success:      { type: boolean, nullable: true }
        duration_ms:  { type: integer, format: int64 }
        http_status:  { type: integer, format: int64 }
        orch_address: { type: string }
        orch_url:     { type: string }
        selection_outcome: { type: string, enum: [selected, no_orch, unknown] }
        worker_url:   { type: string }
        error:        { type: string }
        gpu_model:     { type: string }
        attribution_status: { type: string, enum: [resolved, hardware_less, stale, ambiguous, unresolved] }
      required: [request_id, org, capability, completed_at, duration_ms, http_status, orch_address, orch_url, selection_outcome, worker_url, error, attribution_status]

    BYOCWorkerSummary:
      type: object
      properties:
        capability:        { type: string }
        worker_count:      { type: integer, format: int64 }
        models:
          type: array
          items: { type: string }
        avg_price_per_unit: { type: number, format: double }
      required: [capability, worker_count, models, avg_price_per_unit]

    BYOCAuthSummary:
      type: object
      properties:
        capability:    { type: string }
        total_events:  { type: integer, format: int64 }
        success_rate:  { type: number, format: double, description: "0.0–1.0" }
        failure_count: { type: integer, format: int64 }
      required: [capability, total_events, success_rate, failure_count]

    # ── Jobs — request/response (R19) ───────────────────────────────────────

    JobsDemandRow:
      type: object
      properties:
        window_start:    { type: string, format: date-time }
        org:             { type: string, nullable: true }
        gateway:         { type: string }
        pipeline_id:     { type: string }
        model_id:        { type: string, nullable: true }
        job_type:        { type: string, enum: [ai-batch, byoc] }
        job_count:       { type: integer, format: int64 }
        success_count:   { type: integer, format: int64 }
        success_rate:    { type: number, format: double }
        avg_duration_ms: { type: number, format: double }
        total_minutes:   { type: number, format: double }
      required: [window_start, gateway, pipeline_id, job_type, job_count, success_count, success_rate, avg_duration_ms, total_minutes]

    JobsSLARow:
      type: object
      properties:
        window_start:         { type: string, format: date-time }
        org:                  { type: string, nullable: true }
        orchestrator_uri:     { type: string }
        pipeline_id:          { type: string }
        model_id:             { type: string, nullable: true }
        gpu_id:               { type: string, nullable: true }
        job_type:             { type: string, enum: [ai-batch, byoc] }
        job_count:            { type: integer, format: int64 }
        success_count:        { type: integer, format: int64 }
        success_rate:         { type: number, format: double }
        avg_duration_ms:      { type: number, format: double }
        sla_score:            { type: number, format: double, nullable: true }
      required: [window_start, orchestrator_uri, pipeline_id, job_type, job_count, success_count, success_rate, avg_duration_ms]

    JobModelPerformance:
      type: object
      properties:
        model_id:        { type: string }
        pipeline:        { type: string }
        job_type:        { type: string, enum: [ai-batch, byoc] }
        job_count:       { type: integer, format: int64 }
        warm_orch_count: { type: integer, format: int64 }
        avg_duration_ms: { type: number, format: double, nullable: true }
        p50_duration_ms: { type: number, format: double, nullable: true }
        p99_duration_ms: { type: number, format: double, nullable: true }
      required: [model_id, pipeline, job_type, job_count, warm_orch_count]

    # ── Dashboard (R16) ──────────────────────────────────────────────────────

    DashboardMetricDelta:
      type: object
      properties:
        value: { type: number, format: double }
        delta: { type: number, format: double, description: "Period-over-period % change" }
      required: [value, delta]

    DashboardHourlyBucket:
      type: object
      properties:
        hour: { type: string, format: date-time }
        value: { type: number, format: double }
      required: [hour, value]

    DashboardKPI:
      type: object
      properties:
        successRate:          { $ref: "#/components/schemas/DashboardMetricDelta" }
        orchestratorsOnline:  { $ref: "#/components/schemas/DashboardMetricDelta" }
        dailyUsageMins:       { $ref: "#/components/schemas/DashboardMetricDelta", description: "Total stream-minutes from api_network_demand" }
        dailySessionCount:    { $ref: "#/components/schemas/DashboardMetricDelta" }
        dailyNetworkFeesEth:  { $ref: "#/components/schemas/DashboardMetricDelta" }
        timeframeHours:       { type: integer }
        hourlySessions:
          type: array
          items: { $ref: "#/components/schemas/DashboardHourlyBucket" }
        hourlyUsage:
          type: array
          items: { $ref: "#/components/schemas/DashboardHourlyBucket" }

    DashboardPipelineModelMins:
      type: object
      properties:
        model:    { type: string }
        mins:     { type: number, format: double }
        sessions: { type: integer, format: int64 }
        avgFps:   { type: number, format: double }

    DashboardPipelineUsage:
      type: object
      properties:
        name:     { type: string }
        sessions: { type: integer, format: int64 }
        mins:     { type: number, format: double }
        avgFps:   { type: number, format: double }
        job_type: { type: string, description: "Job type (e.g. stream, ai-batch, byoc). Omitted for streaming pipelines.", nullable: true }
        modelMins:
          type: array
          items: { $ref: "#/components/schemas/DashboardPipelineModelMins" }
          description: "Per-model breakdown. Omitted when not available."

    DashboardPipelineModelOffer:
      type: object
      properties:
        pipelineId: { type: string }
        modelIds:
          type: array
          items: { type: string }

    DashboardOrchestrator:
      type: object
      properties:
        address:              { type: string }
        ensName:              { type: string, description: "ENS name if registered, empty otherwise" }
        serviceUri:           { type: string, description: "Orchestrator service URI (e.g. https://host:8935)" }
        knownSessions:        { type: integer, format: int64 }
        successSessions:      { type: integer, format: int64 }
        successRatio:         { type: number, format: double }
        effectiveSuccessRate: { type: number, format: double, nullable: true }
        noSwapRatio:          { type: number, format: double, nullable: true }
        slaScore:             { type: number, format: double, nullable: true, description: "Latest available hourly contracted sla_score for the orchestrator within the requested dashboard window." }
        slaWindowStart:       { type: string, format: date-time, nullable: true, description: "Hour bucket that produced slaScore." }
        pipelines:
          type: array
          items: { type: string }
        pipelineModels:
          type: array
          items: { $ref: "#/components/schemas/DashboardPipelineModelOffer" }
        gpuCount: { type: integer, format: int64 }

    DashboardGPUModelCapacity:
      type: object
      properties:
        model: { type: string }
        count: { type: integer, format: int64 }

    DashboardGPUCapacityPipelineModel:
      type: object
      properties:
        model: { type: string }
        gpus:  { type: integer, format: int64 }

    DashboardGPUCapacityPipeline:
      type: object
      properties:
        name: { type: string }
        gpus: { type: integer, format: int64 }
        models:
          type: array
          items: { $ref: "#/components/schemas/DashboardGPUCapacityPipelineModel" }

    DashboardGPUCapacity:
      type: object
      properties:
        totalGPUs:         { type: integer, format: int64 }
        activeGPUs:        { type: integer, format: int64 }
        availableCapacity: { type: number, format: double, description: "Fraction 0–1" }
        models:
          type: array
          items: { $ref: "#/components/schemas/DashboardGPUModelCapacity" }
        pipelineGPUs:
          type: array
          items: { $ref: "#/components/schemas/DashboardGPUCapacityPipeline" }

    DashboardPipelineCatalogEntry:
      type: object
      properties:
        id:      { type: string }
        name:    { type: string }
        models:
          type: array
          items: { type: string }
        regions:
          type: array
          items: { type: string }

    DashboardPipelinePricing:
      type: object
      properties:
        pipeline:           { type: string }
        model:              { type: string }
        orchCount:          { type: integer, format: int64 }
        priceMinWeiPerUnit: { type: integer, format: int64 }
        priceMaxWeiPerUnit: { type: integer, format: int64 }
        priceAvgWeiPerUnit: { type: number, format: double }
        pixelsPerUnit:      { type: integer, format: int64 }

    DashboardJobFeedItem:
      type: object
      properties:
        id:              { type: string }
        pipeline:        { type: string }
        model:           { type: string, nullable: true }
        gateway:         { type: string }
        orchestratorUrl: { type: string }
        state:           { type: string }
        job_type:        { type: string, description: "Job type (e.g. stream, ai-batch, byoc). Omitted for streaming.", nullable: true }
        inputFps:        { type: number, format: double }
        outputFps:       { type: number, format: double }
        firstSeen:       { type: string, format: date-time }
        lastSeen:        { type: string, format: date-time }
        durationSeconds: { type: number, format: double, nullable: true }

    # ── Dashboard Jobs ───────────────────────────────────────────────────────

    DashboardJobsStats:
      type: object
      description: Aggregate metrics for one job family (AI batch or BYOC).
      properties:
        total_jobs:     { type: integer, format: int64 }
        selected_jobs:  { type: integer, format: int64 }
        no_orch_jobs:   { type: integer, format: int64 }
        unknown_jobs:   { type: integer, format: int64 }
        success_rate:   { type: number, format: double, description: "0.0–1.0" }
        avg_duration_ms: { type: number, format: double }
        p99_duration_ms: { type: number, format: double }
        selected_attribution_worked_rate: { type: number, format: double, description: "Worked attribution rate on selection_outcome = selected." }
      required: [total_jobs, selected_jobs, no_orch_jobs, unknown_jobs, success_rate, avg_duration_ms, p99_duration_ms, selected_attribution_worked_rate]

    DashboardJobsOverview:
      type: object
      description: Top-level aggregate stats across AI batch and BYOC jobs.
      properties:
        ai_batch: { $ref: "#/components/schemas/DashboardJobsStats" }
        byoc:     { $ref: "#/components/schemas/DashboardJobsStats" }
      required: [ai_batch, byoc]

    DashboardJobsByPipelineRow:
      type: object
      description: Per-pipeline aggregate for AI batch jobs.
      properties:
        pipeline:       { type: string, description: "Pipeline name (e.g. text-to-image, llm)" }
        total_jobs:     { type: integer, format: int64 }
        selected_jobs:  { type: integer, format: int64 }
        no_orch_jobs:   { type: integer, format: int64 }
        unknown_jobs:   { type: integer, format: int64 }
        success_rate:   { type: number, format: double, description: "0.0–1.0" }
        avg_duration_ms: { type: number, format: double }
        selected_attribution_worked_rate: { type: number, format: double, description: "Worked attribution rate on selection_outcome = selected." }
      required: [pipeline, total_jobs, selected_jobs, no_orch_jobs, unknown_jobs, success_rate, avg_duration_ms, selected_attribution_worked_rate]

    DashboardJobsByCapabilityRow:
      type: object
      description: Per-capability aggregate for BYOC jobs.
      properties:
        capability:     { type: string, description: "Capability name (e.g. openai-chat-completions)" }
        total_jobs:     { type: integer, format: int64 }
        selected_jobs:  { type: integer, format: int64 }
        no_orch_jobs:   { type: integer, format: int64 }
        unknown_jobs:   { type: integer, format: int64 }
        success_rate:   { type: number, format: double, description: "0.0–1.0" }
        avg_duration_ms: { type: number, format: double }
        selected_attribution_worked_rate: { type: number, format: double, description: "Worked attribution rate on selection_outcome = selected." }
      required: [capability, total_jobs, selected_jobs, no_orch_jobs, unknown_jobs, success_rate, avg_duration_ms, selected_attribution_worked_rate]

    # ── Shared ──────────────────────────────────────────────────────────────

    ResponseMeta:
      type: object
      description: Standard response envelope metadata (ADR-002).
      properties:
        generated_at: { type: string, format: date-time, description: "UTC timestamp when the response was generated." }
        request_id:   { type: string, description: "Value of the X-Request-Id request header, if present." }

    Problem:
      description: RFC 7807 Problem Details error response.
      type: object
      properties:
        type:
          type: string
          example: "about:blank"
        title:
          type: string
          example: "Too Many Requests"
        status:
          type: integer
          example: 429
        detail:
          type: string
          example: "rate limit exceeded"

    WEI:
      description: |
        Payment value in wei (1e-18 ETH), returned as a decimal string to
        preserve full uint64 precision.
      type: string
      pattern: "^[0-9]+$"
      example: "1234500000000000000"

    FPSStats:
      type: object
      properties:
        Avg:
          type: number
          format: double
        P5:
          type: number
          format: double
        P50:
          type: number
          format: double
        P99:
          type: number
          format: double

    # ── Network (R1) ────────────────────────────────────────────────────────

    Orchestrator:
      type: object
      properties:
        Address:
          type: string
        Org:
          type: string
        Name:
          type: string
        URI:
          type: string
        Version:
          type: string
        LastSeen:
          type: string
          format: date-time
        IsActive:
          type: boolean
        RawCapabilities:
          type: string
          description: Raw JSON capabilities blob.

    ModelAvailability:
      type: object
      properties:
        Pipeline:
          type: string
        Model:
          type: string
        WarmOrchCount:
          type: integer
          format: int64
        TotalCapacity:
          type: integer
          format: int64
        PriceMinWeiPerPixel:
          type: integer
          format: int64
        PriceMaxWeiPerPixel:
          type: integer
          format: int64
        PriceAvgWeiPerPixel:
          type: number
          format: double

    # ── Model Performance (R12) ──────────────────────────────────────────────

    ModelPerformance:
      type: object
      properties:
        ModelID: { type: string }
        Pipeline: { type: string }
        AvgFPS: { type: number, format: double }
        P50FPS: { type: number, format: double }
        P99FPS: { type: number, format: double }
        WarmOrchCount: { type: integer, format: int64 }
        TotalStreams: { type: integer, format: int64 }

    OrchModelStats:
      type: object
      properties:
        Address: { type: string }
        Name: { type: string }
        AvgFPS: { type: number, format: double }
        IsWarm: { type: boolean }

    # ── Capacity (R15) ───────────────────────────────────────────────────────

    CapacityEntry:
      type: object
      properties:
        Pipeline: { type: string }
        ModelID: { type: string }
        WarmOrchCount: { type: integer, format: int64 }
        ActiveStreams: { type: integer, format: int64 }
        UtilizationPct: { type: number, format: double, description: "active streams / warm orchs (0–1)" }
        TotalVRAMBytes: { type: integer, format: int64 }

    CapacitySummary:
      type: object
      properties:
        SnapshotTime: { type: string, format: date-time }
        Entries:
          type: array
          items: { $ref: "#/components/schemas/CapacityEntry" }

    # ── SLA / GPU / Network Demand (ported from leaderboard-serverless) ──────

    CursorPagination:
      type: object
      description: Cursor pagination metadata included in list responses.
      properties:
        next_cursor: { type: string, example: "WyIyMDI2LTA0LTA5VDEyOjAwOjAwWiIsIjB4YWJjMTIzIl0" }
        has_more:    { type: boolean, example: true }
        page_size:   { type: integer, example: 50 }

    OrchestratorListResponse:
      type: object
      properties:
        data:
          type: array
          items: { $ref: "#/components/schemas/Orchestrator" }
        pagination: { $ref: "#/components/schemas/CursorPagination" }
        meta: { $ref: "#/components/schemas/ResponseMeta" }

    SLAComplianceRow:
      type: object
      description: SLA compliance metrics for one (orchestrator, pipeline, model, gpu, window) bucket.
      properties:
        window_start:                { type: string, format: date-time }
        org:                         { type: string, nullable: true }
        orchestrator_address:        { type: string, example: "0xabc123" }
        pipeline_id:                 { type: string, example: "streamdiffusion-sdxl-v2v" }
        model_id:                    { type: string, nullable: true }
        gpu_id:                      { type: string, nullable: true }
        gpu_model_name:              { type: string, nullable: true, description: "Hardware model surfaced for drilldown visibility. It is not part of cohort normalization." }
        region:                      { type: string, nullable: true, description: "Always null — not captured in event data." }
        known_sessions_count:        { type: integer, format: int64 }
        requested_sessions:          { type: integer, format: int64 }
        startup_success_sessions:    { type: integer, format: int64 }
        no_orch_sessions:            { type: integer, format: int64 }
        startup_excused_sessions:    { type: integer, format: int64, description: "Failed sessions whose KPI treatment is explicitly excused by canonical lifecycle rules." }
        startup_failed_sessions:     { type: integer, format: int64 }
        loading_only_sessions:       { type: integer, format: int64 }
        zero_output_fps_sessions:    { type: integer, format: int64 }
        output_failed_sessions:      { type: integer, format: int64, description: "Union count of requested sessions that were loading-only or zero-output; one session contributes at most once." }
        effective_failed_sessions:   { type: integer, format: int64 }
        confirmed_swapped_sessions:  { type: integer, format: int64, description: "Always 0 — confirmation signal absent." }
        inferred_swap_sessions:      { type: integer, format: int64 }
        total_swapped_sessions:      { type: integer, format: int64 }
        sessions_ending_in_error:    { type: integer, format: int64 }
        error_status_samples:        { type: integer, format: int64 }
        health_signal_count:         { type: integer, format: int64 }
        health_expected_signal_count: { type: integer, format: int64 }
        health_signal_coverage_ratio: { type: number, format: double, description: "Bounded to the inclusive range [0,1]." }
        startup_success_rate:        { type: number, format: double, nullable: true }
        excused_failure_rate:        { type: number, format: double, nullable: true }
        effective_success_rate:      { type: number, format: double, nullable: true }
        no_swap_rate:                { type: number, format: double, nullable: true }
        output_viability_rate:       { type: number, format: double, nullable: true, description: "1 - output_failed_sessions / requested_sessions; bounded to [0,1]." }
        output_fps_sum:              { type: number, format: double, description: "Additive FPS support field used for SLA quality scoring and safe higher-grain recomputation." }
        status_samples:              { type: integer, format: int64, description: "Additive FPS support count used for SLA quality scoring and safe higher-grain recomputation." }
        avg_output_fps:              { type: number, format: double, nullable: true, description: "Current-window mean output FPS derived from output_fps_sum / status_samples." }
        prompt_to_first_frame_sum_ms: { type: number, format: double, description: "Additive prompt-to-first-frame support field used for SLA quality scoring." }
        prompt_to_first_frame_sample_count: { type: integer, format: int64, description: "Current-window evidence count backing avg_prompt_to_first_frame_ms." }
        avg_prompt_to_first_frame_ms: { type: number, format: double, nullable: true, description: "Current-window mean prompt-to-playable latency used for benchmark-relative SLA quality scoring." }
        e2e_latency_sum_ms:          { type: number, format: double, description: "Additive E2E latency support field used for SLA quality scoring." }
        e2e_latency_sample_count:    { type: integer, format: int64, description: "Current-window evidence count backing avg_e2e_latency_ms." }
        avg_e2e_latency_ms:          { type: number, format: double, nullable: true, description: "Current-window mean E2E latency used for benchmark-relative SLA quality scoring." }
        reliability_score:           { type: number, format: double, nullable: true, description: "Bounded reliability component: (0.4×startup_success_rate)+(0.2×no_swap_rate)+(0.4×output_viability_rate)." }
        ptff_score:                  { type: number, format: double, description: "Benchmark-relative PTFF score after shrink-to-neutral. Rows at or below the 7-day cohort p50 score 1.0; rows at or above p90 score 0.0." }
        e2e_score:                   { type: number, format: double, description: "Benchmark-relative E2E score after shrink-to-neutral. Rows at or below the 7-day cohort p50 score 1.0; rows at or above p90 score 0.0." }
        latency_score:               { type: number, format: double, description: "0.6×ptff_score + 0.4×e2e_score." }
        fps_score:                   { type: number, format: double, description: "Benchmark-relative output-FPS score after shrink-to-neutral. Rows at or above the 7-day cohort p50 score 1.0; rows at or below p10 score 0.0." }
        quality_score:               { type: number, format: double, description: "0.6×latency_score + 0.4×fps_score." }
        sla_semantics_version:       { type: string, description: "Active SLA scoring contract version. Current value: quality-benchmark-v1." }
        sla_score:                   { type: number, format: double, nullable: true, description: "100×health_signal_coverage_ratio×((0.7×reliability_score)+(0.3×quality_score)), then clamped to [0,100]. Quality compares the current row to the prior 7 full UTC days of network-wide pipeline+model benchmarks." }

    SLAComplianceResponse:
      type: object
      properties:
        data:
          type: array
          items: { $ref: "#/components/schemas/SLAComplianceRow" }
        pagination: { $ref: "#/components/schemas/CursorPagination" }
        meta: { $ref: "#/components/schemas/ResponseMeta" }

    NetworkDemandRow:
      type: object
      description: Network demand metrics for one (gateway, pipeline, model, window) bucket.
      properties:
        window_start:                { type: string, format: date-time }
        org:                         { type: string, nullable: true }
        gateway:                     { type: string, example: "0xgateway123" }
        region:                      { type: string, nullable: true, description: "Always null." }
        pipeline_id:                 { type: string }
        model_id:                    { type: string, nullable: true }
        sessions_count:              { type: integer, format: int64 }
        avg_output_fps:              { type: number, format: double }
        output_fps_sum:              { type: number, format: double, description: "Additive FPS support field used for safe higher-grain recomputation." }
        status_samples:              { type: integer, format: int64, description: "Additive FPS support count used for safe higher-grain recomputation." }
        total_minutes:               { type: number, format: double }
        known_sessions_count:        { type: integer, format: int64 }
        requested_sessions:          { type: integer, format: int64 }
        startup_success_sessions:    { type: integer, format: int64 }
        no_orch_sessions:            { type: integer, format: int64 }
        startup_excused_sessions:    { type: integer, format: int64 }
        startup_failed_sessions:     { type: integer, format: int64 }
        loading_only_sessions:       { type: integer, format: int64 }
        zero_output_fps_sessions:    { type: integer, format: int64 }
        effective_failed_sessions:   { type: integer, format: int64 }
        confirmed_swapped_sessions:  { type: integer, format: int64 }
        inferred_swap_sessions:      { type: integer, format: int64 }
        total_swapped_sessions:      { type: integer, format: int64 }
        sessions_ending_in_error:    { type: integer, format: int64 }
        error_status_samples:        { type: integer, format: int64 }
        health_signal_count:         { type: integer, format: int64 }
        health_expected_signal_count: { type: integer, format: int64 }
        health_signal_coverage_ratio: { type: number, format: double, description: "Bounded to the inclusive range [0,1]." }
        startup_success_rate:        { type: number, format: double }
        excused_failure_rate:        { type: number, format: double }
        effective_success_rate:      { type: number, format: double }
        ticket_face_value_eth:       { type: number, format: double, description: "Proportional ETH payment estimate for this gateway's sessions." }

    NetworkDemandResponse:
      type: object
      properties:
        data:
          type: array
          items: { $ref: "#/components/schemas/NetworkDemandRow" }
        pagination: { $ref: "#/components/schemas/CursorPagination" }
        meta: { $ref: "#/components/schemas/ResponseMeta" }

    GPUNetworkDemandRow:
      type: object
      description: GPU-sliced network demand metrics for one (gateway, orchestrator, pipeline, model, gpu, window) bucket.
      properties:
        window_start:                { type: string, format: date-time }
        org:                         { type: string, nullable: true }
        gateway:                     { type: string }
        orchestrator_address:        { type: string }
        region:                      { type: string, nullable: true, description: "Always null." }
        pipeline_id:                 { type: string }
        model_id:                    { type: string, nullable: true }
        gpu_id:                      { type: string, nullable: true }
        gpu_identity_status:         { type: string, enum: [resolved, hardware_unresolved] }
        sessions_count:              { type: integer, format: int64 }
        avg_output_fps:              { type: number, format: double }
        output_fps_sum:              { type: number, format: double, description: "Additive FPS support field used for safe higher-grain recomputation." }
        status_samples:              { type: integer, format: int64, description: "Additive FPS support count used for safe higher-grain recomputation." }
        total_minutes:               { type: number, format: double }
        known_sessions_count:        { type: integer, format: int64 }
        requested_sessions:          { type: integer, format: int64 }
        startup_success_sessions:    { type: integer, format: int64 }
        no_orch_sessions:            { type: integer, format: int64 }
        startup_excused_sessions:    { type: integer, format: int64 }
        startup_failed_sessions:     { type: integer, format: int64 }
        loading_only_sessions:       { type: integer, format: int64 }
        zero_output_fps_sessions:    { type: integer, format: int64 }
        effective_failed_sessions:   { type: integer, format: int64 }
        confirmed_swapped_sessions:  { type: integer, format: int64 }
        inferred_swap_sessions:      { type: integer, format: int64 }
        total_swapped_sessions:      { type: integer, format: int64 }
        sessions_ending_in_error:    { type: integer, format: int64 }
        error_status_samples:        { type: integer, format: int64 }
        health_signal_count:         { type: integer, format: int64 }
        health_expected_signal_count: { type: integer, format: int64 }
        health_signal_coverage_ratio: { type: number, format: double, description: "Bounded to the inclusive range [0,1]." }
        startup_success_rate:        { type: number, format: double }
        excused_failure_rate:        { type: number, format: double }
        effective_success_rate:      { type: number, format: double }
        ticket_face_value_eth:       { type: number, format: double }

    GPUNetworkDemandResponse:
      type: object
      properties:
        data:
          type: array
          items: { $ref: "#/components/schemas/GPUNetworkDemandRow" }
        pagination: { $ref: "#/components/schemas/CursorPagination" }
        meta: { $ref: "#/components/schemas/ResponseMeta" }

    GPUMetric:
      type: object
      description: GPU performance metrics for one (orchestrator, pipeline, model, gpu, window) bucket.
      properties:
        window_start:                   { type: string, format: date-time }
        org:                            { type: string, nullable: true }
        orchestrator_address:           { type: string }
        pipeline_id:                    { type: string }
        model_id:                       { type: string, nullable: true }
        gpu_id:                         { type: string, nullable: true }
        region:                         { type: string, nullable: true, description: "Always null." }
        avg_output_fps:                 { type: number, format: double }
        output_fps_sum:                 { type: number, format: double, description: "Additive FPS support field used for safe higher-grain recomputation." }
        p95_output_fps:                 { type: number, format: double }
        fps_jitter_coefficient:         { type: number, format: double, nullable: true, description: "Always null — not computed." }
        status_samples:                 { type: integer, format: int64 }
        error_status_samples:           { type: integer, format: int64 }
        health_signal_count:            { type: integer, format: int64 }
        health_expected_signal_count:   { type: integer, format: int64 }
        health_signal_coverage_ratio:   { type: number, format: double, description: "Bounded to the inclusive range [0,1]." }
        gpu_model_name:                 { type: string, nullable: true }
        gpu_memory_bytes_total:         { type: integer, format: int64, nullable: true }
        runner_version:                 { type: string, nullable: true, description: "Always null." }
        cuda_version:                   { type: string, nullable: true, description: "Always null." }
        avg_prompt_to_first_frame_ms:   { type: number, format: double, nullable: true, description: "Mean prompt-to-playable proxy in milliseconds (`ai_stream_status.start_time` -> `gateway_receive_few_processed_segments`)." }
        prompt_to_first_frame_sum_ms:   { type: number, format: double, description: "Additive latency support field used for safe higher-grain recomputation." }
        avg_startup_latency_ms:         { type: number, format: double, nullable: true, description: "Mean startup proxy in milliseconds (`gateway_receive_stream_request` -> `gateway_receive_first_processed_segment`)." }
        startup_latency_sum_ms:         { type: number, format: double, description: "Additive latency support field used for safe higher-grain recomputation." }
        avg_e2e_latency_ms:             { type: number, format: double, nullable: true, description: "Mean E2E proxy in milliseconds (`gateway_send_first_ingest_segment` -> `runner_send_first_processed_segment`)." }
        e2e_latency_sum_ms:             { type: number, format: double, description: "Additive latency support field used for safe higher-grain recomputation." }
        p95_prompt_to_first_frame_latency_ms: { type: number, format: double, nullable: true, description: "P95 prompt-to-playable proxy in milliseconds (`ai_stream_status.start_time` -> `gateway_receive_few_processed_segments`)." }
        p95_startup_latency_ms:         { type: number, format: double, nullable: true, description: "P95 startup proxy in milliseconds (`gateway_receive_stream_request` -> `gateway_receive_first_processed_segment`)." }
        p95_e2e_latency_ms:             { type: number, format: double, nullable: true, description: "P95 E2E proxy in milliseconds (`gateway_send_first_ingest_segment` -> `runner_send_first_processed_segment`)." }
        prompt_to_first_frame_sample_count: { type: integer, format: int64 }
        startup_latency_sample_count:   { type: integer, format: int64 }
        e2e_latency_sample_count:       { type: integer, format: int64 }
        known_sessions_count:           { type: integer, format: int64 }
        startup_success_sessions:       { type: integer, format: int64 }
        no_orch_sessions:               { type: integer, format: int64 }
        startup_excused_sessions:       { type: integer, format: int64 }
        startup_failed_sessions:        { type: integer, format: int64 }
        confirmed_swapped_sessions:     { type: integer, format: int64 }
        inferred_swap_sessions:         { type: integer, format: int64 }
        total_swapped_sessions:         { type: integer, format: int64 }
        sessions_ending_in_error:       { type: integer, format: int64 }
        startup_failed_rate:            { type: number, format: double }
        swap_rate:                      { type: number, format: double }

    GPUMetricsResponse:
      type: object
      properties:
        data:
          type: array
          items: { $ref: "#/components/schemas/GPUMetric" }
        pagination: { $ref: "#/components/schemas/CursorPagination" }
        meta: { $ref: "#/components/schemas/ResponseMeta" }

  responses:
    429:
      description: Rate limit exceeded.
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    500:
      description: Internal server error.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    404:
      description: Resource not found.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    TooManyRequests:
      description: Rate limit exceeded.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }
    NotFound:
      description: Resource not found.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }
    BadRequest:
      description: Bad request.
      content:
        application/problem+json:
          schema: { $ref: "#/components/schemas/Problem" }

# ── Paths ──────────────────────────────────────────────────────────────────────

paths:

  /healthz:
    get:
      tags: [Health]
      summary: Health check
      description: |
        Returns 200 with `{"status":"ok"}` if the service and ClickHouse are healthy.
        Returns 503 if the ClickHouse ping fails. Use this endpoint for liveness and
        readiness probes — it performs a cheap no-op query against ClickHouse to
        confirm connectivity before returning.
      operationId: getHealth
      responses:
        "200":
          description: Service is healthy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok, degraded]
        "503":
          description: ClickHouse is unreachable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: degraded

  # ── Network ────────────────────────────────────────────────────────────────

  /v1/net/orchestrators:
    get:
      tags: [Network]
      summary: List orchestrators
      description: |
        Returns a cursor-paginated list of all known Livepeer AI orchestrators,
        ordered by `last_seen` descending. Backed by `naap.api_latest_orchestrator_state`,
        which is a ClickHouse view over the orchestrator capability heartbeat stream.
        Each row represents one orchestrator's most recent known state.

        `IsActive` is `true` when the orchestrator was seen within the last 15 minutes.
        Use `?active_only=true` to filter to currently active orchestrators only.

        `RawCapabilities` is the full JSON blob from the orchestrator's capability
        heartbeat — it contains the complete pipeline/model/price advertisement as
        broadcast by the node. Consumers may parse this blob to extract fine-grained
        capability details.

        **Important:** `total_count` in the pagination envelope is always `null`
        and is not computed. Do not rely on it for page-count calculations — use
        `has_more` instead to determine whether additional pages exist.

        **BYOC workers do not appear here.** BYOC workers register via
        `worker_lifecycle` Kafka events rather than the Livepeer capability heartbeat
        protocol, so they are never written to `api_latest_orchestrator_state`. Use
        `/v1/byoc/workers` for BYOC worker inventory.
      operationId: listOrchestrators
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/active_only"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/cursor"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OrchestratorListResponse" }
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"

  /v1/net/models:
    get:
      tags: [Network]
      summary: Model availability
      description: |
        Returns one row per (pipeline, model) combination currently offered by at
        least one warm Livepeer AI orchestrator, including warm orchestrator count
        and wei-per-pixel price range. Backed by `naap.api_latest_orchestrator_state`,
        parsing the `raw_capabilities` JSON of each active orchestrator to enumerate
        which (pipeline, model) pairs it advertises.

        This endpoint covers the nine standard Livepeer AI pipelines only:
        text-to-image, image-to-image, image-to-video, upscale, audio-to-text, llm,
        segment-anything-2, image-to-text, and text-to-speech.

        **BYOC models (e.g. `openai-chat-completions`) do NOT appear here.** BYOC
        workers register via `worker_lifecycle` Kafka events and never write to the
        capability heartbeat table that backs this endpoint. To see which BYOC
        capabilities and models are currently available, use `/v1/byoc/workers`.

        `WarmOrchCount` reflects orchestrators seen within the last 15 minutes at
        query time. Prices are in wei per pixel as advertised in the capability
        heartbeat; not all orchestrators set a price, so coverage may be sparse.
      operationId: listModels
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/pipeline"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ModelAvailability"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"


  # ── Model Performance (R12) ──────────────────────────────────────────────

  /v1/perf/by-model:
    get:
      summary: Streaming performance by AI model
      description: |
        Returns frames-per-second (FPS) performance statistics broken down by
        (model, pipeline) for live streaming sessions. Backed by
        `naap.api_gpu_inventory` joined with `naap.api_fps_hourly`. Each row
        summarises avg, P50, and P99 output FPS across all streaming sessions
        observed in the requested time window for that (model, pipeline) pair.

        This endpoint measures continuous video streaming throughput — it is
        meaningful only for pipelines that produce a continuous video output
        (e.g. streamdiffusion-sdxl-v2v). `WarmOrchCount` is derived from the
        current capability snapshot (not a historical aggregate).

        **BYOC and AI-batch models do NOT appear here, by design.** BYOC and
        AI-batch jobs are discrete request/response API calls with durations in
        the millisecond range. They do not produce continuous video streams, they
        generate no FPS measurements, and they are never written to
        `api_fps_hourly`. To compare AI-batch and BYOC model performance by
        duration (p50/p99 latency), use `/v1/jobs/by-model`, which is the
        dedicated cross-type model performance endpoint.
      operationId: listModelPerformance
      tags: [Network]
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
        - $ref: "#/components/parameters/pipeline"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/ModelPerformance" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  # ── Capacity (R15) ───────────────────────────────────────────────────────

  /v1/net/capacity:
    get:
      summary: Network capacity vs. demand
      description: |
        Returns a point-in-time snapshot of GPU supply versus active stream demand
        per (pipeline, model). Backed by `naap.canonical_capability_hardware_inventory`
        joined with `naap.canonical_active_stream_state_latest_store`.

        `WarmOrchCount` is the number of orchestrators offering the pipeline/model
        pair as of the most recent capability snapshot. `TotalVRAMBytes` is the
        sum of VRAM across all warm orchestrators for that pair. `ActiveStreams` is
        the count of currently live streaming sessions for the pair.

        **BYOC pipelines do appear in this response** because BYOC workers register
        their capabilities in the same capability snapshot mechanism. However,
        `ActiveStreams` is always 0 for BYOC pipelines because BYOC jobs use a
        discrete request/response model and are never reflected in the active
        stream state table. Do not interpret a non-zero `WarmOrchCount` with zero
        `ActiveStreams` on a BYOC pipeline as underutilisation — these are
        structurally different job types.

        The `SnapshotTime` field indicates when the underlying capability snapshot
        was taken. This endpoint does not accept time-range parameters; it always
        reflects the latest available snapshot.
      operationId: getCapacitySummary
      tags: [Capacity, Network]
      parameters:
        - $ref: "#/components/parameters/org"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CapacitySummary" }
        "429": { $ref: "#/components/responses/TooManyRequests" }

  # ── SLA / GPU / Network Demand (ported from leaderboard-serverless) ────────

  /v1/sla/compliance:
    get:
      summary: SLA compliance metrics
      description: |
        Returns per-orchestrator SLA compliance metrics aggregated into hourly
        buckets, grouped by (orchestrator_address, pipeline_id, model_id, gpu_id).
        Backed by `naap.api_sla_compliance_store`. This endpoint covers live
        streaming sessions only — AI-batch and BYOC job SLA is tracked separately
        at `/v1/jobs/sla`.

        The `sla_score` field is the primary composite quality metric: it equals
        `100 × health_signal_coverage_ratio × ((0.7 × reliability_score) + (0.3 ×
        quality_score))`, clamped to [0, 100]. Quality scoring compares the current
        row against the prior 7 full UTC days of network-wide pipeline+model
        benchmarks; the active scoring contract version is reported in
        `sla_semantics_version` (currently `quality-benchmark-v1`).

        `region` is always null — it is not captured in any current event schema.
        `confirmed_swapped_sessions` is always 0 because the confirmation signal
        is absent in the current event schema. Filtering on `region` is accepted
        but has no effect.

        **Window:** default 3h, min 1m, max 30d.
      operationId: listSLACompliance
      tags: [SLA]
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/window"
        - $ref: "#/components/parameters/orchestrator_address"
        - $ref: "#/components/parameters/pipeline_id"
        - $ref: "#/components/parameters/model_id"
        - $ref: "#/components/parameters/gpu_id"
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/cursor"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SLAComplianceResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "500": { $ref: "#/components/responses/500" }

  /v1/network/demand:
    get:
      summary: Network demand metrics
      description: |
        Returns gateway-level streaming demand aggregated into hourly buckets,
        grouped by (gateway, pipeline_id, model_id). Backed by
        `naap.api_network_demand`. This endpoint covers live streaming sessions
        only — AI-batch and BYOC demand is tracked separately at `/v1/jobs/demand`.

        Each row captures session counts, FPS statistics, stream-minutes, and
        detailed session lifecycle counters (startup success, swaps, errors) for
        one gateway/pipeline/model/hour combination. The `ticket_face_value_eth`
        field is a proportional ETH payment estimate for the gateway's sessions
        in that bucket.

        `region` is always null. This surface unions performance-backed hourly
        keys with session-demand keys so that demand-only rows (sessions with no
        FPS data) and perf-only rows both remain visible in the result set.

        **Window:** default 3h, min 1m, max 30d.
      operationId: listNetworkDemand
      tags: [Demand]
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/window"
        - $ref: "#/components/parameters/gateway_filter"
        - $ref: "#/components/parameters/pipeline_id"
        - $ref: "#/components/parameters/model_id"
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/cursor"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/NetworkDemandResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "500": { $ref: "#/components/responses/500" }

  /v1/gpu/network-demand:
    get:
      summary: GPU-sliced network demand metrics
      description: |
        Returns GPU-sliced gateway streaming demand aggregated into hourly buckets,
        grouped by (gateway, orchestrator_address, pipeline_id, model_id, gpu_id).
        Backed by `naap.api_gpu_network_demand`. This is the GPU-attributed view
        of the same streaming session data as `/v1/network/demand` — it adds
        per-GPU granularity at the cost of additional attribution uncertainty.

        Rows where GPU identity could not be resolved carry
        `gpu_identity_status = hardware_unresolved` and a null `gpu_id`. These
        rows remain visible so that unattributed session volume is not silently
        dropped. Rows with a confirmed GPU have `gpu_identity_status = resolved`.

        `region` is always null. This endpoint covers streaming sessions only —
        AI-batch and BYOC jobs do not produce GPU-sliced streaming demand rows.

        **Window:** default 3h, min 1m, max 30d.
      operationId: listGPUNetworkDemand
      tags: [Demand]
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/window"
        - $ref: "#/components/parameters/gateway_filter"
        - $ref: "#/components/parameters/orchestrator_address"
        - $ref: "#/components/parameters/pipeline_id"
        - $ref: "#/components/parameters/model_id"
        - $ref: "#/components/parameters/gpu_id"
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/cursor"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GPUNetworkDemandResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "500": { $ref: "#/components/responses/500" }

  /v1/gpu/metrics:
    get:
      summary: GPU performance metrics
      description: |
        Returns per-GPU streaming performance metrics aggregated into hourly
        buckets, grouped by (orchestrator_address, pipeline_id, model_id, gpu_id).
        Backed by `naap.api_sla_compliance_store` (the SLA hourly bucket table).
        Hardware dimensions (`gpu_model_name`, `gpu_memory_bytes_total`) are joined
        from the GPU inventory table. This endpoint covers streaming sessions only —
        AI-batch and BYOC jobs are not reflected in these metrics.

        Latency fields use canonical session-edge proxies rather than
        raw producer-reported status latency: `avg_prompt_to_first_frame_ms` is
        derived from `ai_stream_status.start_time` to
        `gateway_receive_few_processed_segments`; `avg_e2e_latency_ms` from
        `gateway_send_first_ingest_segment` to `runner_send_first_processed_segment`.

        **The following fields are always null network-wide and should not be used
        for filtering or analysis:** `region` (not captured in event data),
        `runner_version` (not captured), `cuda_version` (not captured),
        `fps_jitter_coefficient` (not computed). Filter parameters for these fields
        are accepted but have no effect.

        **Window:** default 24h, min 1m, max 72h.
      operationId: listGPUMetrics
      tags: [GPUMetrics]
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/window"
        - $ref: "#/components/parameters/orchestrator_address"
        - $ref: "#/components/parameters/pipeline_id"
        - $ref: "#/components/parameters/model_id"
        - $ref: "#/components/parameters/gpu_id"
        - $ref: "#/components/parameters/gpu_model_name"
        - $ref: "#/components/parameters/runner_version"
        - $ref: "#/components/parameters/cuda_version"
        - $ref: "#/components/parameters/region"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/cursor"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GPUMetricsResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "500": { $ref: "#/components/responses/500" }

  # ── Dashboard paths (R16) ─────────────────────────────────────────────────

  /v1/dashboard/kpi:
    get:
      summary: Dashboard KPI metrics
      description: |
        Returns top-level KPI metrics for the dashboard: success rate, active
        orchestrator count, total session count, usage minutes, and hourly
        time-series buckets for sessions and usage. Backed by
        `naap.api_network_demand` (for session and usage metrics) and
        `naap.api_latest_orchestrator_state` (for `orchestratorsOnline`).

        **This endpoint covers streaming sessions only.** AI-batch and BYOC job
        counts are NOT included in any KPI field here. The `dailySessionCount`
        and `dailyUsageMins` metrics reflect live video streaming sessions
        exclusively. For AI-batch and BYOC job overview metrics, use
        `/v1/dashboard/jobs/overview`.

        `dailyNetworkFeesEth` is always 0 — fees are not tracked in the current
        event schema and this field is reserved for future use.

        Deltas are computed by splitting the requested window into two equal halves
        and comparing the earlier half against the later half. A positive delta
        indicates growth from the first half to the second.

        **Window:** default 24h, max 168h (7 days). Accepts `?window=24h` or `?window=7d`.

        **Filters:** `pipeline` narrows session counts and usage minutes; `model_id`
        narrows usage minutes only (session counts are not tracked at model
        granularity in the underlying table).
      operationId: getDashboardKPI
      tags: [Dashboard]
      parameters:
        - $ref: "#/components/parameters/window"
        - $ref: "#/components/parameters/pipeline"
        - $ref: "#/components/parameters/model_id"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DashboardKPI" }
        "500": { $ref: "#/components/responses/500" }

  /v1/dashboard/pipelines:
    get:
      summary: Pipeline usage summary
      description: |
        Returns the top N streaming pipelines by session count over the last 24
        hours, suitable for the pipeline usage bar or pie chart widget. Each row
        contains total sessions, total usage minutes, average FPS, and a per-model
        breakdown (`modelMins`).

        **This endpoint covers streaming session pipelines only.** AI-batch and
        BYOC pipelines do not appear here. The data is sourced from
        `naap.api_network_demand` and reflects the last 24 hours regardless of any
        other time filter. For AI-batch pipeline breakdown, use
        `/v1/dashboard/jobs/by-pipeline`. For BYOC capability breakdown, use
        `/v1/dashboard/jobs/by-capability`.

        The `limit` parameter controls how many top pipelines are returned
        (1–20, default 5).
      operationId: getDashboardPipelines
      tags: [Dashboard]
      parameters:
        - name: limit
          in: query
          description: Maximum pipelines to return (1–20, default 5).
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 5
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/DashboardPipelineUsage" }
        "500": { $ref: "#/components/responses/500" }

  /v1/dashboard/orchestrators:
    get:
      summary: Orchestrator SLA table
      description: |
        Returns per-orchestrator SLA metrics aggregated over a rolling window,
        suitable for the orchestrator leaderboard table widget. Each row includes
        session counts, effective success rate, no-swap ratio, pipelines and models
        currently offered, GPU count from the hardware inventory, and the latest
        available hourly contracted `slaScore` within the requested window.

        `slaScore` is taken from the most recent hour bucket within the window that
        has a computed score — it is not a window-wide average. `slaWindowStart`
        indicates which hour bucket produced the score. If no scored bucket falls
        within the window, both fields are null.

        Data is sourced from `naap.api_sla_compliance_store` (for SLA metrics) and
        `naap.api_latest_orchestrator_state` (for pipeline/model/GPU inventory).
        This endpoint covers streaming orchestrators only — BYOC workers do not
        appear here.

        **Window:** default 7d (168h), max 30d (720h).
      operationId: getDashboardOrchestrators
      tags: [Dashboard]
      parameters:
        - $ref: "#/components/parameters/window"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/DashboardOrchestrator" }
        "500": { $ref: "#/components/responses/500" }

  /v1/dashboard/gpu-capacity:
    get:
      summary: GPU capacity inventory
      description: |
        Returns GPU hardware inventory grouped by pipeline, model, and GPU model,
        sourced from the latest capability snapshots (last 10 minutes). Suitable
        for the GPU capacity widget. The response includes total GPU count, active
        GPU count, available capacity fraction, a breakdown by GPU hardware model,
        and a nested breakdown by pipeline and model.

        Data is sourced from `naap.canonical_capability_hardware_inventory`, which
        is populated from orchestrator capability heartbeats. Only orchestrators
        active within the last 10 minutes are included.

        This endpoint does not accept time-range parameters — it always reflects
        the most recent capability snapshot. GPU counts reflect the number of GPU
        slots advertised in capability heartbeats, not necessarily the number of
        physically distinct cards.
      operationId: getDashboardGPUCapacity
      tags: [Dashboard]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DashboardGPUCapacity" }
        "500": { $ref: "#/components/responses/500" }

  /v1/dashboard/pipeline-catalog:
    get:
      summary: Active pipeline catalog
      description: |
        Returns all (pipeline, model) combinations currently offered by at least
        one warm orchestrator (seen within the last 10 minutes), sourced from
        `naap.api_latest_orchestrator_state`. Suitable for the pipeline catalog
        widget or for populating filter dropdowns.

        **Response format note:** This endpoint returns a plain JSON array — there
        is no `data` wrapper object and no `meta` envelope. The response body is
        directly an array of `DashboardPipelineCatalogEntry` objects.

        The `regions` array in each entry is always empty — region data is not
        captured in the current event schema. This endpoint covers the nine standard
        Livepeer AI pipelines only; BYOC capabilities do not appear here.
      operationId: getDashboardPipelineCatalog
      tags: [Dashboard]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/DashboardPipelineCatalogEntry" }
        "500": { $ref: "#/components/responses/500" }

  /v1/dashboard/pricing:
    get:
      summary: Pipeline pricing (raw wei)
      description: |
        Returns raw wei-per-unit pricing for each (pipeline, model) combination,
        aggregated across all active orchestrators (seen within the last 10 minutes).
        Suitable for the pricing widget. Prices are sourced directly from orchestrator
        capability heartbeats stored in `naap.api_latest_orchestrator_state`.

        `priceAvgWeiPerUnit` is the unweighted mean across orchestrators that
        advertise a price for that (pipeline, model) pair. To convert to a more
        human-readable scale: `price_in_gwei = avg / 1e9`.
        `orchCount` is the number of active orchestrators contributing to the price
        aggregation for that row.

        **Coverage is sparse.** Most orchestrators do not advertise explicit prices
        in their capability heartbeats, so many (pipeline, model) pairs will have
        `orchCount = 0` or will simply not appear in the response.

        **Response format note:** This endpoint returns a plain JSON array — there
        is no `data` wrapper object and no `meta` envelope.
      operationId: getDashboardPricing
      tags: [Dashboard]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/DashboardPipelinePricing" }
        "500": { $ref: "#/components/responses/500" }

  /v1/dashboard/job-feed:
    get:
      summary: Live job feed
      description: |
        Returns currently active streaming sessions ordered by most recently seen,
        each representing one live stream attributed to a gateway/orchestrator pair.
        Sourced from `naap.canonical_active_stream_state_latest_store`. Suitable
        for the live activity feed widget on the dashboard.

        **This endpoint covers streaming sessions only.** AI-batch and BYOC jobs are
        discrete request/response calls that complete in milliseconds and are never
        in a persistent "active" state, so they do not appear in this feed. Sessions
        with no orchestrator attribution yet appear with an empty `orchestratorUrl`
        field — this is normal during the brief period before the orchestrator
        assignment is confirmed.

        `durationSeconds` is the elapsed time since `firstSeen`. `inputFps` and
        `outputFps` are the most recently observed FPS values for the session.

        **Response format note:** This endpoint returns a plain JSON array — there
        is no `data` wrapper object and no `meta` envelope.

        The `limit` parameter controls the maximum number of active sessions returned
        (1–200, default 50).
      operationId: getDashboardJobFeed
      tags: [Dashboard]
      parameters:
        - name: limit
          in: query
          description: Maximum items to return (1–200, default 50).
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/DashboardJobFeedItem" }
        "500": { $ref: "#/components/responses/500" }

  /v1/dashboard/jobs/overview:
    get:
      summary: Jobs overview (AI batch + BYOC)
      description: |
        Returns top-level aggregate statistics for both AI-batch and BYOC jobs in
        the requested time window. Backed by `naap.canonical_ai_batch_jobs` and
        `naap.canonical_byoc_jobs`. The response contains two sub-objects —
        `ai_batch` and `byoc` — each with total job count, selection outcome
        counts (`selected`, `no_orch`, `unknown`), success rate, average
        duration, p99 duration, and selected-only attribution worked rate.

        This endpoint is the dashboard-level entry point for job health monitoring.
        Unlike streaming KPIs (available at `/v1/dashboard/kpi`), this endpoint
        covers only discrete request/response job types. Streaming sessions do not
        contribute to any field here.

        Optional `pipeline` and `model_id` filters scope both sub-aggregates to a
        specific pipeline or model. When filtered, rows that do not match are
        excluded from both counts and rates, so the resulting success rate reflects
        only the filtered subset.
      operationId: getDashboardJobsOverview
      tags: [Dashboard]
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
        - $ref: "#/components/parameters/pipeline"
        - $ref: "#/components/parameters/model_id"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/DashboardJobsOverview" }
                  meta: { $ref: "#/components/schemas/ResponseMeta" }
        "500": { $ref: "#/components/responses/500" }

  /v1/dashboard/jobs/by-pipeline:
    get:
      summary: AI batch jobs breakdown by pipeline
      description: |
        Returns per-pipeline aggregates (job count, selection outcome counts,
        success rate, average duration, and selected-only attribution worked
        rate) for AI-batch jobs in the requested time window. Backed by
        `naap.canonical_ai_batch_jobs`. Each row represents one fixed Livepeer
        AI pipeline (e.g. `text-to-image`, `llm`, `audio-to-text`).

        **This endpoint covers AI-batch jobs only.** BYOC jobs do not appear here.
        For BYOC capability breakdown, use `/v1/dashboard/jobs/by-capability`. For
        a combined AI-batch + BYOC overview, use `/v1/dashboard/jobs/overview`.

        The optional `pipeline` filter scopes results to a single pipeline. The
        optional `model_id` filter further scopes to a specific model within a
        pipeline, producing a single row (or no rows if the model has no jobs in
        the window).
      operationId: getDashboardJobsByPipeline
      tags: [Dashboard]
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
        - $ref: "#/components/parameters/pipeline"
        - $ref: "#/components/parameters/model_id"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/DashboardJobsByPipelineRow" }
                  meta: { $ref: "#/components/schemas/ResponseMeta" }
        "500": { $ref: "#/components/responses/500" }

  /v1/dashboard/jobs/by-capability:
    get:
      summary: BYOC jobs breakdown by capability
      description: |
        Returns per-capability aggregates (job count, selection outcome counts,
        success rate, average duration, and selected-only attribution worked
        rate) for BYOC jobs in the requested time window. Backed by
        `naap.canonical_byoc_jobs`. Each row represents one dynamic BYOC
        capability string (e.g. `openai-chat-completions`,
        `openai-image-generation`).

        **This endpoint covers BYOC jobs only.** AI-batch jobs do not appear here.
        For AI-batch pipeline breakdown, use `/v1/dashboard/jobs/by-pipeline`. For
        a combined overview, use `/v1/dashboard/jobs/overview`.

        The optional `pipeline` filter (which maps to `capability` in the BYOC
        context) scopes results to a single capability. The optional `model_id`
        filter scopes to a specific model within a capability. Capability names
        are stored and matched verbatim — they are never normalised or hardcoded.
      operationId: getDashboardJobsByCapability
      tags: [Dashboard]
      parameters:
        - $ref: "#/components/parameters/org"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/end"
        - $ref: "#/components/parameters/pipeline"
        - $ref: "#/components/parameters/model_id"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/DashboardJobsByCapabilityRow" }
                  meta: { $ref: "#/components/schemas/ResponseMeta" }
        "500": { $ref: "#/components/responses/500" }

  # ── AI Batch Jobs (R17) ───────────────────────────────────────────────────

  /v1/ai-batch/summary:
    get:
      summary: AI batch job summary by pipeline
      description: |
        Returns per-pipeline aggregates — total job count, selection outcome
        counts, success rate, average duration, average latency score, and a
        selected-only attribution worked rate — for completed AI-batch jobs in
        the requested time window. Backed by `naap.canonical_ai_batch_jobs`,
        which is populated by the Go attribution resolver processing events from
        the `network_events` Kafka topic.

        Covers the nine fixed Livepeer AI pipelines: text-to-image,
        image-to-image, image-to-video, upscale, audio-to-text, llm,
        segment-anything-2, image-to-text, and text-to-speech. BYOC capabilities
        never appear here. For LLM-specific metrics (tokens/sec, TTFT, total
        tokens), use `/v1/ai-batch/llm/summary`.

        The default time window is the last 24 hours. `avg_latency_score` is the
        mean of the per-job latency score computed by the resolver based on
        orchestrator response time relative to network benchmarks.
        `selected_attribution_worked_rate` uses `selection_outcome = selected`
        as the denominator and treats `resolved + hardware_less + stale` as
        worked attribution.
      operationId: getAIBatchSummary
      tags: [AIBatch]
      parameters:
        - { $ref: "#/components/parameters/org" }
        - { $ref: "#/components/parameters/start" }
        - { $ref: "#/components/parameters/end" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/AIBatchJobSummary" }
                  meta: { $ref: "#/components/schemas/ResponseMeta" }
        "500": { $ref: "#/components/responses/500" }

  /v1/ai-batch/jobs:
    get:
      summary: Paginated AI batch job records
      description: |
        Returns individual completed AI-batch job records ordered by
        `completed_at` descending, with cursor pagination. Backed by
        `naap.canonical_ai_batch_jobs`. Each record represents a single discrete
        AI inference request across any of the nine fixed pipelines.

        Attribution fields populated by the resolver include `gpu_model`
        (the GPU hardware model that served the job, if resolved),
        `selection_outcome` (`selected`, `no_orch`, `unknown`), and
        `attribution_status` (one of: `resolved`, `hardware_less`, `stale`,
        `ambiguous`, `unresolved`). `selection_outcome` is a job-lifecycle field
        independent from attribution status.

        `success` can be null when the outcome was not deterministically recorded
        in the event stream. `tries` reflects the number of orchestrator attempts
        before the job completed or failed. `orch_url` is the URL of the
        orchestrator that ultimately served the job (empty if unattributed).

        Cursor pagination uses base64-encoded JSON position markers. Pass the
        `next_cursor` from the previous response as `?cursor=` on the next request.
      operationId: listAIBatchJobs
      tags: [AIBatch]
      parameters:
        - { $ref: "#/components/parameters/org" }
        - { $ref: "#/components/parameters/start" }
        - { $ref: "#/components/parameters/end" }
        - { $ref: "#/components/parameters/limit" }
        - { $ref: "#/components/parameters/cursor" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/AIBatchJobRecord" }
                  pagination: { $ref: "#/components/schemas/CursorPagination" }
                  meta: { $ref: "#/components/schemas/ResponseMeta" }
        "400": { $ref: "#/components/responses/400" }
        "500": { $ref: "#/components/responses/500" }

  /v1/ai-batch/llm/summary:
    get:
      summary: LLM performance summary by model
      description: |
        Returns per-model LLM-specific performance metrics for the `llm` AI-batch
        pipeline only. Backed by `naap.canonical_ai_batch_jobs` joined with
        `naap.stg_ai_llm_requests`, which contains token-level telemetry emitted
        by LLM inference workers.

        Metrics include: total request count, success rate, average tokens per
        second (`avg_tokens_per_sec`), average time to first token in milliseconds
        (`avg_ttft_ms`), and average total tokens per request (`avg_total_tokens`).

        **This endpoint is exclusive to the `llm` pipeline.** All other AI-batch
        pipelines (text-to-image, audio-to-text, etc.) produce no LLM records and
        will return an empty result set if targeted via filtering. Token and TTFT
        data is only available for jobs where the LLM worker emitted the
        corresponding telemetry events; jobs with missing telemetry contribute to
        request counts but not to token or latency averages.
      operationId: getAIBatchLLMSummary
      tags: [AIBatch]
      parameters:
        - { $ref: "#/components/parameters/org" }
        - { $ref: "#/components/parameters/start" }
        - { $ref: "#/components/parameters/end" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/AIBatchLLMSummary" }
                  meta: { $ref: "#/components/schemas/ResponseMeta" }
        "500": { $ref: "#/components/responses/500" }

  # ── BYOC Jobs (R18) ───────────────────────────────────────────────────────

  /v1/byoc/summary:
    get:
      summary: BYOC job summary by capability
      description: |
        Returns per-capability aggregates — total job count, selection outcome
        counts, success rate, average duration, and a selected-only attribution
        worked rate — for completed BYOC jobs in the requested time window.
        Backed by `naap.canonical_byoc_jobs`, which is populated by the Go
        attribution resolver processing `network_events` Kafka events.

        Capability values are stored and returned verbatim as broadcast by BYOC
        workers (e.g. `openai-chat-completions`, `openai-image-generation`,
        `openai-text-embeddings`). The set of capabilities is fully dynamic and
        never hardcoded in the API — new capabilities appear automatically as BYOC
        workers register them. Fixed AI-batch pipelines never appear in this
        endpoint; use `/v1/ai-batch/summary` for those.

        The default time window is the last 24 hours.
        Under the current raw BYOC contract, `no_orch_jobs` is usually zero
        because blank-identity failures generally remain `unknown` until explicit
        pre-selection failure evidence exists.
      operationId: getBYOCSummary
      tags: [BYOC]
      parameters:
        - { $ref: "#/components/parameters/org" }
        - { $ref: "#/components/parameters/start" }
        - { $ref: "#/components/parameters/end" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/BYOCJobSummary" }
                  meta: { $ref: "#/components/schemas/ResponseMeta" }
        "500": { $ref: "#/components/responses/500" }

  /v1/byoc/jobs:
    get:
      summary: Paginated BYOC job records
      description: |
        Returns individual completed BYOC job records ordered by `completed_at`
        descending, with cursor pagination. Backed by `naap.canonical_byoc_jobs`.
        Each record represents a single discrete BYOC request for a dynamic
        capability.

        `capability` is the verbatim capability string as registered by the BYOC
        worker. `orch_address` is the orchestrator service URL for BYOC jobs (e.g.
        `https://livepeer-ai.xodeapp.xyz:18935`), not an Ethereum address —
        BYOC jobs are identified by URL rather than on-chain address. `worker_url`
        is the URL of the specific BYOC worker that handled the request; it is
        often empty because not all workers report it in the event payload.

        Attribution fields (`gpu_model`, `selection_outcome`,
        `attribution_status`) follow the same resolver-written schema as
        AI-batch jobs. `http_status` reflects the HTTP response code returned by
        the BYOC worker for the inference request.

        Cursor pagination uses base64-encoded JSON position markers.
      operationId: listBYOCJobs
      tags: [BYOC]
      parameters:
        - { $ref: "#/components/parameters/org" }
        - { $ref: "#/components/parameters/start" }
        - { $ref: "#/components/parameters/end" }
        - { $ref: "#/components/parameters/limit" }
        - { $ref: "#/components/parameters/cursor" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/BYOCJobRecord" }
                  pagination: { $ref: "#/components/schemas/CursorPagination" }
                  meta: { $ref: "#/components/schemas/ResponseMeta" }
        "400": { $ref: "#/components/responses/400" }
        "500": { $ref: "#/components/responses/500" }

  /v1/byoc/workers:
    get:
      summary: BYOC worker inventory by capability
      description: |
        Returns per-capability BYOC worker registrations, including worker count,
        the list of model IDs each capability serves, and average price per unit.
        Backed by `naap.canonical_byoc_workers`, which is populated from
        `worker_lifecycle` Kafka events emitted when BYOC workers start up or
        heartbeat their registration.

        **This is the canonical source for BYOC model availability.** Because BYOC
        workers do not use the Livepeer capability heartbeat protocol, they never
        appear in `/v1/net/models` or `/v1/net/orchestrators`. This endpoint is
        the only place in the API where BYOC model names (e.g.
        `Qwen/Qwen2.5-14B-Instruct-AWQ`) are directly enumerated per capability.

        `worker_count` is the number of distinct workers that registered the
        capability within the requested time window. `models` is the union of
        all model IDs reported by workers for that capability during the window.
        `avg_price_per_unit` is the mean price across registrations that included
        pricing information.
      operationId: getBYOCWorkers
      tags: [BYOC]
      parameters:
        - { $ref: "#/components/parameters/org" }
        - { $ref: "#/components/parameters/start" }
        - { $ref: "#/components/parameters/end" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/BYOCWorkerSummary" }
                  meta: { $ref: "#/components/schemas/ResponseMeta" }
        "500": { $ref: "#/components/responses/500" }

  /v1/byoc/auth:
    get:
      summary: BYOC auth event summary by capability
      description: |
        Returns per-capability authentication event counts, success rates, and
        failure counts from `job_auth` events in the requested time window. Backed
        by `naap.canonical_byoc_auth`. Auth events are emitted when a gateway
        attempts to authenticate a BYOC request with an orchestrator before
        dispatching it to the worker.

        `total_events` is the count of all auth events (successes + failures) for
        the capability. `success_rate` is the fraction of auth events that resulted
        in a successful authentication (0.0–1.0). `failure_count` is the raw count
        of failed auth events. A high failure rate may indicate credential issues,
        misconfigured workers, or gateway/orchestrator version mismatches.

        Capability names are stored verbatim. The default time window is the last
        24 hours.
      operationId: getBYOCAuthSummary
      tags: [BYOC]
      parameters:
        - { $ref: "#/components/parameters/org" }
        - { $ref: "#/components/parameters/start" }
        - { $ref: "#/components/parameters/end" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/BYOCAuthSummary" }
[...]
