services:
  clickhouse:
    image: clickhouse/clickhouse-server:24.11
    container_name: livepeer-analytics-clickhouse
    ports:
      - "8123:8123"
    volumes:
      - naap_clickhouse_data:/var/lib/clickhouse
      - naap_clickhouse_user_config:/etc/clickhouse-server/users.d
      - naap_clickhouse_db_config:/docker-entrypoint-initdb.d
    environment:
      CLICKHOUSE_DB: livepeer_analytics
      CLICKHOUSE_USER: analytics_user
      CLICKHOUSE_PASSWORD: analytics_password
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: 1
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "livepeer-analytics-clickhouse:8123/ping"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  naap_clickhouse_data:
    external: true
  naap_clickhouse_user_config:
    external: true
  naap_clickhouse_db_config:
    external: true

networks:
  default:
    name: livepeer-tester-network
    external: true