services:
  flink-jobmanager:
    image: flink:1.20.3-java11
    container_name: livepeer-analytics-flink-jobmanager
    user: root
    ports:
      - "8081:8081"
    command: jobmanager
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: livepeer-analytics-flink-jobmanager
        web.tmpdir: /opt/flink/storage/web-tmp
        parallelism.default: 1
        state.backend: rocksdb
        state.checkpoints.dir: file:///opt/flink/storage/checkpoints
        state.savepoints.dir: file:///opt/flink/storage/savepoints
        state.backend.incremental: true
        execution.checkpointing.interval: 60000
        execution.checkpointing.min-pause: 30000
        execution.checkpointing.timeout: 600000
        execution.checkpointing.externalized-checkpoints-retention: RETAIN_ON_CANCELLATION
    volumes:
      - naap_flink_data:/opt/flink/storage

    healthcheck:
      test: [ "CMD", "curl", "-f", "http://livepeer-analytics-flink-jobmanager:8081/overview" ]
      interval: 10s
      timeout: 5s
      retries: 5

  flink-taskmanager:
    image: flink:1.20.3-java11
    container_name: livepeer-analytics-flink-taskmanager
    user: root
    depends_on:
      - flink-jobmanager
    command: taskmanager
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: livepeer-analytics-flink-jobmanager
        web.tmpdir: /opt/flink/storage/web-tmp
        taskmanager.numberOfTaskSlots: 4
        parallelism.default: 1
        state.backend: rocksdb
        state.backend.incremental: true
        state.checkpoints.dir: file:///opt/flink/storage/checkpoints
        execution.checkpointing.interval: 60000
        execution.checkpointing.min-pause: 30000
        execution.checkpointing.timeout: 600000
    volumes:
      - naap_flink_data:/opt/flink/storage

volumes:
  naap_flink_data:
    external: true

networks:
  default:
    name: livepeer-tester-network
    external: true